main {
  padding: 1rem;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px 50px 30px 50px;
  border-radius: 4px;
}

h1.title:after {
  content: ' ';
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.borderless {
  td, th {
    border: none;
  }
}
