main {
  padding: 1rem;

  [id] {
    // workaround for anchor jump with fixed header
    margin-top: -70px;
    padding-top: 70px;
  }

  .container {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px 50px 30px 50px;
    border-radius: 4px;
  }

  h1.title:after {
    content: ' ';
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .borderless {
    td, th {
      border: none;
    }
  }

  [data-icon^='source'],
  [data-icon^='sift'],
  [data-icon^='polyphen'] {
    position: relative;
    padding-left: 2.5rem;

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto auto 0;
    }
  }
}
