#AdvancedSearchView
  .search-field-view
    padding: 14px $PADDING_SIDE
    > .fieldcontainer>.field
      >input[type="text"]
        width: 100%
  &.-current
   .search-field-view
      > .suggest-view
        top: 46px
        left: 36px

