$SIZE: 30px

#SearchView
  background-color: desaturate(lighten($COLOR_KEY, 18%), 8%)
  padding: 14px $PADDING_SIDE 10px

  > .searchform
    margin-bottom: 4px

    > .searchinput
      width: calc(100% - #{$SIZE - 2px})
      line-height: $SIZE
      height: $SIZE
      border: solid 1px $COLOR_KEY_DEEP
      border-radius: $SIZE * 0.5
      margin-left: -3px
      padding: 0 12px
      vertical-align: top
      font-size: 12px
      outline: none
      opacity: .9

      &:focus
        opacity: 1

    > .searchbutton
      width: $SIZE
      height: $SIZE
      border: solid 1px $COLOR_KEY_DEEP
      border-radius: 100%
      margin-right: -4px
      position: relative
      background-color: white
      box-shadow: 0 1px 1px rgba(black, 0.2)

      &:before, &:after
        content: ""
        display: block
        position: absolute

      &:before
        width: 12px
        height: 12px
        border: solid 2px $COLOR_KEY_DEEP
        border-radius: 6px
        top: 6px
        left: 6px

      &:after
        height: 5px
        border-left: solid 2px $COLOR_KEY_DEEP
        transform: rotate(-45deg)
        top: 16px
        left: 17px

  > .searchexamples
    font-size: 12px
    line-height: 16px
    margin-bottom: 0
    padding: 0 .5em
    display: inline-block
    border-radius: 8px
    cursor: pointer
    transition: background-color $GUI_DURATION, box-shadow $GUI_DURATION

    > dt, > dd
      display: inline-block
      margin-bottom: 0
      transition: color $GUI_DURATION

    > dt
      font-weight: normal
      color: rgba(black, .4)

      &:after
        content: ":"

    > dd
      color: $COLOR_BLACK

    &:hover
      background-color: $COLOR_KEY_DEEP
      box-shadow: 0 1px 0px rgba(black, .4)

      > dt, > dd
        color: white

  > .suggest-view
    position: absolute
    top: 94px + $HEIGHT_NBDC_COMMON_HEADER
    left: 21px

