#SideBar {
  box-shadow: 2px 0 3px rgba(black, 0.2) inset;
  box-sizing: border-box;
  padding: 0 $PADDING_SIDEBAR_SIDE;
  width: $WIDTH_SIDEBAR * 2;
  height: 100%;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: contain;
  transform: translateX(-297px);
  white-space: nowrap;

  body.-sidebar-ready & {
    transition: transform $GUI_DURATION;
  }

  > .sidebarcontent {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 5px 0 15px;
    width: $WIDTH_SIDEBAR - $PADDING_SIDEBAR_SIDE * 2;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    white-space: initial;

    > .title {
      position: relative;
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;

      > .simple {
        body[data-search-mode='advanced'] & {
          display: none;
        }
      }

      > .advanced {
        body[data-search-mode='simple'] & {
          display: none;
        }
      }

      > .button-view {
        // stretch（デフォルト）で引き伸ばされないよう自身の高さを持たせる。
        align-self: center;
        height: 20px;
        font-size: 12px;

        body[data-search-mode='advanced'] & {
          display: none;
        }
      }
    }

    + .sidebarcontent {
      margin-left: 25px;
    }
  }

  body.-rowselected & {
    transform: translateX(0);
  }
}
