#SimpleSearchView
  > .search-field-view
    > .fieldcontainer, > .examples
      display: none
  &.-current
    > .search-field-view
      padding: 14px $PADDING_SIDE 14px
      > .fieldcontainer, > .examples
        display: block
      // > .fieldcontainer
      // > .examples
      > .suggest-view
        top: 43px
        left: 25px
