<% provide(:title, 'Contact') %>
<% provide(:page, 'contact') %>
<% provide(:active, doc_contact_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Contact us</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">You can contact us by email to report problems, questions, or suggestions on our service.</p>
        <p class="body">togovar [at] biosciencedbc [dot] jp</p>
        <p class="body">Please feel free to contact us about data use for your study and data sharing of your data.</p>
      </section>
    </div>
  </article>
</main>
