- provide(:title, 'Contact')
- provide(:active, doc_contact_path)

= content_for :header do
  = stylesheet_pack_tag 'static/common', media: :all

%main
  .container
    %h1.title
      Contact us
    %p
      You can contact us by email to report problems, questions, or suggestions on our service.
    %p.email
      togovar [at] biosciencedbc [dot] jp
    %p
      Please feel free to contact us about data use for your study and data sharing of your data.
