<% provide(:title, 'Downloads') %>
<% provide(:page, 'downloads') %>
<% provide(:active, downloads_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Downloads</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">TogoVar data is downloadable at the links below.</p>
        <ul>
          <li>
            <a href="/downloads/gem_j_wga/">Variant frequencies of GEM Japan Whole Genome Aggregation (GEM-J WGA) panel
              [VCF format]</a>
            <p>
              The GEM-J WGA panel is a variant frequency dataset of a Japanese general population, which was obtained by
              joint variant calling of whole genome sequence (WGS) data collected from 7,609 individuals across Japan.
              The WGS data is also available in a controlled access manner.
              They are the result of
              <a target="_blank" class="hyper-text -external" href="https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html">the
                GEnome Medical alliance Japan (GEM Japan) project.</a>
              <a href="/doc/datasets/gem_j_wga">[More about the dataset]</a>
              <a href="/downloads/gem_j_wga/">[Download of the dataset]</a></p>
          </li>
          <li><a href="/downloads/release/current">Variant frequencies of datasets except GEM-J WGA (i.e. JGA-NGS,
            JGA-SNP, 4.7KJPN, HGVD and ExAC) [tab-separated format]</a>
            <p>
              <a href="/doc/datasets/jga_ngs">JGA-NGS</a> and <a href="/doc/datasets/jga_snp">JGA-SNP</a> are obtained
              by aggregating individual-level genomic data that have
              been registered in
              <a target="_blank" href="https://humandbs.biosciencedbc.jp/en/">the NBDC Human Database</a>
              /
              <a target="_blank" href="https://www.ddbj.nig.ac.jp/jga/index-e.html">Japanese Genotype-phenotype Archive
                (JGA)</a>. <a href="/doc/datasets">[More about the datasets]</a>
              <a href="/downloads/release/current">[Download of the datasets]</a>
            </p>
        </ul>

      </section>
    </div>
  </article>
</main>
