<% provide(:title, 'Dataset > GEM-J WGA') %>
<% provide(:page, 'datasets') %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel</h2>
    </header>
    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">Summary</h3>
        <p class="body">
          The GEM-J WGA panel is a variant frequency dataset of a Japanese general population, which was obtained by
          joint variant calling of whole genome sequence (WGS) data collected from 7,609 individuals across Japan. The
          WGS data is also available in a controlled access manner. They are the result of a joint research by
          <a target="_blank" class="hyper-text -external" href="https://www.megabank.tohoku.ac.jp/english/">Tohoku
            Medical Megabank Organization (ToMMo)</a>,
          <a target="_blank" class="hyper-text -external" href="http://iwate-megabank.org/en/">Iwate Tohoku Medical
            Megabank Organization</a>,
          <a target="_blank" class="hyper-text -external" href="https://www.riken.jp/en/">RIKEN</a>, and
          <a target="_blank" class="hyper-text -external" href="https://www.ims.u-tokyo.ac.jp/imsut/en/index.html">the
            Institute of Medical Science of the University of Tokyo</a>, as part of
          <a target="_blank" class="hyper-text -external" href="https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html">the
            GEnome Medical alliance Japan (GEM Japan) project</a> promoted by the Agency for Medical Research and
          Development (AMED).
        </p>
        <ul class="unordered-list">
          <li>Version/last update: 2020/07/27</li>
          <li>Sample size: 7,609</li>
          <li>Number of variant loci: 90,280,248</li>
        </ul>
        <a id="terms"></a>
        <table class="table _column-span-all">
          <thead>
          <tr>
            <th id="chrom" rowspan="2"></th>
            <th id="snvs" colspan="2">SNVs</th>
            <th id="indels" colspan="2">INDELs</th>
          </tr>
          <tr>
            <th id="snvs_total" headers="snvs" class="_align-center;">Total</th>
            <th id="snvs_novel" headers="snvs" class="_align-center;">Novel</th>
            <th id="indels_total" headers="indels" class="_align-center;">Total</th>
            <th id="indels_novel" headers="indels" class="_align-center;">Novel</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td headers="chrom" style="white-space:nowrap;">Autosomes</td>
            <td headers="snvs snvs_total" class="_align-center;"><span style="margin-left:0;">76,768,387</span></td>
            <td headers="snvs snvs_novel" class="_align-center;"><span style="margin-left:0;">35,660,425</span></td>
            <td headers="indels indels_total" class="_align-center;"><span style="margin-left:3px;">10,202,908</span>
            </td>
            <td headers="indels indels_novel" class="_align-center;"><span style="margin-left:7px;">4,152,671</span>
            </td>
          </tr>
          <tr>
            <td headers="chrom" style="white-space:nowrap;">X Chromosome</td>
            <td headers="snvs snvs_total" class="_align-center;"><span style="margin-left:8px;">2,898,518</span></td>
            <td headers="snvs snvs_novel" class="_align-center;"><span style="margin-left:8px;">1,420,888</span></td>
            <td headers="indels indels_total" class="_align-center;"><span style="margin-left:17px;">410,435</span></td>
            <td headers="indels indels_novel" class="_align-center;"><span style="margin-left:17px;">164,077</span></td>
          </tr>
          </tbody>
        </table>
        <p class="body">Note: Novel variants were not registered in dbSNP152.</p>
      </section>

      <section class="section">
        <h3 class="sectiontitle">Terms of use</h3>
        <div class="subsection">
          <p class="body">
            <!-- CC license    -->
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>
            GEM-J Whole Genome Aggregation (WGA) panel by
            <a href="https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html" rel="cc:attributionURL">GEnome
              Medical alliance Japan (GEM-J)</a> is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
              International License</a>.
            As additional terms, it is prohibited from identifying and contacting research participants. No warranty or
            liability is assumed for the data. This is complied with Article 5 (No Warranty and Limitation of Liability)
            of the Creative Commons Attribution 4.0 Inteternational License.
          </p>
          <h4 class="subheading">How to credit in your works</h4>
          <div class="body">
            <a href="/doc/datasets/gem_j_wga">"GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel"</a> by
            <a target="_blank" class="hyper-text -external" href="https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html">GEnome
              Medical alliance Japan Project (GEM-J)</a> is licensed under
            <a target="_blank" class="hyper-text -external" href="https://creativecommons.org/licenses/by/4.0/">CC BY
              4.0</a>. See also <a href="/doc/datasets/gem_j_wga#terms">additional terms of use</a>.
          </div>
          <br/>
          <h5 class="subheading">How to cite in your publications</h5>
          <div class="body">
            <a href="/doc/datasets/gem_j_wga">"GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel"</a>. Japan:
            <a target="_blank" class="hyper-text -external" href="https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html">GEnome
              Medical alliance Japan Project (GEM-J)</a>. Available from:
            <a target="_blank" class="hyper-text -external" href="/doc/datasets/gem_j_wga">https://togovar.biosciencedbc.jp/doc/datasets/gem_j_wga</a>.
          </div>
        </div>
      </section>

      <section class="section">
        <h3 class="sectiontitle">Variant frequency [Unrestricted access]</h3>
        <p class="body">Click <a href="/downloads/gem_j_wga/">here</a> to download VCF files.</p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">Result of joint variant calling [Controlled access]</h3>
        <p>If you would like to use the dataset, apply for data use to
          <a target="_blank" class="hyper-text -external" href="https://gr-sharingdbs.biosciencedbc.jp/agd-data-use">the
            AMED group sharing database</a>.</p>
        <table class="table _column-span-all">
          <thead>
          <tr>
            <th class="_align-center">Dataset ID<br>
            <th>AGD ID</th>
            <th>Study title</th>
            <th>File format</th>
            <th>Sample number</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="_align-center" colspan="2">In preparation</td>
            <td>GEM Japan Whole Genome Aggregation (GEM-J WGA) パネルの作成 [Controlled access]</td>
            <td>VCF</td>
            <td class="_align-center"><span style="margin-left:10px;">7,609</span></td>
          </tr>
          </tbody>
        </table>
      </section>

      <section class="section">
        <h3 class="sectiontitle">WGS datasets used for joint variant calling [Controlled access]</h3>
        <a id="jga_datasets"></a>
        <p>If you would like to use the datasets, apply for data use of them whose ID begins with "JGAD" and "AGDD" to
          <a target="_blank" class="hyper-text -external" href="https://humandbs.biosciencedbc.jp/data-use">the NBDC
            Human database</a> and
          <a target="_blank" class="hyper-text -external" href="https://gr-sharingdbs.biosciencedbc.jp/agd-data-use">the
            AMED group sharing database</a>, respectively.</p>
        <table class="table _column-span-all">
          <thead>
          <tr>
            <th id="dataset_id">Dataset ID<br/> (NBDC research ID)</th>
            <th id="study_title">Study title</th>
            <th id="participants">Participants</th>
            <th id="sample_size">Sample size</th>
            <th id="data_provider">Data provider</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th id="total_label" colspan="3" headers="dataset_id study_title participants" class="_align-center">Total</th>
            <th id="total_number" headers="sample_size" class="_align-center">7,609</th>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              <a target="_blank" class="hyper-text -external" href="https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000114">JGAD00000000220</a><br/>
              (<a target="_blank" class="hyper-text -external" href="https://humandbs.biosciencedbc.jp/hum0014-v19">hum0014</a>)
            </td>
            <td headers="study_title">The Tailor-made Medical Treatment Program (BioBank Japan: BBJ)</td>
            <td headers="participants">The cohort participants registered in the BBJ from 2003 to 2007</td>
            <td headers="sample_size" class="_align-center"><span style="margin-left:15px;">768</span></td>
            <td headers="data_provider">BioBank Japan</td>
          </tr>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              AGDD_00000000005<br/>
              (<a target="_blank" class="hyper-text -external" href="https://gr-sharingdbs.biosciencedbc.jp/agd0008-v1">agd0008</a>)
            </td>
            <td headers="study_title">バイオバンク・ジャパンの運営・管理と個別化医療の実現に向けた疾患バイオマーカー探索<br>
              (English page is under construction)
            </td>
            <td headers="participants">心筋梗塞、胃がん（非腫瘍組織)、認知症</td>
            <td headers="sample_size" class="_align-center">2,089</td>
            <td headers="data_provider">BaioBank Japan</td>
          </tr>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              <a target="_blank" class="hyper-text -external" href="https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000109">JGAD00000000117</a><br/>
              (<a target="_blank" class="hyper-text -external" href="https://humandbs.biosciencedbc.jp/en/hum0103-v2">hum0103</a>)
            </td>
            <td headers="study_title">To investigate genomic alterations of Japanese biliary tract cancers</td>
            <td headers="participants">Bilary tract cancer (non-tumor tissue)</td>
            <td headers="sample_size" class="_align-center"><span style="margin-left:15px;">17</span></td>
            <td headers="data_provider">RIKEN Center for Integrative Medical Sciences</td>
          </tr>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              <a target="_blank" class="hyper-text -external" href="https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000151">JGAD00000000228</a><br/>
              (<a target="_blank" class="hyper-text -external" href="https://humandbs.biosciencedbc.jp/en/hum0158-v2">hum0158</a>)
            </td>
            <td headers="study_title">To investigate genomic alterations of Japanese liver cancers</td>
            <td headers="participants">Liver cancer (non-tumor tissue)</td>
            <td headers="sample_size" class="_align-center"><span style="margin-left:10px;">220</span></td>
            <td headers="data_provider">RIKEN Center for Integrative Medical Sciences</td>
          </tr>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              <a target="_blank" class="hyper-text -external" href="https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000155">JGAD00000000233</a><br/>
              (<a target="_blank" class="hyper-text -external" href="https://humandbs.biosciencedbc.jp/en/hum0160-v1">hum0160</a>)
            </td>
            <td headers="study_title">To investigate genomic alterations of Japanese esophageal squamous cell
              carcinomas
            </td>
            <td headers="participants">Esophageal squamous cell carcinoma (non-tumor tissue)</td>
            <td headers="sample_size" class="_align-center"><span style="margin-left:15px;">20</span></td>
            <td headers="data_provider">RIKEN Center for Integrative Medical Sciences</td>
          </tr>
          <tr>
            <td headers="dataset_id" style="white-space:nowrap;" class="_align-center">
              JGAD00000000338<br/>
              JGAD00000000339<br/>
              (hum0184)
            </td>
            <td headers="study_title">日本人全ゲノムデータベースの構築<br>
              (The web page is in preparation)
            </td>
            <td headers="participants">一般住民</td>
            <td headers="sample_size" class="_align-center">4,495</td>
            <td headers="data_provider">Tohoku Medical Megabank Organization</td>
          </tr>
          </tbody>
        </table>
        <p class="body">Note: Those datasets above provide fastq/bam file formatted data. The result data will be shown
          in our database soon. The sample size of each dataset indicates the sample number after quality control in
          this current study.</p>
      </section>
    </div>
  </article>
</main>
