<% provide(:title, 'Help') %>
<% provide(:page, 'help') %>
<% provide(:active, doc_help_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Help</h2>
    </header>
    <div class="contents">
      <section class="section">
        <ul class="page-index">
          <li class="category">
            <h3 class="categorytitle">TogoVar in general</h3>
            <ul class="categorylist">
              <li class="item -question">
                <a class="link" href="#g1">What are the objectives and utilities of TogoVar?</a></li>
              <li class="item -question"><a class="link" href="#g2">Can I use TogoVar in-house?</a></li>
            </ul>
          </li>
          <li class="category">
            <h3 class="categorytitle">About the terms of use</h3>
            <ul class="categorylist">
              <li class="item -question"><a class="link" href="#t1">Can I use the TogoVar for free?</a></li>
              <li class="item -question">
                <a class="link" href="#t2">How to cite the TogoVar database in my publication?</a></li>
              <li class="item -question"><a class="link" href="#t3">Can I use it for commercial purposes?</a></li>
            </ul>
          </li>
          <li class="category">
            <h3 class="categorytitle">About the data collected in TogoVar</h3>
            <ul class="categorylist">
              <li class="item -question">
                <a class="link" href="#d1">Can I retrieve phenotype information on an individual level?</a></li>
              <li class="item -question">
                <a class="link" href="#d2">Are the data linked with information about gene expression and proteins?</a>
              </li>
              <li class="item -question">
                <a class="link" href="#d3">What software is used for detecting variants and how you manage the
                  quality?</a></li>
              <li class="item -question"><a class="link" href="#d4">What are the targeted variant types for TogoVar?</a>
              </li>
              <li class="item -question"><a class="link" href="#d5">How do you calculate the Consequence value?</a></li>
              <li class="item -question"><a class="link" href="#d6">What are SIFT and PolyPhen?</a></li>
              <li class="item -question">
                <a class="link" href="#d7">How do you calculate the value of Clinical significance?</a></li>
            </ul>
          </li>
          <li class="category">
            <h3 class="categorytitle">About the TogoVar search system</h3>
            <ul class="categorylist">
              <li class="item -question">
                <a class="link" href="#s1">What does the frequency indicator in the Frequency column of the search
                  results represent?</a></li>
              <li class="item -question">
                <a class="link" href="#s2">For each variant type, how is the position, reference and alternative allele
                  described respectively?</a>
              </li>
              <li class="item -question"><a class="link" href="#s3">In TogoVar, how is the variant described?</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>

    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">TogoVar in general</h3>
        <div class="question-answer" id="g1">
          <h4 class="question">What are the objectives and utilities of TogoVar?</h4>
          <div class="answer">
            <p>
              NGS technologies have enabled large-scale genome sequencing to capture variants at low frequencies.
              However,
              existing databases do not contain sufficient variant frequency data for Japanese populations.
              To address this problem, TogoVar seeks to provide a reliable frequency information by assembling variant
              information from the NBDC Human Database/Japanese Genotype-phenotype Archive (JGA) and public Japanese
              genomic
              variation data.
            </p>
            <p>
              In addition, since the reference human genome sequence can be updated, the genomic position may vary for
              the
              same variant if it refers to a different genome build. Thus, in our database, a unique ID is
              assigned to the same variant, thereby preventing the need to convert the positional information of the
              variant
              among different reference sequences, as done by researchers.
            </p>
          </div>
        </div>
        <div class="question-answer" id="g2">
          <h4 class="question">Can I use TogoVar in-house?</h4>
          <div class="answer">
            <p>
              A Docker image will be released. We request your patience.
            </p>
          </div>
        </div>
      </section>
      <section class="section">
        <h3 class="sectiontitle">About the terms of use</h3>
        <div class="question-answer" id="t1">
          <h4 class="question">Can I use the TogoVar for free?</h4>
          <div class="answer">
            <p>
              You can use the TogoVar service for free. For the use of the database, refer to the
              <a href="/doc/terms">Terms</a>.
            </p>
          </div>
        </div>
        <div class="question-answer" id="t2">
          <h4 class="question">How to cite the TogoVar database in my publication?</h4>
          <div class="answer">
            <p>
              Refer to the attribution (credit) display examples in
              <a href="/doc/terms">Terms</a>.
            </p>
          </div>
        </div>
        <div class="question-answer" id="t3">
          <h4 class="question">Can I use it for commercial purposes?</h4>
          <div class="answer">
            <p>
              You are free to browse the TogoVar websites and use the docker images to be released for commercial
              purposes.
              For data created by third parties and imported in TogoVar, please follow the terms of use of each
              organization.
              For more details, refer to
              <a href="/doc/terms">Terms</a>.
            </p>
          </div>
        </div>
      </section>
      <section class="section">
        <h3 class="sectiontitle">About the data collected in TogoVar</h3>
        <div class="question-answer" id="d1">
          <h4 class="question">Can I retrieve phenotype information on an individual level?</h4>
          <div class="answer">
            <p>
              TogoVar database does not keep private information, and we do not currently provide phenotype information
              for each individual. For more details about phenotype information, please directly contact the research
              groups
              described in the
              <a href="/doc/datasets/jga_ngs">JGA-NGS dataset</a>
              and
              <a href="/doc/datasets/jga_snp">JGA-SNP dataset</a>.
            </p>
          </div>
        </div>
        <div class="question-answer" id="d2">
          <h4 class="question">Are the data linked with information about gene expression and proteins?</h4>
          <div class="answer">
            <p>
              Not yet but planned.
            </p>
          </div>
        </div>
        <div class="question-answer" id="d3">
          <h4 class="question">What software is used for detecting variants and how you manage the quality?</h4>
          <div class="answer">
            <p>
              Refer to<a href="/doc/datasets/analysis">How JGA dataset was generated</a>.
            </p>
          </div>
        </div>
        <div class="question-answer" id="d4">
          <h4 class="question">What are the targeted variant types for TogoVar?</h4>
          <div class="answer">
            <p>
              There are five targeted variant types for TogoVar: SNV, Insertion, Deletion, Indel, and Substitution. Of
              <a class="hyper-text -external" target="_blank" href="http://varnomen.hgvs.org/bg-material/simple/#types-of-variants">5
                types that HGVS enumerated as the types of variants</a>,
              Duplication is classified as Insertion, and Indels, for which the lengths of Insertion and Deletion are
              the same,
              are classified as Substitution. To identify the type of the variant,
              <a class="hyper-text -external" target="_blank" href="https://www.ensembl.org/vep">Variant Effect
                Predictor (VEP)
              </a> is used.
            </p>
          </div>
        </div>
        <div class="question-answer" id="d5">
          <h4 class="question">How do you calculate the Consequence value?</h4>
          <div class="answer">
            <p>
              The value of variant consequence in
              <a class="hyper-text -external" target="_blank" href="https://asia.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequences">Variant
                Effect Predictor (VEP)
              </a> is displayed. If there are multiple transcripts for a single variant, only the most critical
              consequence may be
              displayed.
            </p>
          </div>
        </div>
        <div class="question-answer" id="d6">
          <h4 class="question">What are SIFT and PolyPhen?</h4>
          <div class="answer">
            <p>
              Both SIFT and PolyPhen are scores which indicate the predicted effects on the protein function when an
              amino
              acid sequence undergoes alteration due to a variant. Values calculated through
              <a class="hyper-text -external" target="_blank" href="https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html">Variant
                Effect Predictor (VEP)
              </a> are displayed. The meaning of each icon is as follows.
            </p>
            <ul class="unordered-list _margin-bottom _align-left">
              <li><strong>SIFT</strong><br>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="deleterious">&lt; 0.05</div>
                  <span class="_margin-left">Deleterious</span>
                </div>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="tolerated">≥ 0.05</div>
                  <span class="_margin-left">Tolerated</span>
                </div>
              </li>
              <li><strong>PolyPhen</strong><br>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="probably_damaging">&gt; 0.908
                  </div>
                  <span class="_margin-left">Probably Damaging</span>
                </div>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="possibly_damaging">&gt; 0.446
                  </div>
                  <span class="_margin-left">Possibly Damaging</span>
                </div>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="benign">≤ 0.446</div>
                  <span class="_margin-left">Benign</span>
                </div>
                <div>
                  <div class="variant-function _width_5em _align-center" data-function="unknown">  </div>
                  <span class="_margin-left">Unknown</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="question-answer" id="d7">
          <h4 class="question">How do you calculate the value of Clinical significance?</h4>
          <div class="answer">
            <p>
              The value of
              <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/#clinsig_options_scv">clinical
                significance in ClinVar
              </a> is displayed.
            </p>
          </div>
        </div>
      </section>
      <section class="section">
        <h3 class="sectiontitle">About the TogoVar search system</h3>
        <div class="question-answer _column-span-all" id="s1">
          <h4 class="question">What does the frequency indicator in the Frequency column of the search results
            represent?</h4>
          <div class="answer">
            <p>
              The frequency indicator represents the alternative allele frequency for each dataset. The color of the
              frequency
              meter corresponds to the color allocated to the dataset. The data availability or frequency value is
              represented
              on a 9-point scale.
            </p>
            <div class="_flex _break-avoid">
              <div class="_padding-right-large">
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="na"></div>
                  <span class="_margin-left">Not Available</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="monomorphic"></div>
                  <span class="_margin-left">Monomorphic (REF)</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="singleton"></div>
                  <span class="_margin-left">Singleton</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="<0.0001"></div>
                  <span class="_margin-left">&lt; 0.0001</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="<0.001"></div>
                  <span class="_margin-left">&lt; 0.001</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="<0.01"></div>
                  <span class="_margin-left">&lt; 0.01</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="<0.05"></div>
                  <span class="_margin-left">&lt; 0.05</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="<0.5"></div>
                  <span class="_margin-left">&lt; 0.5</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-frequency="≥0.5"></div>
                  <span class="_margin-left">≥ 0.5</span>
                </div>
              </div>
              <div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-dataset="jga_ngs"></div>
                  <span class="_margin-left">JGA-NGS</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-dataset="jga_snp"></div>
                  <span class="_margin-left">JGA-SNP</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-dataset="tommo"></div>
                  <span class="_margin-left">3.5KJPN</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-dataset="hgvd"></div>
                  <span class="_margin-left">HGVD</span>
                </div>
                <div class="frequency-graph _margin-bottom">
                  <div class="dataset" data-dataset="exac"></div>
                  <span class="_margin-left">ExAC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="question-answer _column-span-all" id="s2">
          <h4 class="question">For each variant type, how is the position, reference and alternative allele described
            respectively?</h4>
          <div class="answer">
            <p>
              An example for each variant type is shown below. Note that the position of the first base in the
              chromosome
              is 1.
            </p>
            <table class="results-view">
              <thead>
              <tr>
                <th>
                  <p>Variant Type</p>
                </th>
                <th>
                  <p>ID</p>
                </th>
                <th>
                  <p>Position</p>
                </th>
                <th>
                  <p>Ref / Alt</p>
                </th>
                <th>
                  <p>Description</p>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="variant-type">SNV</div>
                </td>
                <td><a target="_blank" href="/variant/tgv41">tgv41</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">13116</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">T</span><span class="arrow"></span><span class="alt">G</span>
                  </div>
                </td>
                <td>The 13116th base T in Chromosome 1 was replaced by G.</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Ins</div>
                </td>
                <td><a target="_blank" href="/variant/tgv1019">tgv1019</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">138646</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref"></span><span class="arrow"></span><span class="alt">A</span>
                  </div>
                </td>
                <td>A base A was inserted between the 138646th and 138647th bases in Chromosome 1.</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Del</div>
                </td>
                <td><a target="_blank" href="/variant/tgv63">tgv63</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">13486</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">GC</span><span class="arrow"></span><span class="alt"></span>
                  </div>
                </td>
                <td>The 13486th and 13487th bases, GC, in Chromosome 1 were deleted.</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Indel</div>
                </td>
                <td><a target="_blank" href="/variant/tgv1537710">tgv1537710</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">53676691</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">C</span><span class="arrow"></span><span class="alt">TA</span>
                  </div>
                </td>
                <td>The 53676691st base C in Chromosome 1 was deleted and TA was inserted in its place.</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Substitution</div>
                </td>
                <td><a target="_blank" href="/variant/tgv675673">tgv675673</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">21889705</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">AC</span><span class="arrow"></span><span class="alt">CA</span>
                  </div>
                </td>
                <td>The 21889705th bases, AC, in Chromosome 1 were deleted and CA were inserted in their place.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="question-answer _column-span-all" id="s3">
          <h4 class="question">In TogoVar, how is the variant described?</h4>
          <div class="answer">
            <p>
              A. In TogoVar a variant is identified as a set of its genomic position, reference and alternative allele
              and human
              genome build. Examples of variant notations in TogoVar, dbSNP,
              <a class="hyper-text -external" target="_blank" href="https://samtools.github.io/hts-specs/VCFv4.2.pdf">VCF</a>
              and
              <a class="hyper-text -external" target="_blank" href="http://varnomen.hgvs.org/bg-material/simple/#types-of-variants">HGVS</a>
              are shown below.
            </p>
            <table class="results-view">
              <thead>
              <tr class="groupingrow">
                <th colspan="2"></th>
                <th colspan="4">
                  <p>TogoVar</p>
                </th>
                <th colspan="4">
                  <p>dbSNP</p>
                </th>
                <th colspan="4">
                  <p>VCF</p>
                </th>
                <th>
                  <p>HGVS</p>
                </th>
              </tr>
              <tr>
                <th>
                  <!--p Variant Type-->
                </th>
                <th class="separator"></th>
                <th>
                  <p>ID</p>
                </th>
                <th>
                  <p>Position</p>
                </th>
                <th>
                  <p>Ref / Alt</p>
                </th>
                <th class="separator"></th>
                <th>
                  <p>ID</p>
                </th>
                <th>
                  <p>Position(GRCh37)</p>
                </th>
                <th>
                  <p>Alleles</p>
                </th>
                <th class="separator"></th>
                <th>
                  <p>Position</p>
                </th>
                <th>
                  <p>Ref</p>
                </th>
                <th>
                  <p>Alt</p>
                </th>
                <th class="separator"></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td rowspan="2">
                  <div class="variant-type">SNV</div>
                </td>
                <td class="separator" rowspan="2"></td>
                <td><a target="_blank" href="/variant/tgv30913364">tgv30913364</a></td>
                <td rowspan="2">
                  <div class="chromosome-position">
                    <div class="chromosome">7</div>
                    <div class="coordinate">127254587</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">G</span><span class="arrow"></span><span class="alt">A</span>
                  </div>
                </td>
                <td class="separator" rowspan="2"></td>
                <td rowspan="2">
                  <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/rs114202595">rs114202595</a>
                </td>
                <td rowspan="2">chr7:127254587</td>
                <td>G&gt;A</td>
                <td class="separator" rowspan="2"></td>
                <td rowspan="2">7:127254587</td>
                <td>G</td>
                <td>A</td>
                <td class="separator" rowspan="2"></td>
                <td>7:g.127254587:G&gt;A</td>
              </tr>
              <tr>
                <td><a target="_blank" href="/variant/tgv30913365">tgv30913365</a></td>
                <td>
                  <div class="ref-alt"><span class="ref">G</span><span class="arrow"></span><span class="alt">T</span>
                  </div>
                </td>
                <td>G&gt;T</td>
                <td>G</td>
                <td>T</td>
                <td>7:g.127254587:G&gt;T</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Ins</div>
                </td>
                <td class="separator"></td>
                <td><a target="_blank" href="/variant/tgv1019">tgv1019</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">138646</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref"> </span><span class="arrow"></span><span class="alt">A</span>
                  </div>
                </td>
                <td class="separator"></td>
                <td>
                  <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/rs761725800">rs761725800</a>
                </td>
                <td>chr1:138646</td>
                <td>dupA</td>
                <td class="separator"></td>
                <td>1:138646</td>
                <td>C</td>
                <td>CA</td>
                <td class="separator"></td>
                <td>1:g.138646_138647insA</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Del</div>
                </td>
                <td class="separator"></td>
                <td><a target="_blank" href="/variant/tgv63">tgv63</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">13486</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">GC</span><span class="arrow"></span><span class="alt"> </span>
                  </div>
                </td>
                <td class="separator"></td>
                <td>
                  <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/rs780379327">rs780379327</a>
                </td>
                <td>chr1:13486-13487</td>
                <td>delGC</td>
                <td class="separator"></td>
                <td>1:13485</td>
                <td>AGC</td>
                <td>A</td>
                <td class="separator"></td>
                <td>1:g.13486_13487del</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Indel</div>
                </td>
                <td class="separator"></td>
                <td><a target="_blank" href="/variant/tgv1537710">tgv1537710</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">53676691</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">C</span><span class="arrow"></span><span class="alt">TA</span>
                  </div>
                </td>
                <td class="separator"></td>
                <td>
                  <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/rs1057517525">rs1057517525</a>
                </td>
                <td>chr1:53676691</td>
                <td>delCinsTA</td>
                <td class="separator"></td>
                <td>1:53676691</td>
                <td>C</td>
                <td>TA</td>
                <td class="separator"></td>
                <td>1:g.53676691delinsTA</td>
              </tr>
              <tr>
                <td>
                  <div class="variant-type">Substitution</div>
                </td>
                <td class="separator"></td>
                <td><a target="_blank" href="/variant/tgv675673">tgv675673</a></td>
                <td>
                  <div class="chromosome-position">
                    <div class="chromosome">1</div>
                    <div class="coordinate">21889705</div>
                  </div>
                </td>
                <td>
                  <div class="ref-alt"><span class="ref">AC</span><span class="arrow"></span><span class="alt">CA</span>
                  </div>
                </td>
                <td class="separator"></td>
                <td>
                  <a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/rs786204530">rs786204530</a>
                </td>
                <td>chr1:21889705-21889706</td>
                <td>AC&gt;CA</td>
                <td class="separator"></td>
                <td>1:21889705</td>
                <td>AC</td>
                <td>CA</td>
                <td class="separator"></td>
                <td>1:g.21889705_21889706delinsCA</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>
