<% provide(:title, 'History') %>
<% provide(:page, 'history') %>
<% provide(:active, doc_history_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Update history</h2>
    </header>

    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">2019/7/23</h3>
        <ul class="unordered-list">
          <li><strong>Keyword search: </strong>You can search TogoVar by an alias name of HGNC Gene Symbol (e.g. PD-1,
            p53).
          </li>
          <li><strong>Filters: </strong>You can specify either all or any of datasets of your choice as a target when
            searching by an alternative allele frequency.
          </li>
          <li><strong>Filters: </strong>You can filter variants by Consequence value, SIFT and/or Polyphen score.</li>
          <li><strong>Filters: </strong>You can hide and show low quality variants.</li>
          <li><strong>Datasets: </strong>ToMMo 3.5KJPN was updated to Ver.2
            (<a href="https://jmorp.megabank.tohoku.ac.jp/201905/downloads/">ToMMo 3.5KJPNv2 Allele Frequency Panel</a>).
            ClinVar, Variant Effect Predictor (VEP) and Ensembl were updated as well.
            See <%= link_to 'Datasets', doc_datasets_path %> for detail.
          </li>
          <li><strong>Usability: </strong>You can choose the data items to display at the Configuration menu.</li>
          <li><strong>Usability: </strong>The user interface was refined for easier use.</li>
        </ul>
        <h3 class="sectiontitle">2018/6/7</h3>
        <ul class="unordered-list">
          <li>TogoVar has been released. See
            <a href="https://www.eurekalert.org/pub_releases/2018-07/jsat-jr071018.php">a EurekAlert! press release</a>
            for detail.
          </li>
        </ul>
      </section>
    </div>
  </article>
</main>
