<% provide(:title, 'Terms') %>
<% provide(:page, 'terms') %>
<% provide(:active, doc_terms_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Terms of Use</h2>
    </header>

    <div class="contents">
      <section class="section">
        <p class="body">This database (the database) is licensed under the
          <a class="hyper-text -external" target="_blank" href="http://opendatacommons.org/licenses/odbl/1.0/">Open
            Database License(ODbL)</a>.
        </p>
        <p class="body">You are free:</p>
        <ul class="unordered-list">
          <li><strong>To Share: </strong>To copy, distribute and use the database.</li>
          <li><strong>To Create: </strong>To produce works from the database.</li>
          <li><strong>To Adapt: </strong>To modify, transform and build upon the database.</li>
        </ul>
        <p class="body">As long as you:</p>
        <ul class="unordered-list">
          <li><strong>Attribute: </strong>You must attribute any public use of the database, or works produced from the
            database, in the manner specified in the ODbL. For any use or redistribution of the database, or works
            produced from it, you must make clear to others the license of the database and keep intact any notices on
            the original database.
          </li>
          <li><strong>Share-Alike: </strong>If you publicly use any adapted version of this database, or works produced
            from an adapted database, you must also offer that adapted database under the ODbL.
          </li>
          <li><strong>Keep open: </strong>If you redistribute the database, or an adapted version of it, then you may use
            technological measures that restrict the work (such as DRM) as long as you also redistribute a version
            without such measures.
          </li>
        </ul>
        <p class="body">This license does not cover each data (content) that has been imported into the database. While
          using the contents, follow the licenses of the following data distributors.</p>
        <ul class="unordered-list">
          <li>Colil: <a target="_blank" href="http://colil.dbcls.jp/portal/">http://colil.dbcls.jp/portal/</a></li>
          <li>ExAC:
            <a target="_blank" href="http://exac.broadinstitute.org/terms">http://exac.broadinstitute.org/terms</a></li>
          <li>HGVD:
            <a target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html">http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html</a>
          </li>
          <li>Integrative Japanese Genome Variation Database
            3.5KJPN:<a target="_blank" href="https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn?lang=en">https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn</a>
          </li>
          <li>PubTator:
            <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt">ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt</a>
          </li>
          <li>JGA-NGS dataset:
            <a href="https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs">https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs</a>
          </li>
          <li>JGA-SNP dataset:
            <a href="https://togovar.biosciencedbc.jp/doc/datasets/jga_snp">https://togovar.biosciencedbc.jp/doc/datasets/jga_snp</a>
          </li>
        </ul>
        <p class="body">This is<a target="_blank" href="https://opendatacommons.org/licenses/odbl/summary/">a
          human-readable summary
          of the license</a>. See<a target="_blank" href="http://opendatacommons.org/licenses/odbl/1.0/">the entire text
          of ODbL 1.0 License Agreement</a>for the actual license terms to be applied. In addition, refer
          to<a href="#credit">Attribution (credit) display examples</a>. For license display, refer to the description
          of<a href="#license">Examples of ODbL license usage</a>.</p>
      </section>
      <section class="section">
        <h3 class="sectiontitle" id="credit">Attribution (credit) display examples</h3>
        <ol class="ordered-list">
          <li>
            <h4 class="heading">How to cite the use of the TogoVar database</h4>
            <div class="subsection">
              <h5 class="subheading">If you want to cite the entire TogoVar database</h5>
              <div class="body">TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National
                Bioscience Database Center; 2018 - [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp">https://togovar.biosciencedbc.jp</a></div>
            </div>
            <div class="subsection">
              <h5 class="subheading">If you want to cite specific variants (tgv47264307) of TogoVar</h5>
              <div class="body">Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National
                Bioscience Database Center; [2018] - . TogoVarID tgv47264307; [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp/variant/tgv47264307">https://togovar.biosciencedbc.jp/variant/tgv47264307</a>
              </div>
            </div>
          </li>
          <li>
            <h4 class="heading">How to cite data (content) that has been imported into the TogoVar database</h4>
            <div class="body">You must cite these contents in the methods specified below, according to the content
              used. Formally, refer to the terms of use for each content.
            </div>
            <div class="subsection">
              <h5 class="subheading">Colil [Terms of use:
                <a target="_blank" href="http://colil.dbcls.jp/portal/index_en.html">http://colil.dbcls.jp/portal/index_en.html</a>]
              </h5>
              <div class="body">
                T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life
                sciences
                domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015). doi:10.1186/s13326-015-0037-x
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">ExAC [Terms of use:
                <a target="_blank" href="http://exac.broadinstitute.org/about">http://exac.broadinstitute.org/about</a>]
              </h5>
              <div class="body">
                Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium, E. A.
                (2016).
                Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616),
                285-291.<a target="_blank" href="http://doi.org/10.1038/nature19057">http://doi.org/10.1038/nature19057</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">HGVD Release Version 2.30 (2017/08/02)
                [Terms of use:
                <a target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html">http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html</a>]
              </h5>
              <div class="body">
                K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in the
                Japanese
                population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">Integrative Japanese Genome Variation Database 3.5KJPN [Terms of use:
                <a target="_blank" href="https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn?lang=en">https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn</a>]
              </h5>
            </div>
            <div class="subsection">
              <h6 class="subheading">(Long version)</h6>
              <div class="body">
                Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda
                J,
                Katsuoka F, Nariai N, Kojima K, Kawai Y, Yamaguchi-Kabata Y, Yokozawa J, Danjoh I, Saito S, Sato Y,
                Mimori T,
                Tsuda K, Saito R, Pan X, Nishikawa S, Ito S, Kuroki Y, Tanabe O, Fuse N, Kuriyama S, Kiyomoto H, Hozawa
                A,
                Minegishi N, Douglas Engel J, Kinoshita K, Kure S, Yaegashi N, ToMMo Japanese Reference Panel Project
                and
                Yamamoto M, Nat Commun, 21; 6:8018 (2015)
              </div>
            </div>
            <div class="subsection">
              <h6 class="subheading">(Short version)</h6>
              <div class="body">
                Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda
                J,
                Katsuoka F, ToMMo Japanese Reference Panel Project and Yamamoto M, Nat Commun, 21; 6:8018 (2015)
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">PubTator [Terms of use:
                <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt">ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt</a>]
              </h5>
              <div class="body">
                Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids
                research, 2013,
                41 (W1): W518-W522. doi: 10.1093/nar/gkt44
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">JGA-NGS dataset [Terms of use: <a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>]</h5>
              <div class="body">
                Variant set aggregated from NGS data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and
                Technology
                Agency (Japan), National Bioscience Database Center; [2018] - .
                JGA-NGS dataset; [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">JGA-SNP dataset [Terms of use: <a href="https://togovar.biosciencedbc.jp/datasets/jga_snp">https://togovar.biosciencedbc.jp/datasets/jga_snp</a>]</h5>
              <div class="body">
                Variant set aggregated from SNP-chip data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science
                and
                Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-SNP dataset; [cited YYYY
                Mmm DD].
                Available
                from:<a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>
              </div>
            </div>
          </li>
        </ol>
      </section>
      <section class="section">
        <h3 class="sectiontitle" id="license">Examples of ODbL license usage</h3>
        <ul class="unordered-list">
          <li><a target="_blank" href="http://farmsubsidy.openspending.org/legal/">Farm Subsidy</a></li>
          <li><a target="_blank" href="https://opencorporates.com/info/licence">Open Corporates</a></li>
        </ul>
      </section>
    </div>
  </article>
</main>
