extend ../layouts/application

append variables
  - locals.currentPage = "gene";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)
  // Stanza theme
  link(href="https://togostanza.github.io/togostanza-themes/contrib/togovar.css?20220803", rel="stylesheet")

block content
  header#DetailHeader
    .title-wrapper
      #gene-header.stanza

  main#ReportMain.LayoutReport
    section.stanza-view
      h3.title
      #gene-summary.stanza

    section.stanza-view
      h3.title#clinvarGene
        a.titlelink(href="#clinvarGene")
          | Clinical significance
      #gene-clinvar.stanza

    section.stanza-view
      h3.title#gwasGene
        a.titlelink(href="#gwasGene")
          | Genome-wide association study
      #gene-gwas.stanza

    section.stanza-view
      h3.title#genomicContextGene
        a.titlelink(href="#genomicContextGene")
          | Genomic context
      #gene-genomic-context.stanza

    section.stanza-view
      h3.title#variantsGene
        a.titlelink(href="#variantsGene")
          | Variants
      #gene-variant.stanza

    section.stanza-view
      h3.title#publicationGene
        a.titlelink(href="#publicationGene")
          | Publications
      #gene-publication.stanza
