extend ../layouts/application

append variables
  - locals.currentPage = "gene";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)
  script.
    window.addEventListener('DOMContentLoaded', () => {
      window.scrollTo(0, 0);

      const hash = window.location.hash;
      if (hash) {
        setTimeout(() => {
          const target = document.querySelector(hash);
          if (target) {
            target.scrollIntoView({ behavior: 'smooth' });
          }
        }, 500);
      }
    });
  // Stanza theme
  link(href="https://togostanza.github.io/togostanza-themes/contrib/togovar.css?20220803", rel="stylesheet")

block content
  header#DetailHeader
    .title-wrapper
      #gene-header.stanza

  main#ReportMain.LayoutReport
    section.stanza-view
      h3.title
      #gene-summary.stanza

    section.stanza-view#clinical-significance-mgend
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-mgend")
        h3.title
          | Clinical significance
          span.mgend MGeND
      #gene-mgend.stanza
    
    section.stanza-view#clinical-significance-clinvar
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-clinvar")
        h3.title
          | Clinical significance
          span.clinvar Clinvar
      #gene-clinvar.stanza

    section.stanza-view#genome-wide-association-study
      .titlelink-wrapper
        a.titlelink(href="#genome-wide-association-study")
        h3.title
          | Genome-wide association study
      #gene-gwas.stanza

    section.stanza-view#mouse-variants-in-mogplus-database
      .titlelink-wrapper
        a.titlelink(href="#mouse-variants-in-mogplus-database")
        h3.title
          | Mouse variants in MoG+ database
      #gene-mogplus.stanza

    section.stanza-view#genomic-context
      .titlelink-wrapper
        a.titlelink(href="#genomic-context")
        h3.title
          | Genomic context
      #gene-genomic-context.stanza

    section.stanza-view#protein-browser
      .titlelink-wrapper
        a.titlelink(href="#protein-browser")
        h3.title
          | Protein browser
      #gene-protein-browser.stanza

    section.stanza-view#protein-structure
      .titlelink-wrapper
        a.titlelink(href="#protein-structure")
        h3.title
          | Protein structure
      #gene-protein-structure.stanza

    section.stanza-view#variants
      .titlelink-wrapper
        a.titlelink(href="#variants")
        h3.title
          | Variants
      #gene-variant.stanza

    section.stanza-view#publications
      .titlelink-wrapper
        a.titlelink(href="#publications")
        h3.title
          | Publications
      #gene-publication.stanza
