article.common-document
  header.header
    h2.title JGAデータセット作成方法(GRCh38)
  .contents
    section.section
      h3.sectiontitle JGA-NGSデータ
      p.body._margin-bottom
        a(href='/doc/ja/datasets/jga_ngs#jga_datasets') JGAに寄託された個人ゲノムデータ
        | をリファレンス配列GRCh37を用いてバリアントコールしました。
        | 下記の解析ツール群を一括実行可能な解析パイプラインソフト(
        a(target='_blank', href='http://amelieff.jp/') アメリエフ社
        | 製 BioReT Ver.3.3.1.1)を使用しました。
        |
        a.hyper-text.-external(target='_blank', href='https://github.com/informationsea/transanno') transanno
        | を使用してGRCh37ベースのバリアントをGRCh38座標に変換リフトオーバしました。

      table.table
        thead
          tr
            th プログラム名
            th バージョン
        tbody
          tr
            td qcleaner
            td 4.1.0
          tr
            td SAM tools
            td 1.6
          tr
            td FastQC
            td 0.11.5
          tr
            td calcCoverage
            td 1.7
          tr
            td BWA
            td 0.7.16a
          tr
            td igvtools
            td 2.3.98
          tr
            td Picard
            td 2.13.2
          tr
            td GATK
            td 3.8.0-ge9d806836
          tr
            td SnpEff
            td v4.3_core
          tr
            td bedtools
            td 2.13.3
