extend ../../../layouts/application

append variables
  - locals.currentPage = "datasets/jga_snp";
  - locals.language = "ja";
  - locals.title = "Datasets > JGA-SNP | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    case TOGOVAR_FRONTEND_REFERENCE
      when 'GRCh37'
        include jga_snp_grch37
      when 'GRCh38'
        include jga_snp_grch38
      default
        // none
