#Configuration
  .bg
  .plate
    h2.header Configuration
    .container
      table
        tbody
          if currentPage === "home"
            tr
              th Columns
              td
                ul#ConfSortColumns.group
