#Karyotype.drawer-view
  header.header
    .mark
    h2.heading Karyotype
  .configuration
    .form-parts
      .label Band:
      #KariotypeSwitchBandVisibility.togglebuttons
        .button.-current(data-value='show') Show
        .button(data-value='hide') Hide
  .content
    .chromosomes
