#SearchInputView.module-tabs-view(data-bound-url-param="mode")
  nav.tabscontainer
    ul
      li(data-tab-group="tab-group-type-of-search" data-target="simple") Simple search
      li(data-tab-group="tab-group-type-of-search" data-target="advanced") Advanced search

  .sectionscontainer
    #SimpleSearchView.section(data-tab-id="simple")
    #AdvancedSearchView.section.collapse-view(data-tab-id="advanced")
      .collapsecontent
        #AdvancedSearchBuilderView.section
          .inner

main#SearchResultsView.LayoutMainAside
  .LayoutMain
    #ResultsView
      header.header
        .left
          h2.heading Results
          .status
        ul.right
          li.text Download
          li
            button#DownloadJson.button-view.-disabled(data-filetype="json") JSON
          li
            button#DownloadCsv.button-view.-disabled(data-filetype="csv") CSV
          li
            button#DownloadTsv.button-view.-disabled(data-filetype="txt") TSV
      #Messages
      .tablecontainer
        table.results-view
          thead

          tbody
      #RowIndicator.row-indicator
  .LayoutAside
    aside#SideBar
      #Previews.sidebarcontent
        h2.title Preview
        section#PreviewToVariantReport.panel-view.-cannotcollapse.-emphasize
          h3.title
            a.hyper-text.-internal(href='variant.html') Detailed variant report page
        section#PreviewGene.panel-view
          h3.title Genes
          .content
            table.right-headline
              tbody
        section#PreviewExternalLinks.panel-view
          h3.title External links
          .content
            table.right-headline
              tbody
        section#PreviewAlternativeAlleleFrequencies.panel-view
          h3.title Alternative allele frequencies
          .content
            table.frequency-detail
              thead
                tr
                  th Dataset
                  th Alt
                  th Total
                  th Frequency
              tbody
        section#PreviewConsequence.panel-view
          h3.title Consequence
          .content
        section#PreviewClinicalSignificance.panel-view
          h3.title Clinical significance
          .content
      #Filters.sidebarcontent
        h2.title
          span.simple Statistics / Filters
          span.advanced Statistics
          button.button-view Reset
        section#FilterDatasets.panel-view
          h3.title Dataset
          .content
            ul.checklist-values
        section#FilterAlternativeAlleleFrequency.panel-view
          h3.title Alternative allele frequency
          .content
            .range-selector-view
        section#FilterVariantCallingQuality.panel-view
          h3.title Variant calling quality
          .content
            label.label
              input(checked='checked', type='checkbox')
              | Exclude filtered out variants in all datasets
        section#FilterVariantType.panel-view
          h3.title Variant type
          .content
            ul.checklist-values
        section#FilterConsequence.panel-view
          h3.title Consequence
          .content
            ul.checklist-values
        section#FilterClinicalSignificance.panel-view
          h3.title Clinical significance
          .content
            ul.checklist-values
        section#FilterAlphaMissense.panel-view
          h3.title AlphaMissense
          .content
            ul.checklist-values
        section#FilterSIFT.panel-view
          h3.title SIFT
          .content
            ul.checklist-values
        section#FilterPolyPhen.panel-view
          h3.title PolyPhen
          .content
            ul.checklist-values
