main#SearchResultsMain.LayoutMainAside
  .LayoutMain
    #SearchView
      .searchform
        input#search-field.searchinput(placeholder='Search for disease or gene symbol or rs...', type='text')
        button.searchbutton
      dl.searchexamples
        dt Disease
        dd Breast-ovarian cancer, familial 2
      dl.searchexamples
        dt Gene
        dd ALDH2
      dl.searchexamples
        dt refSNP
        dd rs114202595
      dl.searchexamples
        dt TogoVar
        dd tgv421843
      dl.searchexamples
        dt Position(GRCh37/hg19)
        dd 16:48258198
      dl.searchexamples
        dt Region(GRCh37/hg19)
        dd 10:73270743-73376976
      .suggest-view
    #ResultsView
      header.header
        h2.heading Results
        .status
      #Messages
      .tablecontainer
        table.results-view
          thead
            tr
          tbody
      #RowIndicator.row-indicator
  .LayoutAside
    aside#SideBar
      #Previews.sidebarcontent
        h2.title Preview
        section#PreviewToVariantReport.panel-view.-cannotcollapse.-emphasize
          h3.title
            a.hyper-text.-internal(href='variant.html') Detailed variant report page
        section#PreviewGene.panel-view
          h3.title Genes
          .content
            table.right-headline
              tbody
        section#PreviewExternalLinks.panel-view
          h3.title External links
          .content
            table.right-headline
              tbody
        section#PreviewAlternativeAlleleFrequencies.panel-view
          h3.title Alternative allele frequencies
          .content
            table.frequency-detail
              thead
                tr
                  th Dataset
                  th Alt
                  th Total
                  th Frequency
              tbody
        section#PreviewConsequence.panel-view
          h3.title Consequence
          .content
        section#PreviewClinicalSignificance.panel-view
          h3.title Clinical significance
          .content
      #Filters.sidebarcontent
        h2.title
          | Filters
          button.button-view Reset
        section#FilterDatasets.panel-view
          h3.title Dataset
          .content
            ul.checklist-values
        section#FilterAlternativeAlleleFrequency.panel-view
          h3.title Alternative allele frequency
          .content
            .range-selector
              .input
                input.from(max='1', min='0', step='0.01', type='number', value='0.000')
                | ~
                input.to(max='1', min='0', step='0.01', type='number', value='1.000')
                label
                  input.invert(type='checkbox')
                  | Invert range
              .meter
                .barcontainer
                  .bar.-primary
                  .bar.-secondary
                .ruler
                  .scale 0.0
                  .scale 0.1
                  .scale 0.2
                  .scale 0.3
                  .scale 0.4
                  .scale 0.5
                  .scale 0.6
                  .scale 0.7
                  .scale 0.8
                  .scale 0.9
                  .scale 1.0
                .slider
                  .from
                  .to
              .match
                label
                  input.all(name='match', type='radio', value='all')
                  | for all datasets
                label
                  input.any(checked='checked', name='match', type='radio', value='any')
                  | for any dataset
        section#FilterVariantCallingQuality.panel-view
          h3.title Variant calling quality
          .content
            label.label
              input(checked='checked', type='checkbox')
              | Exclude filtered out variants in all datasets
        section#FilterVariantType.panel-view
          h3.title Variant type
          .content
            ul.checklist-values
        section#FilterClinicalSignificance.panel-view
          h3.title Clinical significance
          .content
            ul.checklist-values
        section#FilterConsequence.panel-view
          h3.title Consequence
          .content
            ul.checklist-values
        section#FilterSIFT.panel-view
          h3.title SIFT
          .content
            ul.checklist-values
        section#FilterPolyPhen.panel-view
          h3.title PolyPhen
          .content
            ul.checklist-values
