%div.text-left
  %div
    %span{ data: { frequency: 'null' } }
    %span Not Available
  %div
    %span{ data: { frequency: '0/7' } }
    %span Monomorphic(REF)
  %div
    %span{ data: { frequency: '1/7' } }
    %span Singleton
  %div
    %span{ data: { frequency: '2/7' } }
    %span &lt; 0.0001
  %div
    %span{ data: { frequency: '3/7' } }
    %span &lt; 0.001
  %div
    %span{ data: { frequency: '4/7' } }
    %span &lt; 0.01
  %div
    %span{ data: { frequency: '5/7' } }
    %span &lt; 0.05
  %div
    %span{ data: { frequency: '6/7' } }
    %span &lt; 0.5
  %div
    %span{ data: { frequency: '7/7' } }
    %span &ge; 0.5
