%div.text-left
  %div{ data: { icon: 'polyphen_probably_damaging' } } Probably Damaging (&gt; 0.908)
  %div{ data: { icon: 'polyphen_possibly_damaging' } } Possibly Damaging (&gt 0.446)
  %div{ data: { icon: 'polyphen_benign' } } Benign (&le; 0.446)
  %div{ data: { icon: 'polyphen_unknown' } } Unknown
