<% provide(:title, 'About') %>
<% provide(:page, 'about') %>
<% provide(:active, doc_about_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">About TogoVar</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">TogoVar（日本人ゲノム多様性統合データベース）は、日本人ゲノム配列の個人による違い（バリアント）とそれに関係する疾患情報などを収集・整理したデータベースです。</p>
        <p class="body">TogoVarは、研究プロジェクト横断的に集約した日本人におけるバリアントの頻度情報を提供します。利用可能な２つのデータセットである<a href="/doc/datasets/jga_ngs">JGA-NGS</a>と<a href="/doc/datasets/jga_snp">JGA-SNP</a>は<a target="_blank" href="https://humandbs.biosciencedbc.jp/">NBDCヒトデータベース</a>/<a target="_blank" href="https://www.ddbj.nig.ac.jp/jga/index.html">Japanese
          Genotype-phenotype Archive
          (JGA)</a>に登録されている個人ごとのゲノムデータを集約して得られた頻度情報です。さらに、多種多様なデータベースに散在して収録されてきた<a href="/doc/datasets">遺伝子型や表現型に関連する情報</a>を整理統合し、バリアントを解釈するための情報をワンストップでわかりやすく提供します。
        </p>
        <p class="body">TogoVarは、<a target="_blank" href="https://biosciencedbc.jp/">国立研究開発法人科学技術振興機構 バイオサイエンスデータベースセンター
          (NBDC)</a>と<a target="_blank" href="http://dbcls.rois.ac.jp/">大学共同利用機関法人 情報・システム研究機構 データサイエンス共同利用基盤施設
          ライフサイエンス統合データベースセンター (DBCLS)</a>との共同研究で開発しています。</p>
        <p class="body">詳細は<a target="_blank" href="https://www.jst.go.jp/pr/announce/20180607/index.html">プレスリリース記事</a>をご覧ください。
        </p>
      </section>
    </div>
  </article>
</main>
