<% provide(:title, 'Contact') %>
<% provide(:page, 'contact') %>
<% provide(:active, doc_contact_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">お問い合わせ</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">我々のサービスに対しての問題や質問またはご提案がございましたら、e-mailにてお知らせ下さい。</p>
        <p class="body">togovar [at] biosciencedbc [dot] jp</p>
        <p class="body">データを再利用する、または、ご提供いただける研究者の方々からのご連絡もお待ちしております。</p>
      </section>
    </div>
  </article>
</main>
