<% provide(:title, 'Downloads') %>
<% provide(:page, 'downloads') %>
<% provide(:active, downloads_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Downloads</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">TogoVarデータは以下のリンクからダウンロード可能です。 </p>
        <ul>
          <li><a href="/downloads/gem_j_wga/">GEM Japan Whole Genome Aggregation (GEM-J WGA) パネルの頻度情報 (VCFフォーマット)</a>
            <p>
              日本各地から収集した7,609人分の全ゲノム配列情報(Whole Genome Sequence: WGS)
              をバリアント検知して得られた日本人一般集団の大規模バリアント頻度データセットです。全ゲノム配列情報も制限公開データとして利用可能です。国立研究開発法人日本医療研究開発機構(AMED)が推進するGEnome
              Medical alliance Japan（GEM Japan, ジェムジャパン）プロジェクトの一環として実施されました。<a href="/doc/datasets/gem_j_wga">[詳細]</a>
              <a href="/downloads/gem_j_wga">[ダウンロード]</a></p>
            </p>
          </li>
          <li><a href="/downloads/release/current">GEM-J WGA以外のバリアントの頻度情報 (JGA-NGS, JGA-SNP, ExAC, 4.7KJPN,
            HGVD)(タブ区切りフォーマット)</a>
            <p>
              <a href="/doc/datasets/jga_ngs">JGA-NGS</a>と<a href="/doc/datasets/jga_snp">JGA-SNP</a>は、<a target="_blank" href="https://humandbs.biosciencedbc.jp/">NBDCヒトデータベース
              /
              <a target="_blank" href="https://www.ddbj.nig.ac.jp/jga/index-e.html">Japanese Genotype-phenotype Archive
                (JGA)</a>
              に登録されている個人レベルのゲノムデータを集約した頻度データです。<a href="/doc/datasets">[詳細]</a>
              <a href="/downloads/release/current">[ダウンロード]</a></p>
            　</p>
          </li>
        </ul>
      </section>
    </div>
  </article>
</main>
