<% provide(:title, 'Downloads') %>
<% provide(:page, 'downloads') %>
<% provide(:active, downloads_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Downloads</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">TogoVarデータは以下のリンクからダウンロード可能です。詳細は<a class="hyper-text" href="/public/release/20180601/README.txt">README.txt</a>をご覧ください。
        </p>
        <table class="table">
          <caption>Latest release: 20180601</caption>
          <thead>
          <tr>
            <th scope="col">Chromosome</th>
            <th scope="col">Variation frequency</th>
            <th scope="col">Molecular annotation</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              chr 1 frequency
              [<a href="/public/release/20180601/chr_1_frequency.tsv.gz">.tsv</a>] (110.0 MB)
            </td>
            <td>
              chr 1 molecular annotation
              [<a href="/public/release/20180601/chr_1_molecular_annotation.tsv.gz">.tsv</a>] (113.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              chr 2 frequency
              [<a href="/public/release/20180601/chr_2_frequency.tsv.gz">.tsv</a>] (100.0 MB)
            </td>
            <td>
              chr 2 molecular annotation
              [<a href="/public/release/20180601/chr_2_molecular_annotation.tsv.gz">.tsv</a>] (111.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              chr 3 frequency
              [<a href="/public/release/20180601/chr_3_frequency.tsv.gz">.tsv</a>] (81.0 MB)
            </td>
            <td>
              chr 3 molecular annotation
              [<a href="/public/release/20180601/chr_3_molecular_annotation.tsv.gz">.tsv</a>] (95.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
              chr 4 frequency
              [<a href="/public/release/20180601/chr_4_frequency.tsv.gz">.tsv</a>] (70.0 MB)
            </td>
            <td>
              chr 4 molecular annotation
              [<a href="/public/release/20180601/chr_4_molecular_annotation.tsv.gz">.tsv</a>] (74.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>
              chr 5 frequency
              [<a href="/public/release/20180601/chr_5_frequency.tsv.gz">.tsv</a>] (69.0 MB)
            </td>
            <td>
              chr 5 molecular annotation
              [<a href="/public/release/20180601/chr_5_molecular_annotation.tsv.gz">.tsv</a>] (74.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>
              chr 6 frequency
              [<a href="/public/release/20180601/chr_6_frequency.tsv.gz">.tsv</a>] (71.0 MB)
            </td>
            <td>
              chr 6 molecular annotation
              [<a href="/public/release/20180601/chr_6_molecular_annotation.tsv.gz">.tsv</a>] (70.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>
              chr 7 frequency
              [<a href="/public/release/20180601/chr_7_frequency.tsv.gz">.tsv</a>] (68.0 MB)
            </td>
            <td>
              chr 7 molecular annotation
              [<a href="/public/release/20180601/chr_7_molecular_annotation.tsv.gz">.tsv</a>] (73.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>
              chr 8 frequency
              [<a href="/public/release/20180601/chr_8_frequency.tsv.gz">.tsv</a>] (59.0 MB)
            </td>
            <td>
              chr 8 molecular annotation
              [<a href="/public/release/20180601/chr_8_molecular_annotation.tsv.gz">.tsv</a>] (66.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>
              chr 9 frequency
              [<a href="/public/release/20180601/chr_9_frequency.tsv.gz">.tsv</a>] (54.0 MB)
            </td>
            <td>
              chr 9 molecular annotation
              [<a href="/public/release/20180601/chr_9_molecular_annotation.tsv.gz">.tsv</a>] (53.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>
              chr 10 frequency
              [<a href="/public/release/20180601/chr_10_frequency.tsv.gz">.tsv</a>] (57.0 MB)
            </td>
            <td>
              chr 10 molecular annotation
              [<a href="/public/release/20180601/chr_10_molecular_annotation.tsv.gz">.tsv</a>] (59.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>
              chr 11 frequency
              [<a href="/public/release/20180601/chr_11_frequency.tsv.gz">.tsv</a>] (66.0 MB)
            </td>
            <td>
              chr 11 molecular annotation
              [<a href="/public/release/20180601/chr_11_molecular_annotation.tsv.gz">.tsv</a>] (73.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>
              chr 12 frequency
              [<a href="/public/release/20180601/chr_12_frequency.tsv.gz">.tsv</a>] (62.0 MB)
            </td>
            <td>
              chr 12 molecular annotation
              [<a href="/public/release/20180601/chr_12_molecular_annotation.tsv.gz">.tsv</a>] (70.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>
              chr 13 frequency
              [<a href="/public/release/20180601/chr_13_frequency.tsv.gz">.tsv</a>] (35.0 MB)
            </td>
            <td>
              chr 13 molecular annotation
              [<a href="/public/release/20180601/chr_13_molecular_annotation.tsv.gz">.tsv</a>] (31.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>
              chr 14 frequency
              [<a href="/public/release/20180601/chr_14_frequency.tsv.gz">.tsv</a>] (41.0 MB)
            </td>
            <td>
              chr 14 molecular annotation
              [<a href="/public/release/20180601/chr_14_molecular_annotation.tsv.gz">.tsv</a>] (47.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>
              chr 15 frequency
              [<a href="/public/release/20180601/chr_15_frequency.tsv.gz">.tsv</a>] (40.0 MB)
            </td>
            <td>
              chr 15 molecular annotation
              [<a href="/public/release/20180601/chr_15_molecular_annotation.tsv.gz">.tsv</a>] (45.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>
              chr 16 frequency
              [<a href="/public/release/20180601/chr_16_frequency.tsv.gz">.tsv</a>] (49.0 MB)
            </td>
            <td>
              chr 16 molecular annotation
              [<a href="/public/release/20180601/chr_16_molecular_annotation.tsv.gz">.tsv</a>] (57.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>
              chr 17 frequency
              [<a href="/public/release/20180601/chr_17_frequency.tsv.gz">.tsv</a>] (52.0 MB)
            </td>
            <td>
              chr 17 molecular annotation
              [<a href="/public/release/20180601/chr_17_molecular_annotation.tsv.gz">.tsv</a>] (60.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>
              chr 18 frequency
              [<a href="/public/release/20180601/chr_18_frequency.tsv.gz">.tsv</a>] (28.0 MB)
            </td>
            <td>
              chr 18 molecular annotation
              [<a href="/public/release/20180601/chr_18_molecular_annotation.tsv.gz">.tsv</a>] (32.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td>
              chr 19 frequency
              [<a href="/public/release/20180601/chr_19_frequency.tsv.gz">.tsv</a>] (53.0 MB)
            </td>
            <td>
              chr 19 molecular annotation
              [<a href="/public/release/20180601/chr_19_molecular_annotation.tsv.gz">.tsv</a>] (55.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>
              chr 20 frequency
              [<a href="/public/release/20180601/chr_20_frequency.tsv.gz">.tsv</a>] (29.0 MB)
            </td>
            <td>
              chr 20 molecular annotation
              [<a href="/public/release/20180601/chr_20_molecular_annotation.tsv.gz">.tsv</a>] (29.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td>
              chr 21 frequency
              [<a href="/public/release/20180601/chr_21_frequency.tsv.gz">.tsv</a>] (23.0 MB)
            </td>
            <td>
              chr 21 molecular annotation
              [<a href="/public/release/20180601/chr_21_molecular_annotation.tsv.gz">.tsv</a>] (26.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td>
              chr 22 frequency
              [<a href="/public/release/20180601/chr_22_frequency.tsv.gz">.tsv</a>] (33.0 MB)
            </td>
            <td>
              chr 22 molecular annotation
              [<a href="/public/release/20180601/chr_22_molecular_annotation.tsv.gz">.tsv</a>] (39.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">X</th>
            <td>
              chr X frequency
              [<a href="/public/release/20180601/chr_X_frequency.tsv.gz">.tsv</a>] (25.0 MB)
            </td>
            <td>
              chr X molecular annotation
              [<a href="/public/release/20180601/chr_X_molecular_annotation.tsv.gz">.tsv</a>] (23.0 MB)
            </td>
          </tr>
          <tr>
            <th scope="row">Y</th>
            <td>
              chr Y frequency
              [<a href="/public/release/20180601/chr_Y_frequency.tsv.gz">.tsv</a>] (561.0 KB)
            </td>
            <td>
              chr Y molecular annotation
              [<a href="/public/release/20180601/chr_Y_molecular_annotation.tsv.gz">.tsv</a>] (457.0 KB)
            </td>
          </tr>
          <tr>
            <th scope="row">MT</th>
            <td>
              chr MT frequency
              [<a href="/public/release/20180601/chr_MT_frequency.tsv.gz">.tsv</a>] (20.0 KB)
            </td>
            <td>
              chr MT molecular annotation
              [<a href="/public/release/20180601/chr_MT_molecular_annotation.tsv.gz">.tsv</a>] (21.0 KB)
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </article>
</main>
