<% provide(:title, 'Policy') %>
<% provide(:page, 'policy') %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">サイトポリシー</h2>
    </header>
    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">本サイトについて</h3>
        <p class="body">
          本サイトは、ライフサイエンスデータベース統合推進事業を実施している、国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンター（以下、「NBDC」といいます。）が運営・管理しています。
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">サイトポリシーについて</h3>
        <p class="body">
          本サイトのサイトポリシーは、<a class="hyper-text -external" target="_blank" href="https://biosciencedbc.jp/sitepolicies/">NBDCのサイトポリシー</a>に準拠致します。
          また、<a href="/doc/terms">利用条件のページ</a>に記載のある項目については、このサイトのポリシーが優先されます。
        </p>
      </section>
    </div>
  </article>
</main>
