- provide(:title, 'Policy')

= content_for :header do
  = stylesheet_link_tag 'static/style', media: :all

%main
  .container
    %h1.title
      サイトポリシー

    %h2
      本サイトについて
    %p
      本サイトは、ライフサイエンスデータベース統合推進事業を実施している、国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンター（以下、「NBDC」といいます。）が運営・管理しています。

    %h2
      サイトポリシーについて
    %p
      本サイトのサイトポリシーは、#{link_to 'NBDCのサイトポリシー', 'https://biosciencedbc.jp/sitepolicies/'}に準拠致します。また、#{link_to '利用条件のページ', doc_terms_path}に記載のある項目については、このサイトのポリシーが優先されます。
