<% provide(:title, 'Terms') %>
<% provide(:page, 'terms') %>
<% provide(:active, doc_terms_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">利用条件</h2>
    </header>
    <!--.contents.-two-columns-->
    <div class="contents">
      <section class="section">
        <p class="body">当データベース(以下、データベース)は、<a class="hyper-text -external" target="_blank" href="http://opendatacommons.org/licenses/odbl/1.0/">Open
          Database License(ODbL)</a>の下で利用可能です。</p>
        <p class="body">あなたは自由に</p>
        <ul class="unordered-list">
          <li><strong>共有: </strong>データベースを複製、頒布及び利用することができます。</li>
          <li><strong>創作: </strong>データベースから著作物を製作することができます。</li>
          <li><strong>翻案: </strong>データベースへの改変、変形及び加工ができます。</li>
        </ul>
        <p class="body">あなたの従うべき条件は以下の通りです。</p>
        <ul class="unordered-list">
          <li><strong>表示: </strong>あなたはデータベースを公衆利用する場合、又はデータベースから著作物を製作する場合にはODbLで指定された方式に従い、帰属（クレジット）表示をしなければなりません。データベースを利用若しくは再頒布する場合、又はデータベースから著作物を製作する場合、あなたは、あなたのデータベースのライセンスを他者に対して明示するとともに、原データベース上のあらゆる通告を保持しておく必要があります。
          </li>
          <li><strong>継承: </strong>あなたは、本データベースの翻案版、又は翻案版データベースから製作した著作物を公開利用する場合、その翻案版データベースもODbLに基づき提供しなければなりません。</li>
          <li><strong>キープ・オープン:</strong>あなたは、データベース、又はデータベースの翻案版を再頒布する場合、それらに制限をかける技術的手段（DRMなど）を用いることができます。ただし、あなたは、当該手段を使用していないバージョンも再頒布しなければなりません。
          </li>
        </ul>
        <p class="body">データベースに取り込まれた各データ（コンテンツ）の利用にあたっては、下記のデータの輩出元のライセンスに従ってください。</p>
        <ul class="unordered-list">
          <li>Colil: <a target="_blank" href="http://colil.dbcls.jp/portal/">http://colil.dbcls.jp/portal/</a></li>
          <li>ExAC:
            <a target="_blank" href="http://exac.broadinstitute.org/terms">http://exac.broadinstitute.org/terms</a></li>
          <li>HGVD:
            <a target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html">http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html</a>
          </li>
          <li>Integrative Japanese Genome Variation Database
            3.5KJPN: <a target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/201905/help/conditions-of-use/">https://jmorp.megabank.tohoku.ac.jp/201905/help/conditions-of-use/</a>
          </li>
          <li>PubTator:
            <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt">ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt</a>
          </li>
          <li>JGA-NGS dataset:
            <a href="https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs">https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs</a>
          </li>
          <li>JGA-SNP dataset:
            <a href="https://togovar.biosciencedbc.jp/doc/datasets/jga_snp">https://togovar.biosciencedbc.jp/doc/datasets/jga_snp</a>
          </li>
        </ul>
        <p class="body">上記は<a target="_blank" href="https://opendatacommons.org/licenses/odbl/summary/">一般の人に読みやすいようにした要約</a>です。日本語訳は<a target="_blank" href="https://wiki.openstreetmap.org/wiki/OSMFJ/ODbL/1.0/summary">OpenStreetMap
          Japan(OSMJ)による日本語試訳</a>を参考にしました。<br>適用される実際のライセンス条件については、<a target="_blank" href="http://opendatacommons.org/licenses/odbl/1.0/">ODbL
          1.0ライセンス契約の全文</a>（OSMJによる日本語試訳は<a target="_blank" href="https://docs.google.com/file/d/0BxvlrTvfS0RAN01oZ1dJa3g0aUU/edit">こちら</a>)を参照してください。<br>また、帰属表示は<a href="#credit">帰属（クレジット）表示例</a>を参考にしてください。<br>ライセンス表示は、<a href="#license">ODbLライセンスの採用例</a>の表記を参考にしてください。
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle" id="credit">帰属（クレジット）の表示例</h3>
        <ol class="ordered-list">
          <li>
            <h4 class="heading">TogoVarデータベースの利用に対する引用方法</h4>
            <div class="subsection">
              <h5 class="subheading">TogoVarデータベース全体を引用する場合</h5>
              <div class="body">
                TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database
                Center;
                2018 - [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp">https://togovar.biosciencedbc.jp</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">TogoVarの特定の変異(tgv47264307)を引用する場合の例</h5>
              <div class="body">
                Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database
                Center;
                [2018] - . TogoVarID tgv47264307; [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp/variant/tgv47264307">https://togovar.biosciencedbc.jp/variant/tgv47264307</a>
              </div>
            </div>
          </li>
          <li>
            <h4 class="heading">TogoVarデータベースに取り込まれた各データ（コンテンツ）の引用方法</h4>
            <div class="body">利用するコンテンツに応じて以下の引用をしてください。正式には各コンテンツの利用条件を参照ください。</div>
            <div class="subsection">
              <h5 class="subheading">Colil
                [利用条件：<a target="_blank" href="http://colil.dbcls.jp/portal/">http://colil.dbcls.jp/portal/</a></h5>
              <div class="body">
                T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life
                sciences
                domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015). doi:10.1186/s13326-015-0037-x
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">ExAC
                [利用条件：<a target="_blank" href="http://exac.broadinstitute.org/about">http://exac.broadinstitute.org/about</a>]
              </h5>
              <div class="body">
                Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium, E. A.
                (2016).
                Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616),
                285-291.<a target="_blank" href="http://doi.org/10.1038/nature19057">http://doi.org/10.1038/nature19057</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">HGVD Release Version 2.30 (2017/08/02)
                [利用条件：<a target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html">http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html</a>]
              </h5>
              <div class="body">
                K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in the
                Japanese
                population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">Japanese Multi Omics Reference Panel (jMorp) 3.5KJPNv2
                [利用条件: <a target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use">https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use</a>]
              </h5>
              <div class="body">
                "3.5KJPNv2, an allele frequency panel of 3,552 Japanese Individuals including the X chromosome", Tadaka S, Katsuoka F, et al., Human Genome Variation, 2019; doi: <a target="_blank" href="https://doi.org/10.1038/s41439-019-0059-5">https://doi.org/10.1038/s41439-019-0059-5</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">PubTator
                [利用条件：<a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt">ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt</a>]
              </h5>
              <div class="body">
                Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids
                research, 2013,
                41 (W1): W518-W522. doi: 10.1093/nar/gkt44
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">JGA-NGS dataset
                [利用条件：<a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>]
              </h5>
              <div class="body">
                Variant set aggregated from NGS data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and
                Technology
                Agency (Japan), National Bioscience Database Center; [2018] - .
                JGA-NGS dataset; [cited YYYY Mmm DD]. Available
                from:<a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>
              </div>
            </div>
            <div class="subsection">
              <h5 class="subheading">JGA-SNP dataset
                [labeled_link_to：<a href="https://togovar.biosciencedbc.jp/datasets/jga_snp">https://togovar.biosciencedbc.jp/datasets/jga_snp</a>]
              </h5>
              <div class="body">
                Variant set aggregated from SNP-chip data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science
                and
                Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-SNP dataset; [cited YYYY
                Mmm DD].
                Available
                from:<a href="https://togovar.biosciencedbc.jp/datasets/jga_ngs">https://togovar.biosciencedbc.jp/datasets/jga_ngs</a>
              </div>
            </div>
          </li>
        </ol>
      </section>
      <section class="section">
        <h3 class="sectiontitle" id="license">ODbLライセンスの採用例</h3>
        <ul class="unordered-list">
          <li><a target="_blank" href="https://www.openstreetmap.org/copyright/">Open Street Map</a></li>
          <li><a target="_blank" href="http://farmsubsidy.openspending.org/legal/">Farm Subsidy</a></li>
          <li><a target="_blank" href="https://opencorporates.com/info/licence">Open Corporates</a></li>
        </ul>
      </section>
    </div>
  </article>
</main>
