variant:
  id: tgv_id

  base_options:
    ep: $TOGOVAR_STANZA_SPARQL_URL
    sparqlist: $TOGOVAR_STANZA_SPARQLIST_URL

  stanza:
    - id: variant-header
      dom: "#variant-header"
      options:
        togostanza-menu-placement: none

    - id: variant-summary
      dom: "#variant-summary"

    - id: variant-other-overlapping-variants
      dom: "#variant-other-overlapping-variants"
      options:
        search_api: $TOGOVAR_STANZA_SEARCH_API_URL

    - id: variant-frequency
      dom: "#variant-frequency"

    - id: variant-clinvar
      dom: "#variant-clinvar"

    - id: pagination-table
      dom: "#variant-gwas"
      src: https://togostanza.github.io/metastanza/pagination-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/variant_gwas?ep=${TOGOVAR_STANZA_SPARQL_URL}&tgv_id=${tgv_id}
        data-type: json
        padding: 0
        page-size-option: 5,10,20,50,100
        page-slider: false
        togostanza-menu-placement: none
        columns:
          - id: variant_and_risk_allele
            label: rs# and risk allele
            link: rs_uri
            line-clamp: 3
          - id: raf
            label: RAF
            line-clamp: 3
          - id: p_value
            label: P-value
            type: number
            line-clamp: 3
          - id: odds_ratio
            label: OR
            line-clamp: 3
          - id: ci_text
            label: CI
            line-clamp: 3
          - id: beta
            label: Beta
            line-clamp: 3
          - id: beta_unit
            label: Beta unit
            line-clamp: 3
          - id: mapped_trait
            label: Trait(s)
            escape: false
            line-clamp: 3
          - id: pubmed_id
            label: PubMed ID
            link: pubmed_uri
            line-clamp: 3
          - id: study_detail
            label: Study accession
            link: study
            line-clamp: 3
          - id: initial_sample_size
            label: Discovery sample description
            line-clamp: 3
          - id: replication_sample_size
            label: Replication sample description
            line-clamp: 3

    - id: variant-genomic-context
      dom: "#variant-genomic-context"
      options:
        assembly: GRCh37
        jbrowse: $TOGOVAR_STANZA_JBROWSE_URL
        margin: 50

    - id: variant-gene
      dom: "#variant-gene"
      options:
        assembly: GRCh37

    - id: variant-transcript
      dom: "#variant-transcript"
      options:
        assembly: GRCh37

    - id: variant-publication
      dom: "#variant-publication"

gene:
  id: hgnc_id

  base_options:
    ep: $TOGOVAR_STANZA_SPARQL_URL
    sparqlist: $TOGOVAR_STANZA_SPARQLIST_URL

  stanza:
    - id: gene-header
      dom: "#gene-header"
      options:
        togostanza-menu-placement: none

    - id: gene-base
      dom: "#gene-base"

    - id: pagination-table
      dom: "#gene-clinvar"
      src: https://togostanza.github.io/metastanza/pagination-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/gene_clinvar?ep=${TOGOVAR_STANZA_SPARQL_URL}&hgnc_id=${hgnc_id}
        data-type: json
        custom-css-url: https://togostanza.github.io/togostanza-themes/contrib/togovar.css
        padding: 0
        page-size-option: 5,10,20,50,100
        page-slider: false
        togostanza-menu-placement: none
        columns:
          - id: tgv_id
            label: TogoVar ID
            link: tgv_link
            line-clamp: 3
          - id: position
            label: Position
            line-clamp: 3
          - id: title
            label: Title
            link: clinvar
            line-clamp: 3
          - id: interpretation
            label: Clinical significance
            escape: false
            line-clamp: 3
          - id: review_status
            label: Review status
            escape: false
            line-clamp: 3
          - id: last_evaluated
            label: Last evaluated
            line-clamp: 3
          - id: condition
            label: Condition(s)
            link: medgen
            line-clamp: 3

    - id: pagination-table
      dom: "#gene-gwas"
      src: https://togostanza.github.io/metastanza/pagination-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/gene_gwas?ep=${TOGOVAR_STANZA_SPARQL_URL}&hgnc_id=${hgnc_id}
        data-type: json
        padding: 0
        custom-css-url: https://togostanza.github.io/togostanza-themes/contrib/togovar.css
        page-size-option: 5,10,20,50,100
        page-slider: false
        togostanza-menu-placement: none
        columns:
          - id: tgv_id
            label: TogoVar ID
            link: tgv_link
            line-clamp: 3
          - id: variant_and_risk_allele
            label: rs# and risk allele
            link: rs_uri
            line-clamp: 3
          - id: position
            label: Position
            escape: false
            line-clamp: 3
          - id: ref_alt
            label: Ref/Alt
            escape: false
            line-clamp: 3
          - id: alt_freq
            label: Alt freq. of GEM-J WGA
            type: number
            significant-digits: 4
            exponent-digits: 3
            line-clamp: 3
          - id: raf
            label: RAF
            type: number
            significant-digits: 4
            exponent-digits: 3
            line-clamp: 3
          - id: p_value
            label: P-value
            type: number
            significant-digits: 1
            exponent-digits: 0
            line-clamp: 3
          - id: odds_ratio
            label: OR
            type: number
            significant-digits: 4
            exponent-digits: 3
            line-clamp: 3
          - id: ci_text
            label: CI
            line-clamp: 3
          - id: beta
            label: Beta
            type: number
            significant-digits: 1
            exponent-digits: 0
            line-clamp: 3
          - id: beta_unit
            label: Beta unit
            line-clamp: 3
          - id: mapped_trait
            label: Trait(s)
            escape: false
            line-clamp: 3
          - id: pubmed_id
            label: PubMed ID
            link: pubmed_uri
            line-clamp: 3
          - id: study_detail
            label: Study accession
            link: study
            line-clamp: 3
          - id: initial_sample_size
            label: Discovery sample description
            line-clamp: 3
          - id: replication_sample_size
            label: Replication sample description
            line-clamp: 3

    - id: gene-genomic-context
      dom: "#gene-genomic-context"
      options:
        assembly: GRCh37
        jbrowse: $TOGOVAR_STANZA_JBROWSE_URL
        margin: 200

    - id: gene-variant
      dom: "#gene-variant"

    - id: gene-publication
      dom: "#gene-publication"

disease:
  id: medgen_cid

  base_options:
    ep: $TOGOVAR_STANZA_SPARQL_URL
    sparqlist: $TOGOVAR_STANZA_SPARQLIST_URL

  stanza:
    - id: disease-header
      dom: "#disease-header"

    - id: hash-table
      dom: "#disease-base"
      src: https://togostanza.github.io/metastanza/hash-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/disease_base?ep=${TOGOVAR_STANZA_SPARQL_URL}&medgen_cid=${medgen_cid}
        data-type: json
        padding: 0
        togostanza-menu-placement: none
        columns:
          - id: label
            label: Title
          - id: definition
            label: Definition

    - id: pagination-table
      dom: "#disease-clinvar"
      src: https://togostanza.github.io/metastanza/pagination-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/disease_clinvar?ep=${TOGOVAR_STANZA_SPARQL_URL}&medgen_cid=${medgen_cid}
        data-type: json
        custom-css-url: https://togostanza.github.io/togostanza-themes/contrib/togovar.css
        padding: 0
        page-size-option: 5,10,20,50,100
        page-slider: false
        togostanza-menu-placement: none
        columns:
          - id: tgv_id
            label: TogoVar ID
            link: tgv_link
            line-clamp: 3
          - id: position
            label: Position
            escape: false
            line-clamp: 3
          - id: title
            label: Title
            link: clinvar
            line-clamp: 3
          - id: interpretation
            label: Clinical significance
            escape: false
            line-clamp: 3
          - id: review_status
            label: Review status
            escape: false
            line-clamp: 3
          - id: last_evaluated
            label: Last evaluated
            line-clamp: 3
          - id: condition
            label: Condition(s)
            line-clamp: 3

    - id: pagination-table
      dom: "#disease-gwas"
      src: https://togostanza.github.io/metastanza/pagination-table.js
      options:
        data-url: ${TOGOVAR_STANZA_SPARQLIST_URL}/api/disease_gwas?ep=${TOGOVAR_STANZA_SPARQL_URL}&medgen_cid=${medgen_cid}
        data-type: json
        padding: 0
        page-size-option: 5,10,20,50,100
        page-slider: false
        togostanza-menu-placement: none
        columns:
          - id: variant_and_risk_allele
            label: rs# and risk allele
            escape: false
            line-clamp: 3
          - id: raf
            label: RAF
            line-clamp: 3
          - id: p_value
            label: P-value
            line-clamp: 3
          - id: odds_ratio
            label: OR
            line-clamp: 3
          - id: ci_text
            label: CI
            line-clamp: 3
          - id: beta
            label: Beta
            line-clamp: 3
          - id: beta_unit
            label: Beta unit
            line-clamp: 3
          - id: mapped_trait
            label: Trait(s)
            escape: false
            line-clamp: 3
          - id: pubmed_id
            label: PubMed ID
            link: pubmed_uri
            line-clamp: 3
          - id: study_detail
            label: Study accession
            link: study
            line-clamp: 3
          - id: initial_sample_size
            label: Discovery sample description
            line-clamp: 3
          - id: replication_sample_size
            label: Replication sample description
            line-clamp: 3
