extend ../../../layouts/application

append variables
  - locals.currentPage = "datasets/analysis";
  - locals.language = "en";
  - locals.title = "Datasets > Analysis | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    case TOGOVAR_FRONTEND_REFERENCE
      when 'GRCh37'
        include analysis_grch37
      when 'GRCh38'
        include analysis_grch38
      default
        // none
