article.common-document
  header.header
    h2.title JGA-SNP dataset
  .contents
    section.section
      h3.sectiontitle Summary
      p.body
        | The JGA-SNP dataset is a frequency dataset that aggregates variants detected from SNP-chip data in the
        |
        a(target='_blank', href='https://humandbs.dbcls.jp/en/')
          | NBDC Human Database
        | /
        a(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index-e.html')
          | Japanese Genotype-phenotype Archive (JGA)
        | . All JGA data for which an approval for creating secondary data has been obtained are to be aggregated.
        | In June 2024, allele and genotype frequencies aggregated by sex for 45 diseases were added from SNP genotyping of 182,557 individuals, performed by
        |
        a.hyper-text.-external(href='https://biobankjp.org/en/') BioBank Japan
        | and
        |
        a.hyper-text.-external(href='https://www.ims.riken.jp/') RIKEN
        |. Note that variants with alternative allele counts of five or fewer are not included.
      ul.unordered-list
        li Version/Last updated: 2024/6/28
        li Sample size: 183,884
        li Number of detected variants (alternative alleles): 1,966,919
        li Number of variants after the exclusion: 1,249,724

    section.section
      h3.sectiontitle Terms of use
      .subsection
        h4.heading Rights of Data Users
        p.body
          | The rights of data users shall conform to "5-2-1. Open Data" in "5-2. Rights of Data Users" listed in
          |
          a(target='_blank', href='https://humandbs.dbcls.jp/guidelines/data-sharing-guidelines')
            | the NBDC Human Data Sharing Guidelines
          | .
        ol.ordered-list
          li
            | The data user can freely present the result of the study for which data from the NBDC Human Database
            | are used.
          li
            | The data user can freely acquire intellectual property rights based on the result of the study for
            | which data from the NBDC Human Database are used.
      .subsection
        h4.heading Responsibilities of Data Users
        p.body
          | Terms of "5-3-1. Open Data" in "5-3. Responsibilities of Data Users" listed in the NBDC Human Data
          | Sharing Guidelines shall apply with modification to the responsibilities of data users. As for
          | redistribution of data, terms for controlled-access data shall apply because this dataset was generated
          | by processing controlled-access data.
        ol.ordered-list
          li
            | In using data, the user must take responsibility for and make judgments concerning the quality,
            | content, and scientific validity of the data.
          li
            | The data user must comply with the following rules.
            ul.unordered-list
              li The use of data is limited to the study being undertaken.
              li Identification of individuals is prohibited
              li Redistribution of data is prohibited.
          li
            | The data user must add the following citation while using the data in public (e.g. publishing an
            | article).
            p
              | Variant dataset aggregated from SNP-chip data in
              |
              a(target='_blank', href='https://humandbs.dbcls.jp/en/')
                | NBDC Human Database
              | /
              a(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index.html') JGA
              |  [Internet]. Kashiwa: Database Center for Life Science, Joint Support-Center for Data Science Research,
              |
              | Research Organization of Information and Systems; [2018] - . JGA-SNP dataset; [cited YYYY Mmm DD]. Available from:
              |
              a(href='https://grch37.togovar.org/doc/datasets/jga_snp')
                | https://grch37.togovar.org/doc/datasets/jga_snp

    section.section
      h3#jga_datasets.sectiontitle Included controlled-access datasets
      p
        | By specifying the JGAID, you can apply for data use to
        |
        a.hyper-text.-external(target='_blank', href='https://humandbs.dbcls.jp/en/data-use')
          | the NBDC Human database
        | .
      table.table._column-span-all
        thead
          tr
            th JGAID
            th Human DB ID
            th Study title
            th Participants
            th Sample size
            th Data provider
        tbody
          tr
            td
              a(target='_blank', href='https://ddbj.nig.ac.jp/resource/jga-dataset/JGAD000123')
                | JGAD000123
            td
              a(target='_blank', href='https://humandbs.dbcls.jp/hum0014-v8') hum0014
            td Biobank Japan Project
            td BMI research participants
            td._align-right 182,557
            td Michiaki Kubo
          tr
            td
              a(target='_blank', href='https://ddbj.nig.ac.jp/resource/jga-dataset/JGAD000018')
                | JGAD000018
            td
              a(target='_blank', href='https://humandbs.dbcls.jp/hum0028-v1') hum0028
            td Biobank Japan Project
            td Healthy control
            td._align-right 908
            td Michiaki Kubo
          tr
            td
              a(target='_blank', href='https://ddbj.nig.ac.jp/resource/jga-dataset/JGAD000130')
                | JGAD000130
                br
              a(target='_blank', href='https://ddbj.nig.ac.jp/resource/jga-dataset/JGAD000131')
                | JGAD000131
            td
              a(target='_blank', href='Genome-wide analysis of SNPs in Healthy Japanese') hum0082
            td Genome-wide analysis of SNPs in Healthy Japanese
            td Healthy control
            td._align-right 419
            td Katsushi Tokunaga
        tfoot
          tr
            th._align-center(colspan='4') Total
            td._align-right 183,884

    section.section
      h3#diseases_jgad000123.sectiontitle List of 45 diseases included in JGAD000123 from BioBank Japan and RIKEN
      p
        |
        | We have published the frequencies aggregated by disease and sex for the dataset JGAD000123 in June 2024.
        | In some cases, multiple disease names were assigned to the same sample.
        | By using the “Alternative allele frequency/count” in the Advanced search, you can search for variants based on the frequencies aggregated by disease and sex.
      table.table._column-span-all
        thead
          tr
            th Disease category
            th Disease name
            th Sex
        tbody
          tr
            td(rowspan="13") Neoplasms
            td Lung cancer
            td male/female
          tr
            td Esophageal cancer
            td male/female
          tr
            td Gastric cancer
            td male/female
          tr
            td Colorectal cancer
            td male/female
          tr
            td Liver cancer
            td male/female
          tr
            td Pancreas cancer
            td male/female
          tr
            td Gallbladder/Cholangiocarcinoma
            td male/female
          tr
            td Prostate cancer
            td male
          tr
            td Breast cancer
            td female
          tr
            td Cervical cancer
            td female
          tr
            td Uterine cancer
            td female
          tr
            td Ovarian cancer
            td female
          tr
            td Hematopoietic tumor
            td male/female
          tr
            td(rowspan="3") Diseases of the nervous system
            td Cerebral infarction
            td male/female
          tr
            td Cerebral aneurysm
            td male/female
          tr
            td Epilepsy
            td male/female
          tr
            td(rowspan="4") Diseases of the respiratory system
            td Bronchial asthma
            td male/female
          tr
            td Pulmonary tuberculosis
            td male/female
          tr
            td Chronic obstructive pulmonary disease
            td male/female
          tr
            td Interstitial lung disease/Pulmonary fibrosis
            td male/female
          tr
            td(rowspan="6") Diseases of the circulatory system
            td Myocardial infarction
            td male/female
          tr
            td Unstable angina
            td male/female
          tr
            td Stable angina
            td male/female
          tr
            td Arrhythmia
            td male/female
          tr
            td Heart failure
            td male/female
          tr
            td Peripheral arterial diseases
            td male/female
          tr
            td(rowspan="3") Hepato-Biliary-Pancreatic diseases
            td Chronic hepatitis B
            td male/female
          tr
            td Chronic hepatitis C
            td male/female
          tr
            td Liver cirrhosis
            td male/female
          tr
            td(rowspan="2") Diseases of the genitourinary system
            td Nephrotic syndrome
            td male/female
          tr
            td Urolithiasis
            td male/female
          tr
            td(rowspan="3") Metabolic diseases
            td Osteoporosis
            td male/female
          tr
            td Diabetes mellitus
            td male/female
          tr
            td Dyslipidemia
            td male/female
          tr
            td Endocrine diseases
            td Graves' disease
            td male/female
          tr
            td Collagen diseases (connective tissue diseases)
            td Rheumatoid arthritis
            td male/female
          tr
            td Allergy
            td Hay fever
            td male/female
          tr
            td(rowspan="3") Diseases of the skin and subcutaneous tissue
            td Drug eruption
            td male/female
          tr
            td Atopic dermatitis
            td male/female
          tr
            td Keloid
            td male/female
          tr
            td(rowspan="2") Gynecological diseases
            td Uterine fibroid
            td female
          tr
            td Endometriosis
            td female
          tr
            td(rowspan="2") Diseases of the eye and adnexa
            td Glaucoma
            td male/female
          tr
            td Cataract
            td male/female
          tr
            td Oral and Maxillofacial diseases
            td Periodontitis
            td male/female
