article.common-document
  header.header
    h2.title National Center Biobank Network (NCBN) dataset
  .contents
    section.section
      h3.sectiontitle Summary
      p.body
        | The NCBN dataset consists of  allele and genotype frequencies obtained through whole-genome sequence (WGS) analysis of healthy individuals for cancer and rare disease studies, collected by
        |
        a.hyper-text.-external(target='blank', href='https://ncbiobank.org/') the National Center BioBank Network (NCBN)
        |. Regional variations were taken into consideration. The dataset includes frequencies for the mainland Japanese population and the Ryukyu population, determined through PCA analysis.
        | Variants that were specific to or not observed in the Japanese population were identified by joint calling with WGS data from
        |
        a.hyper-text.-external(target='blank', href='https://www.internationalgenome.org/') the 1000 Genomes Project (1KGP)
        | . See the publication below for details. Individual-level WGS data are available at the NBDC human database (
        a.hyper-text.-external(target='_blank', href='https://humandbs.dbcls.jp/en/hum0331-v1') hum0331
        | ).
      ul.unordered-list
        li Version/Last update: 2024/6/28
        li Sample size: 9,290 (Japanese), 2,504 (1000 Genomes Project)
        li Number of variants：215,729,032 (Total of Japanese and 1000 Genomes Project)
      .subsection
        h4.heading Publication
        p.body
        | Kawai Y, Watanabe Y, Omae Y, Miyahara R, Khor S-S, Noiri E, et al. (2023)
        | Exploring the genetic diversity of the Japanese population: Insights from a large-scale whole genome sequencing analysis. 
        | PLoS Genet 19(12): e1010625. 
        a.hyper-text.-external(target="_blank", href="https://doi.org/10.1371/journal.pgen.1010625") https://doi.org/10.1371/journal.pgen.1010625
        | .
      a#terms

    section.section
      h3.sectiontitle Terms of use
      .subsection
        h4.heading Rights of Data Users
        p.body
          | The rights of data users shall conform to "5-2-1. Open Data" in "5-2. Rights of Data Users" listed in
          |
          a.hyper-text.-external(target='_blank', href='https://humandbs.dbcls.jp/en/guidelines/data-sharing-guidelines')
            | the NBDC Human Data Sharing Guidelines.
        ol.ordered-list
          li
            | The data user can freely present the result of the study for which data from the NBDC Human Database
            | are used.
          li
            | The data user can freely acquire intellectual property rights based on the result of the study for
            | which data from the NBDC Human Database are used.
      .subsection
        h4.heading Responsibilities of Data Users
        p.body
          | Terms of "5-3-1. Open Data" in "5-3. Responsibilities of Data Users" listed in the NBDC Human Data
          | Sharing Guidelines shall apply with modification to the responsibilities of data users. As for
          | redistribution of data, terms for controlled-access data shall apply because this dataset was generated
          | by processing controlled-access data.
        ol.ordered-list
          li
            | In using data, the user must take responsibility for and make judgments concerning the quality,
            | content, and scientific validity of the data.
          li
            | The data user must comply with the following rules.
            ul.unordered-list
              li The use of data is limited to the study being undertaken.
              li Identification of individuals is prohibited
              li Redistribution of data is prohibited.
          li
            | The data user must add the following citation while using the data in public (e.g. publishing an article).
            p.body
              | Kawai Y, Watanabe Y, Omae Y, Miyahara R, Khor S-S, Noiri E, et al. (2023)
              | Exploring the genetic diversity of the Japanese population: Insights from a large-scale whole genome sequencing analysis. 
              | PLoS Genet 19(12): e1010625. 
              a(target="_blank", href="https://doi.org/10.1371/journal.pgen.1010625") https://doi.org/10.1371/journal.pgen.1010625
              | .

    section.section
      h3#jga_datasets.sectiontitle Included controlled-access datasets
      p
        | By specifying the JGAID, you can apply for data use to
        |
        a.hyper-text.-external(target='_blank', href='https://humandbs.dbcls.jp/en/data-use')
          | the NBDC Human database
        | .
      table.table._column-span-all
        thead
          tr
            th JGAID
            th Human DB ID
            th Study title
            th Participants
            th
              | Sample
              br
              | size
            th Data provider
        tbody
          tr
              td
                a(target='_blank', href='https://humandbs.dbcls.jp/en/hum0331-v1#hum0331.v1.freq.v1') hum0331.v1.freq.v1
              td
                a(target='_blank', href='https://humandbs.dbcls.jp/en/hum0331-v3') hum0331
              td Construction of control data for the promotion of genomic medicine for cancers and rare diseases
              td healthy individuals (Japanese)
              td._align-right 9,290
              td Katsushi Tokunaga
          tfoot
            tr
              th._align-center(colspan='4') Total
              th._align-right 9,290

    section.section
      h3#ncbn_populations.sectiontitle  List of populations for which frequencies are available
      p.body
        | By using the “Alternative allele frequency/count” in the Advanced search, you can search for variants based on the alternative allele frequencies aggregated by population.
      ul.unordered-list
        li Mainland of Japan
        li Ryukyu Island in Japan
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/ACB") African Caribbean in Barbados [ACB]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/ASW") African Ancestry in SW USA [ASW]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/BEB") Bengali in Bangladesh [BEB]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/GBR") British From England and Scotland [GBR]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/CDX") Chinese Dai in Xishuangbanna, China [CDX]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/CLM") Colombian in Medellín, Colombia [CLM]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/ESN") Esan in Nigeria [ESN]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/FIN") Finnish in Finland [FIN]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/GWD") Gambian in Western Division – Mandinka [GWD]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/GIH") Gujarati Indians in Houston, Texas, USA [GIH]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/CHB") Han Chinese in Beijing, China [CHB]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/CHS") Han Chinese South [CHS]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/IBS") Iberian Populations in Spain [IBS]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/ITU") Indian Telugu in the U.K. [ITU]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/JPT") Japanese in Tokyo, Japan [JPT]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/KHV") Kinh in Ho Chi Minh City, Vietnam [KHV]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/LWK") Luhya in Webuye, Kenya [LWK]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/MSL") Mende in Sierra Leone [MSL]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/MXL") Mexican Ancestry in Los Angeles CA USA [MXL]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/PEL") Peruvian in Lima Peru [PEL]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/PUR") Puerto Rican in Puerto Rico [PUR]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/PJL") Punjabi in Lahore, Pakistan [PJL]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/STU") Sri Lankan Tamil in the UK [STU]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/TSI") Toscani in Italia [TSI]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/CEU") Utah residents (CEPH) with Northern and Western European ancestry [CEU]
        li
          a.hyper-text.-external(href="https://www.internationalgenome.org/data-portal/population/YRI") Yoruba in Ibadan, Nigeria [YRI]