extend ../layouts/application

append variables
  - locals.currentPage = "variant";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)
  // Stanza theme
  link(href="https://togostanza.github.io/togostanza-themes/contrib/togovar.css?20220803", rel="stylesheet")

block content
  header#DetailHeader
    .title-wrapper
      p.pagetype Variant report
      h2.title.report_id

    .title-wrapper
      #variant-header

  main#ReportMain.LayoutReport
    section.stanza-view
      #variant-summary.stanza

    section.stanza-view
      h3.title
        | Other overlapping variants
      #variant-other-overlapping-variants.stanza

    section.stanza-view
      h3.title
        | Frequency
      #variant-frequency.stanza

    section.stanza-view
      h3.title
        | Clinical significance
      #variant-clinvar.stanza

    section.stanza-view
      h3.title
        | Genome-wide association study
      #variant-gwas.stanza

    section.stanza-view
      h3.title
        | Genomic context
      #variant-genomic-context.stanza

    section.stanza-view
      h3.title
        | Gene
      #variant-gene.stanza

    section.stanza-view
      h3.title
        | Transcripts
      #variant-transcript.stanza

    section.stanza-view
      h3.title
        | Publications
      #variant-publication.stanza
