extend ../layouts/application

append variables
  - locals.currentPage = "variant";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)

block content
  header#DetailHeader
    .title-wrapper
      p.pagetype Variant report
      h2.title.report_id

    .title-wrapper
      #variant_header

  main#ReportMain.LayoutReport
    section.stanza-view
      #variant_summary.stanza

    section.stanza-view
      h3.title
        | Other overlapping variants
      #variant_other_overlapping_variants.stanza

    section.stanza-view
      h3.title
        | Frequency
      #variant_frequency.stanza

    section.stanza-view
      h3.title
        | Clinical Significance
      #variant_clinvar.stanza

    section.stanza-view
      h3.title
        | Genomic context
      #variant_jbrowse.stanza

    section.stanza-view
      h3.title
        | Gene
      #variant_gene.stanza

    section.stanza-view
      h3.title
        | Transcripts
      #variant_transcript.stanza

    section.stanza-view
      h3.title
        | Publications
      #variant_publication.stanza
