extend ../layouts/application

append variables
  - locals.currentPage = "variant";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)
  script.
    window.addEventListener('DOMContentLoaded', () => {
      window.scrollTo(0, 0);

      const hash = window.location.hash;
      if (hash) {
        setTimeout(() => {
          const target = document.querySelector(hash);
          if (target) {
            target.scrollIntoView({ behavior: 'smooth' });
          }
        }, !{scrollDelay});
      }
    });
  // Variant theme
  link(href="https://togostanza.github.io/togostanza-themes/contrib/togovar.css?20220803", rel="stylesheet")

block content
  header#DetailHeader
    .title-wrapper
      p.pagetype Variant report
      h2.title.report_id

    .title-wrapper
      #variant-header

  main#ReportMain.LayoutReport
    section.stanza-view
      #variant-summary.stanza

    section.stanza-view#other-overlapping-variants
      .titlelink-wrapper
        a.titlelink(href="#other-overlapping-variants")
        h3.title
          | Other overlapping variants
      #variant-other-overlapping-variants.stanza

    section.stanza-view#frequency
      .titlelink-wrapper
        a.titlelink(href="#frequency")
        h3.title
          | Frequency
      #variant-frequency.stanza

    section.stanza-view#clinical-significance-mgend
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-mgend")
        h3.title
          | Clinical significance
          span.mgend MGeND
      #variant-mgend.stanza

    section.stanza-view#clinical-significance-clinvar
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-clinvar")
        h3.title
          | Clinical significance
          span.clinvar ClinVar
      #variant-clinvar.stanza

    section.stanza-view#genome-wide-association-study
      .titlelink-wrapper
        a.titlelink(href="#genome-wide-association-study")
        h3.title
          | Genome-wide association study
      #variant-gwas.stanza

    section.stanza-view#genomic-context
      .titlelink-wrapper
        a.titlelink(href="#genomic-context")
        h3.title
          | Genomic context
      #variant-genomic-context.stanza

    section.stanza-view#gene
      .titlelink-wrapper
        a.titlelink(href="#gene")
        h3.title
          | Gene
      #variant-gene.stanza

    section.stanza-view#transcripts
      .titlelink-wrapper
        a.titlelink(href="#transcripts")
        h3.title
          | Transcripts
      #variant-transcript.stanza

    section.stanza-view#publications
      .titlelink-wrapper
        a.titlelink(href="#publications")
        h3.title
          | Publications
      #variant-publication.stanza
