extend ../../layouts/application

append variables
  - locals.currentPage = "about";
  - locals.language = "en";
  - locals.title = "About | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title About TogoVar
      .contents
        section.section
          p.body
            | TogoVar (A comprehensive Japanese genetic variation database) is a database that has collected
            | and organized genome sequence differences between individuals (variants) in the Japanese population and
            | disease information associated with them.
          p.body
            | TogoVar provides variant frequencies in the Japanese population that have been aggregated across research
            | projects. Two available datasets,
            |
            a(href='/doc/datasets/jga_ngs') JGA-NGS
            |  and
            |
            a(href='/doc/datasets/jga_snp') JGA-SNP
            | , are obtained by aggregating individual genomic data that have been registered in
            |
            a(target='_blank', href='https://humandbs.biosciencedbc.jp/en/') the NBDC Human Database
            |  /
            |
            a(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index-e.html')
              | Japanese Genotype-phenotype Archive (JGA)
            | . In addition, TogoVar integrates
            |
            a(href='/doc/datasets') information related to genotypes or phenotypes
            |  that has been compiled independently in a variety of different databases and provides information for
            | interpreting variants in a one-stop, easy-to-understand manner.
          p.body
            | TogoVar is developed and operated by
            |
            a(target='_blank', href='https://dbcls.rois.ac.jp/index-en.html')
              | Database Center for Life Science (DBCLS), Joint Support-Center for Data Science Research, Research
              | Organization of Information and Systems (ROIS)
            | , and supported by
            |
            a(target='_blank', href='https://biosciencedbc.jp/en')
              | Department of NBDC Program, Japan Science and Technology Agency (JST)
            | .
          p.body
            | See also the paper below,
            |
            a(target="_blank", href="https://togotv.dbcls.jp/en/result.html?type=manual&lang=en&page=1&query=TogoVar") videos at TogoTV
            | , or
            |
            a(target='_blank', href='https://www.eurekalert.org/pub_releases/2018-07/jsat-jr071018.php') a EurekAlert! press release
            |
            | for details.
          h3#credit.sectiontitle Reference
          p.body
            | Mitsuhashi N, Toyo-Oka L, Katayama T, Kawashima M, Kawashima S, Miyazaki K, Takagi T. TogoVar: A comprehensive Japanese genetic variation database. Hum Genome Var. 2022 Dec 12;9(1):44.
            | doi:
            |
            a(target="_blank", href=" https://doi.org/10.1038/s41439-022-00222-9") 10.1038/s41439-022-00222-9
            | .
            |
            | PMID:
            |
            a(target="_blank", href="https://pubmed.ncbi.nlm.nih.gov/36509753/") 36509753
            | ;
            |
            | PMCID:
            |
            a(target="_blank", href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9744889/") PMC9744889
            | .
