extend ../../layouts/application

append variables
  - locals.currentPage = "contact";
  - locals.language = "en";
  - locals.title = "Contact | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Contact us
      .contents
        section.section
          p.body
            | You can contact us by the contact form below to report problems, questions, or suggestions on our service.
          p.body
            a.hyper-text.-external(target='_blank', href='http://dbcls.rois.ac.jp/contact-en.html') Contact form to DBCLS
          p.body
            | Please feel free to contact us about data use for your study and data sharing of your data.
