article.common-document
  header.header
    h2.title TogoVar datasets (GRCh38)
  .contents
    section.section
      h3.sectiontitle
        | Variant frequencies for which you can apply for use of individual-level data
        sup ∗1
        |  to the NBDC human databases
        sup ∗2
      p
        | Click the links at the Included controlled-access datasets to apply for use of individual-level data
      table.table
        thead
          tr
            th Variant dataset name
            th Analysis method
            th Liftover GRCh37
            th Target population
            th Healthy subjects
            th Affected subjects
            th Sample size
            th Number of alleles
            th Included controlled-access datasets
        tbody
          //tr
            td
              a(href="/doc/datasets/bbj_riken") BBJ-RIKEN
            td._align-left SNP-Chip
            td Japanese
            td._align-center
            td._align-center
            td._align-center
            td._align-center
            td._align-center
          tr
            td
              a(href="/doc/datasets/gem_j_wga") GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel
            td._align-left WGS
            td._align-center ✔
            td Japanese
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:15px;') 7,609
            td._align-center
              | 94,961,154
            td._align-center
              a(href="/doc/datasets/gem_j_wga#jga_datasets") 6 datasets
          tr
            td
              a(href="/doc/datasets/jga_ngs") JGA-NGS
            td._align-left WES
            td._align-center ✔
            td Japanese
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:20px;') 125
            td._align-center
              | 4,624,124
              br
            td._align-center
              a(href="/doc/datasets/jga_ngs#jga_datasets") 7 datasets
          tr
            td
              a(href="/doc/datasets/jga_snp") JGA-SNP
            td._align-left SNP-Chip
            td._align-center ✔
            td Japanese
            td._align-center ✔
            td._align-center ✔
            td._align-center 183,884
            td._align-center 1,244,838
            td._align-center
              a(href="/doc/datasets/jga_snp#jga_datasets") 3 datasets
      p.notice
        | ∗1：fastq/bam/cel files and/or lists of genotype data etc.
        br
        | ∗2：
        a.hyper-text.-external(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index.html')
          | Japanese Genotype-phenotype Archive (JGA)
        |  /
        |
        a.hyper-text.-external(target='_blank', href='https://gr-sharingdbs.dbcls.jp/agd')
          | AMED Genome group sharing Database (AGD)
    section.section
      h3.sectiontitle Other variant frequency datasets
      table.table._column-span-all
        thead
          tr
            th Variant dataset name
            th Analysis method
            th Liftover GRCh37
            th Target population
            th Healthy subjects
            th Affected subjects
            th Sample size
            th Number of alleles
            th Author
            th Version/Last updated
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gnomad.broadinstitute.org/downloads#v4')
                | Genome Aggregation Database (gnomAD) exomes
            td._align-left WES
            td._align-center
            td._align-left Mixed
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:3px;') 730,947
            td._align-center
              | 183,558,769
            td Broad Institute
            td v4.0
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gnomad.broadinstitute.org/downloads#v4')
                | Genome Aggregation Database (gnomAD) genomes
            td._align-left WGS
            td._align-center
            td._align-left Mixed
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:3px;') 76,215
            td._align-center
              | 759,336,320
            td Broad Institute
            td v4.0
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/downloads/tommo-54kjpn-20230626-af_snvindelall')
                | ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN Allele Frequency Panel(#{ GLOBALS.TOMMO_VERSION }KJPN)
            td._align-left WGS
            td._align-center
            td._align-left Japanese
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:10px;') 54,302
            td._align-center
              | 262,200,990
            td Tohoku Medical Megabank Organization
            td v20230626
      p.notice
        | Note: #{ GLOBALS.TOMMO_VERSION }KJPN consists of SNVs (Autosome, chrX(PAR1+PAR2+XTR) and chrMT) and INDELs (Autosome and
        | chrX(PAR1+PAR2+XTR)).
    section.section
      h3.sectiontitle
        | Non-variant datasets
      table.table
        thead
          tr
            th Dataset name
            th Version/Last update
            th Description
            th Author
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/clinvar/') ClinVar
            td 2024/02/07
            td Clinical significance of variants
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.dbcls.jp/colil') Colil
            td Obtained by API
            td Information on citation relationships in life sciences literature
            td DBCLS
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh38.p13')
                | GRCh38.p13
            td 2019/03/01
            td Human genome reference sequence
            td GRC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ebi.ac.uk/gwas/docs/file-downloads')
                | GWAS Catalog
            td 2023/09/05
            td Catalog of human genome-wide association studies
            td NHGRI-EBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt')
                | HGNC symbol report
            td 2023/09/05
            td Approved human gene nomenclature and associated gene information
            td HGNC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/research/litvar2/api')
                | LitVar
            td Obtained by API
            td Information on papers in which the names of variants appear
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pubmed/')
                | PubMed
            td 2023/09/01
            td Information on papers
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/') PubTator Central
            td 2023/09/03
            td Information on papers in which the names of variants appear
            td NCBI
      p.notice
        | Note: TogoVar obtained ClinVar variants from
        |
        a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/') the VCF file
        | that contains only variants for which GRCh38 positions were determined.
    section.section
      h3.sectiontitle Tools for data processing
      table.table
        thead
          tr
            th Name
            th Ver.
            th Description
            th Author
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://samtools.github.io/bcftools/') bcftools
            td
            td Split multiallelic sites into biallelic variants
            td Genome Research Ltd.
          tr
            td
              a(href="/doc/datasets/analysis") BioReT
            td ‐
            td Execute programs for variant discovery from NGS data in proper order
            td
              a.hyper-text.-external(target='_blank', href='https://amelieff.jp/') Amelieff
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/index.html')
                | Variant Effect Predictor (VEP)
            td Ensembl release 110
            td
              | Add
              |
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache_content')
                |
                | annotations like gene names, consequences or deleterious predictions (AlphaMissense, SIFT and Polyphen)
              |  to variants
            td EMBL-EBI
