extend ../../layouts/application

append variables
  - locals.currentPage = "downloads";
  - locals.language = "en";
  - locals.title = "Downloads | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Downloads
      .contents
        section.section
          h3.sectiontitle
            | All variants in TogoVar
          ul
            li
              | Allele frequencies
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/frequency/vcf') VCF format
                  |
                  | (
                  a(href='/downloads/release/current/grch38/annotation/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/frequency/vcf') VCF format
                  |
                  | (
                  a(href='/downloads/release/current/grch37/annotation/README.txt') README
                  | )
            li
              | Annotation
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/annotation') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch38/annotation/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/annotation') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch37/annotation/README.txt') README
                  | )
          p
          | Last updated：2024/12/3
          br
          | The allele frequencies were aggregated by
          |
          a(href='/doc/datasets/') dataset
          | .
          | Previous releases are
          |
          a(href='/downloads/release') here.
