extend ../../layouts/application

append variables
  - locals.currentPage = "downloads";
  - locals.language = "en";
  - locals.title = "Downloads | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Downloads
      .contents
        section.section
          h3.sectiontitle
            | All variants in TogoVar
          ul
            li
              | Allele frequency
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/frequency/vcf') VCF format
                  |
                  | |
                  |
                  a(href='/downloads/release/current/grch38/frequency/tsv') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch38/frequency/tsv/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/frequency/vcf') VCF format
                  |
                  | |
                  |
                  a(href='/downloads/release/current/grch37/frequency/tsv') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch37/frequency/tsv/README.txt') README
                  | )
            li
              | Annotation
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/annotation') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch38/annotation/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/annotation') tab-separated text
                  |
                  | (
                  a(href='/downloads/release/current/grch37/annotation/README.txt') README
                  | )
            p
            | Last updated：2023/11/2
            br
            | The allele frequencies were aggregated by
            |
            a(href='/doc/datasets/') dataset
            | .
        section.section
          h3.sectiontitle
            | Original files from depositors (some of the datasets)
          ul
            li
              | Variant frequencies of GEM Japan Whole Genome Aggregation (GEM-J WGA) panel
              ul
                li
                  | Allele frequencies
                ul
                  li
                    | GRCh38 (liftover from GRCh37)：
                    a(href='/downloads/gem_j_wga/grch38') VCF format
                  li
                    | GRCh37：
                    a(href='/downloads/gem_j_wga/grch37') VCF format
            p
            | Last updated：2021/11/29
            br
            | See
            |
            a(href='/doc/datasets/gem_j_wga') the GEM-J WGA dataset page
            |
            | for more about the dataset.
