extend ../../layouts/application

append variables
  - locals.currentPage = "history";
  - locals.language = "en";
  - locals.title = "History | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Update history
      .contents
        section.section
          h3.sectiontitle 2024/12/3
          ul.unordered-list
            li
              strong Datasets:
              |
              | Clinical significance from
              |
              a.hyper-text.-external(href='https://mgend.ncgm.go.jp/') MGeND (Medical Genomics Japan Variant Database)
              |
              | was newly added.
              ul.unordered-list
                li MGeND is a database of genome variants and their clinical characteristics, 
                  | collected through
                  |
                  a.hyper-text.-external(href='https://www.amed.go.jp/en/program/list/14/05/006.html') the Clinical Genome Information Integration Database Development Project
                  |
                  | by the Japan Agency for Medical Research and Development (AMED).
                  | MGeND contains variant information for diseases such as cancer, rare and intractable diseases, infectious diseases, dementia, and hearing loss,
                  | and can be considered the Japanese equivalent of ClinVar. 
                li The disease names in MGeND have been aligned with the vocabulary defined in
                  |
                  |
                  a.hyper-text.-external(href='https://www.ncbi.nlm.nih.gov/medgen') MedGen
                  | , which is also used in ClinVar, wherever possible.
            li
              strong Datasets:
              |
              |
              a.hyper-text.-internal(href='/doc/datasets/jga_wgs') The JGA-WGS dataset
              | was newly added (GRCh38 only).
              ul.unordered-list
                li JGA-WGS aggregates allele frequencies and genotype counts by reanalyzing whole-genome sequence data deposited in
                  |
                  |
                  a.hyper-text.-external(href='https://humandbs.dbcls.jp/en/') NBDC Human Database
                  | /
                  a.hyper-text.-external(href='https://www.ddbj.nig.ac.jp/jga/index-e.html') Japanese Genotype-phenotype Archive (JGA)
                  | . The reference genome used is GRCh38. For more information on the reanalysis, please refer to
                  |
                  a.hyper-text.-external(href='https://humandbs.dbcls.jp/en/data-processing') “Whole genome sequencing analysis data (germline)”
                  |
                  | on the NBDC Human Database website.
                li The frequencies previously published as JGA-NGS, obtained by variant calling on whole-exome sequences deposited to JGA, were renamed to
                  |
                  |
                  a.hyper-text.-internal(href='/doc/datasets/jga_wes') JGA-WES
                  | .
            li
              strong Gene page:
              |
              | Missense variants are visualized on a 3D protein structure.
              ul.unordered-list
                li The visualization helps you to assess the potential impact of each missense variant on a protein structure (e.g.,
                  |
                  |
                  a.hypertext.-external(href='/gene/1097#protein-structure') BRAF:p.V600E
                  | ,
                  |
                  a.hypertext.-external(href='/gene/6407#protein-structure') KRAS:p.G12D
                  | ).
                li You can choose from protein structures registered in
                  |
                  |
                  a.hyper-text.-external(target='_blank', href='https://pdbj.org/?lang=en') Protein Data Bank Japan (PDBj)
                  |
                  | or those predicted by
                  |
                  a.hyper-text.-external(target='_blank', href='https://alphafold.ebi.ac.uk/') AlphaFold
                  | . Please note that the displayed structures do not account for the effects of the variant.
          h3.sectiontitle 2024/6/27
          ul.unordered-list
            li
              strong Datasets:
              |
              | Allele frequencies and genotype counts (by disease and sex) for
              |
              |
              a.hyper-text.-internal(href='datasets/jga_snp#diseases_jgad000123') 45 diseases
              |
              | were added to
              |
              a.hyper-text.-internal(href='datasets/jga_snp') JGA-SNP
              |
              | as disease-specific information.
              ul.unordered-list
                li
                  a.hyper-text.-external(href='https://biobankjp.org/en/') BioBank Japan
                  | and
                  |
                  a.hyper-text.-external(href='https://www.ims.riken.jp/english/') RIKEN
                  | collected samples and performed genotyping by SNP array for 182,557 individuals.
                li The frequency can be displayed by expanding the “Section: Frequency” &gt; “Dataset: "JGA-SNP” &gt; “Population: Total” on each variant report page (e.g.,
                  |
                  |
                  a.hyper-text.-internal(href='/variant/tgv66359566#frequency') tgv66359566
                  | ). You can search for variants based on the disease and sex-specific frequencies using the “Alternative allele frequency/count” in the Advanced search.
            li
              strong Datasets:
              |
              | Allele frequencies and genotype counts of 9,290 Japanese were newly added as
              |
              |
              a.hyper-text.-internal(href='datasets/ncbn') NCBN dataset
              | (GRCh38 only).
              ul.unordered-list
                li
                  a.hyper-text.-external(href='https://ncbiobank.org/en/') The National Center BioBank Network (NCBN)
                  |
                  | collected the samples and conducted whole-genome analysis.
                li The Japanese frequencies can be compared with those of the 2,504 individuals from
                  |
                  |
                  a.hyper-text.-external(href='https://www.internationalgenome.org/') the international 1000 Genomes Project (1KGP)
                  |. Joint calling was performed for the Japanese and 1KGP samples.
                li The frequency can be displayed by expanding the “Section: Frequency” &gt; “Dataset: NCBN” &gt; “Population: Total” on each variant report page (e.g.,
                  |
                  |
                  a.hyper-text.-internal(href='/variant/tgv80918483#frequency') tgv80918483
                  | ).
                  | You can search for variants based on the population-specific frequencies using the “Alternative allele frequency/count” in the Advanced search.
          h3.sectiontitle 2024/2/28
          ul.unordered-list
            li
              strong Simple/Advanced search:
              |
              | Pathogenicity predictions with
              |
              a.hyper-text.-external(href='https://github.com/google-deepmind/alphamissense') AlphaMissense
              |
              | (
              a.hyper-text.-external(href='https://www.science.org/doi/10.1126/science.adg7492') Cheng et al.2023
              | ) were added to the missense variants in TogoVar.
            li
              strong Datasets:
              |
              |
              a.hyper-text.-external(href='https://gnomad.broadinstitute.org/') The Genome Aggregation Database (gnomAD)
              |
              | was updated to version 4.0.
          h3.sectiontitle 2023/11/16
          ul.unordered-list
            li
              strong Datasets:
              |
              |
              | ToMMo 14KJPN was updated to ToMMo 54KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/downloads/tommo-54kjpn-20230626-af_snvindelall')
                | ToMMo 54KJPN-SNV/INDEL Allele Frequency Panel (v20230626)
              | ).
            li
              strong Advanced search:
              |
              | You can search by TogoVar ID (e.g. tgv47264307) or dbSNP refSNP ID (e.g. rs671).
            li
              strong Downloads:
              |
              | Allele frequencies for all variants are available in
              |
              a.hyper-text.-external(href='https://samtools.github.io/hts-specs/VCFv4.4.pdf')
                | VCF format
              |  as well as tab-separated format.
          h3.sectiontitle 2023/7/14
          ul.unordered-list
            li
              strong Simple/Advanced search:
              |
              | You can download search results in JSON, CSV, or TSV formats.
            li
              strong Advanced search:
              |
              | We added the "Disease" field to the "Add condition" menu. You can now search by disease names from
              |
              a.hyper-text.-external(href='https://www.ncbi.nlm.nih.gov/medgen/') MedGen
              | . The search targets include diseases in the subconcepts of
              |
              a.hyper-text.-external(href='https://monarchinitiative.org/') the Mondo disease ontology
              | .
          h3.sectiontitle 2022/11/1
          ul.unordered-list
            li
              strong URL:
              |
              | The URL of TogoVar was changed from
              |
              a.hyper-text.-external(href='https://togovar.biosciencedbc.jp') https://togovar.biosciencedbc.jp
              |
              | to
              |
              a.hyper-text.-internal(href='https://togovar.org') https://togovar.org.
            li
              strong Simple/Advanced search:
              |
              | You can search variants by a location of the GRCh38 reference sequence. Search by a GRCh37 location is still available.
              ul.unordererd-list
                li
                  a.hyper-text.-internal(href='https://grch38.togovar.org') https://grch38.togovar.org
                  |
                  | (GRCh38)
                li
                  a.hyper-text.-internal(href='https://grch37.togovar.org') https://grch37.togovar.org
                  |
                  | (GRCh37)
            li
              strong Downloads:
              |
              | Bulk download of the GRCh38-based variant data was made available in addition to the GRCh37-based one.
              ul.unordererd-list
                li
                  a.hyper-text.-internal(href='https://grch38.togovar.org/downloads/release/current/grch38/') https://grch38.togovar.org/downloads/release/current/grch38/
                  |
                  | (GRCh38)
                li
                  a.hyper-text.-internal(href='https://grch37.togovar.org/downloads/release/current/grch37/') https://grch37.togovar.org/downloads/release/current/grch37/
                  |
                  | (GRCh37)
            li
              strong Misc:
              |
              | The provider of TogoVar was changed from
              |
              a.hyper-text.-external(href='https://biosciencedbc.jp') Department of NBDC Program, Japan Science and Technology Agency
              | to
              |
              a.hyper-text.-external(href='https://dbcls.rois.ac.jp') Database Center for Life Science, Joint Support-Center for Data Science Research, Research Organization of Information and Systems (DBCLS).
          h3.sectiontitle 2022/8/5
          ul.unordered-list
            li
              strong Advanced search:
              | 
              a.hyper-text.-internal(href='/?mode=advanced') Advanced search
              | was released.
            li
              strong Gene page/Disease page:
              |
              | Variant information pages related with a gene（e.g.：
              a.hyper-text.-internal(href='/gene/8618') PAX4
              |) or a disease (e.g.：
              a.hyper-text.-internal(href='/disease/C0023467') Acute myeloid leukemia 
              |) was released.
            li
              strong Variant page/Gene page/Disease page:
              |
              | Genome-wide association studies from
              |
              a.hyper-text.-external(href='https://www.ebi.ac.uk/gwas/') GWAS Catalog
              | was added to the variant, gene and disease pages.
            li
              strong TogoVar API:
              | 
              a.hyper-text.-internal(href='/api') TogoVar API version 0.91
              | was released.
          h3.sectiontitle 2021/12/16
          ul.unordered-list
            li
              strong Datasets:
              |  ToMMo 4.7KJPN was updated to ToMMo 8.3KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/202109/downloads#variant') ToMMo 8.3KJPN Allele Frequency Panel).
            li
              strong Datasets:
              |  ExAC was updated to gnomAD v2.1.1 (
              a.hyper-text.-external(href='https://gnomad.broadinstitute.org/downloads') The Genome Aggregation Database).
          h3.sectiontitle 2020/10/22
          ul.unordered-list
            li
              strong Keyword search:
              |  You can search TogoVar by
              |
              a.hyper-text.-external(target='_blank', href='https://varnomen.hgvs.org/') Human Genome Variation Society (HGVS) description
              | (e.g.
              a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:c.1510G&gt;A
              |  or
              |
              a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:p.Glu504Lys
              | ).
          h3.sectiontitle 2020/7/27
          ul.unordered-list
            li
              strong Datasets:
              |  The new dataset,
              |
              a(href='/doc/datasets/gem_j_wga') GEM-Japan Whole Genome Aggregation (GEM-J WGA)
              | , was added. Additionally, ToMMo 3.5KJPN was updated to ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/202001/downloads#variant')
                | ToMMo 4.7KJPN Allele Frequency Panel
              | ). ClinVar information was also updated.
            li
              strong Usability:
              |  You can search the variants on Karyotype image.
          h3.sectiontitle 2019/7/25
          ul.unordered-list
            li
              strong Keyword search:
              |  You can search TogoVar by an alias name of HGNC Gene Symbol (e.g. PD-1, p53).
            li
              strong Filters:
              |  You can specify either all or any of datasets of your choice as a target when searching by
              | an alternative allele frequency.
            li
              strong Filters:
              |  You can filter variants by Consequence value, SIFT and/or Polyphen score.
            li
              strong Filters:
              |  You can hide and show low quality variants.
            li
              strong Datasets:
              |  ToMMo 3.5KJPN was updated to Ver.2 (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/201905/downloads/') ToMMo 3.5KJPNv2 Allele Frequency Panel
              | ). ClinVar, Variant Effect Predictor (VEP) and Ensembl were updated as well. See
              |
              a(href='/doc/datasets') Datasets
              |  for detail.
            li
              strong Usability:
              |  You can choose the data items to display at the Configuration menu.
            li
              strong Usability:
              |  The user interface was refined for easier use.
          h3.sectiontitle 2018/6/7
          ul.unordered-list
            li
              | TogoVar has been released. See
              |
              a.hyper-text.-external(href='https://www.eurekalert.org/pub_releases/2018-07/jsat-jr071018.php')
                | a EurekAlert! press release
              |  for detail.
