extend ../../layouts/application

append variables
  - locals.currentPage = "terms";
  - locals.language = "en";
  - locals.title = "Terms | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Terms of Use
      .contents
        section.section
          p.body
            | This database (the database) is licensed under the
            |
            a.hyper-text.-external(target='_blank', href='http://opendatacommons.org/licenses/odbl/1.0/')
              | Open Database License(ODbL)
            | .
          p.body You are free:
          ul.unordered-list
            li
              strong To Share:
              |  To copy, distribute and use the database.
            li
              strong To Create:
              |  To produce works from the database.
            li
              strong To Adapt:
              |  To modify, transform and build upon the database.
          p.body As long as you:
          ul.unordered-list
            li
              strong Attribute:
              |  You must attribute any public use of the database, or works produced from the database, in the manner
              | specified in the ODbL. For any use or redistribution of the database, or works produced from it, you
              | must make clear to others the license of the database and keep intact any notices on the original
              | database.
            li
              strong Share-Alike:
              |  If you publicly use any adapted version of this database, or works produced from an adapted database,
              | you must also offer that adapted database under the ODbL.
            li
              strong Keep open:
              |  If you redistribute the database, or an adapted version of it, then you may use technological measures
              | that restrict the work (such as DRM) as long as you also redistribute a version without such measures.
          p.body
            | This license does not cover each data (content) that has been imported into the database. While using the
            | contents, follow the licenses of the following data distributors.
          ul.unordered-list
            li
              | Colil:
              |
              a(target='_blank', href='http://colil.dbcls.jp/portal/') http://colil.dbcls.jp/portal/
            li
              | ExAC:
              |
              a(target='_blank', href='http://exac.broadinstitute.org/terms') http://exac.broadinstitute.org/terms
            li
              | GEM-J WGA:
              |
              a(target='_blank', href='/doc/datasets/gem_j_wga#terms') https://togovar.biosciencedbc.jp/doc/datasets/gem_j_wga#terms
            li
              | HGNC:
              |
              a(target='_blank', href='https://www.genenames.org/about') https://www.genenames.org/about
            li
              | HGVD:
              |
              a(target='_blank', href='http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html') http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html
            li
              | LitVar:
              |
              a(target='_blank', href='https://www.ncbi.nlm.nih.gov/home/about/policies') https://www.ncbi.nlm.nih.gov/home/about/policies
            li
              | ToMMo #{ TOMMO_VERSION }KJPN Allele Frequency Panel:
              |
              a(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/202001/help/conditions-of-use') https://jmorp.megabank.tohoku.ac.jp/202001/help/conditions-of-use
            li
              | PubTator:
              |
              a(target='_blank', href='ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt') ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt
            li
              | JGA-NGS dataset:
              |
              a(href='/doc/datasets/jga_ngs') https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs
            li
              | JGA-SNP dataset:
              |
              a(href='/doc/datasets/jga_snp') https://togovar.biosciencedbc.jp/doc/datasets/jga_snp
          p.body
            | This is
            |
            a(target='_blank', href='https://opendatacommons.org/licenses/odbl/summary/')
              | a human-readable summary of the license
            | . See
            |
            a(target='_blank', href='http://opendatacommons.org/licenses/odbl/1.0/')
              | the entire text of ODbL 1.0 License Agreement
            |  for the actual license terms to be applied. In addition, refer to
            |
            a(href='#credit') Attribution (credit) display examples
            | . For license display, refer to the description of
            |
            a(href='#license') Examples of ODbL license usage
            | .

        section.section
          h3#credit.sectiontitle Attribution (credit) display examples
          ol.ordered-list
            li
              h4.heading How to cite the use of the TogoVar database
              .subsection
                h5.subheading If you want to cite the entire TogoVar database
                .body
                  | TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database
                  | Center; 2018 - [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/') https://togovar.biosciencedbc.jp
              .subsection
                h5.subheading If you want to cite specific variants (tgv47264307) of TogoVar
                .body
                  | Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database
                  | Center; [2018] - . TogoVarID tgv47264307; [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/variant/tgv47264307') https://togovar.biosciencedbc.jp/variant/tgv47264307
            li
              h4.heading How to cite data (content) that has been imported into the TogoVar database
              .body
                | You must cite these contents in the methods specified below, according to the content used. Formally,
                | refer to the terms of use for each content.
              .subsection
                h5.subheading
                  | Colil [Terms of use:
                  |
                  a(target='_blank', href='http://colil.dbcls.jp/portal/index_en.html')
                    | http://colil.dbcls.jp/portal/index_en.html
                  | ]
                .body
                  | T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life
                  | sciences domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015).
                  | doi:10.1186/s13326-015-0037-x
              .subsection
                h5.subheading
                  | ExAC [Terms of use:
                  |
                  a(target='_blank', href='http://exac.broadinstitute.org/about') http://exac.broadinstitute.org/about
                  | ]
                .body
                  | Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium,
                  | E. A. (2016). Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616),
                  | 285-291.
                  |
                  a(target='_blank', href='http://doi.org/10.1038/nature19057') http://doi.org/10.1038/nature19057
              .subsection
                h5.subheading
                  | GEM Japan Whole Genome Aggregation (GEM-J WGA) [Terms of use:
                  |
                  a(target='_blank', href='/doc/datasets/gem_j_wga')
                    | https://togovar.biosciencedbc.jp/doc/datasets/gem_j_wga
                  | ]
                .body
                  a(href='/doc/datasets/gem_j_wga') "GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel"
                  | . Japan:
                  |
                  a.hyper-text.-external(target='_blank', href='https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html')
                    | GEnome Medical alliance Japan Project (GEM-J)
                  | . Available from:
                  |
                  a.hyper-text.-external(target='_blank', href='/doc/datasets/gem_j_wga')
                    | https://togovar.biosciencedbc.jp/doc/datasets/gem_j_wga
                  | .
              .subsection
                h5.subheading
                  | HGVD Release Version 2.30 (2017/08/02) [Terms of use:
                  |
                  a(target='_blank', href='http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html')
                    | http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html
                  | ]
                .body
                  | K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in
                  | the Japanese population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12
              .subsection
                h5.subheading
                  | ToMMo #{ TOMMO_VERSION }KJPN Allele Frequency Panel (#{ TOMMO_VERSION }KJPN) [Terms of use:
                  |
                  a(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/202001/help/conditions-of-use')
                    | https://jmorp.megabank.tohoku.ac.jp/202001/help/conditions-of-use
                  | ]
                .body
                  | Tadaka et al., jMorp: Japanese Multi Omics Reference Panel, Nucleic Acids Research. 2018 Jan
                  | 4;46(D1):D551-D557. doi:
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkx978')
                    | https://doi.org/10.1038/s41439-019-0059-5
              .subsection
                h5.subheading
                  | PubTator [Terms of use:
                  |
                  a(target='_blank', href='ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt')
                    | ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt
                  | ]
                .body
                  | Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids
                  | research, 2013, 41 (W1): W518-W522. doi: 10.1093/nar/gkt44
              .subsection
                h5.subheading
                  | JGA-NGS dataset [Terms of use:
                  |
                  a(href='/doc/datasets/jga_ngs') https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs
                  | ]
                .body
                  | Variant set aggregated from NGS data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and
                  | Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-NGS dataset;
                  | [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/doc/datasets/jga_ngs') https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs
              .subsection
                h5.subheading
                  | JGA-SNP dataset [Terms of use:
                  |
                  a(href='/doc/datasets/jga_snp') https://togovar.biosciencedbc.jp/doc/datasets/jga_snp
                  | ]
                .body
                  | Variant set aggregated from SNP-chip data in NBDC Human Database/JGA [Internet]. Tokyo: Japan
                  | Science and Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-SNP
                  | dataset; [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/doc/datasets/jga_ngs') https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs

        section.section
          h3#license.sectiontitle Examples of ODbL license usage
          ul.unordered-list
            li
              a(target='_blank', href='http://farmsubsidy.openspending.org/legal/') Farm Subsidy
            li
              a(target='_blank', href='https://opencorporates.com/info/licence') Open Corporates
