extend ../../layouts/application

append variables
  - locals.currentPage = "terms";
  - locals.language = "en";
  - locals.title = "Terms | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Terms of Use
      .contents
        section.section
          p.body
            | This database (the database) is licensed under the
            |
            a.hyper-text.-external(target='_blank', href='http://opendatacommons.org/licenses/odbl/1.0/')
              | Open Database License(ODbL)
            | .
          p.body You are free:
          ul.unordered-list
            li
              strong To Share:
              |  To copy, distribute and use the database.
            li
              strong To Create:
              |  To produce works from the database.
            li
              strong To Adapt:
              |  To modify, transform and build upon the database.
          p.body As long as you:
          ul.unordered-list
            li
              strong Attribute:
              |  You must attribute any public use of the database, or works produced from the database, in the manner
              | specified in the ODbL. For any use or redistribution of the database, or works produced from it, you
              | must make clear to others the license of the database and keep intact any notices on the original
              | database.
            li
              strong Share-Alike:
              |  If you publicly use any adapted version of this database, or works produced from an adapted database,
              | you must also offer that adapted database under the ODbL.
            li
              strong Keep open:
              |  If you redistribute the database, or an adapted version of it, then you may use technological measures
              | that restrict the work (such as DRM) as long as you also redistribute a version without such measures.
          p.body
            | This license does not cover each data (content) that has been imported into the database. While using the
            | contents, follow the licenses of the following data distributors.
          ul.unordered-list
            li
              | ClinVar:
              |
              a(target='_blank', href='https://www.ncbi.nlm.nih.gov/clinvar/docs/maintenance_use/') https://www.ncbi.nlm.nih.gov/clinvar/docs/maintenance_use/
            li
              | Colil:
              |
              a(target='_blank', href='https://colil.dbcls.jp/portal/') https://colil.dbcls.jp/portal/
            li
              | GEM-J WGA:
              |
              a(target='_blank', href='/doc/ja/datasets/gem_j_wga#terms') http://togovar.org/doc/ja/datasets/gem_j_wga#terms
            li
              | gnomAD:
              |
              a(target='_blank', href='https://gnomad.broadinstitute.org/terms') https://gnomad.broadinstitute.org/terms
            li
              | GWAS Catalog:
              |
              a(target='_blank', href='https://www.ebi.ac.uk/gwas/docs/about') https://www.ebi.ac.uk/gwas/docs/about
            li
              | HGNC:
              |
              a(target='_blank', href='https://www.genenames.org/about/license/') https://www.genenames.org/about/license/
            li
              | HGVD:
              |
              a(target='_blank', href='http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html') http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html
            li
              | JGA-SNP dataset:
              |
              a(href='/doc/ja/datasets/jga_snp') https://togovar.org/doc/ja/datasets/jga_snp
            li
              | JGA-WES dataset:
              |
              a(href='/doc/ja/datasets/jga_wes') https://togovar.org/doc/ja/datasets/jga_wes
            li
              | JGA-WGS dataset:
              |
              a(href='/doc/ja/datasets/jga_wgs') https://togovar.org/doc/ja/datasets/jga_wgs
            li
              | LitVar:
              |
              a(target='_blank', href='https://www.ncbi.nlm.nih.gov/home/about/policies/') https://www.ncbi.nlm.nih.gov/home/about/policies/
            li
              | MGeND:
              |
              a(target='_blank', href='https://mgend.ncgm.go.jp/about#data-link') https://mgend.ncgm.go.jp/about#data-link
            li
              | PubTator Central:
              |
              a(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/README.txt') https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/README.txt
            li
              | ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN Allele Frequency Panel:
              |
              a(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use') https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use
          p.body
            | This is
            |
            a(target='_blank', href='https://opendatacommons.org/licenses/odbl/summary/')
              | a human-readable summary of the license
            | . See
            |
            a(target='_blank', href='http://opendatacommons.org/licenses/odbl/1.0/')
              | the entire text of ODbL 1.0 License Agreement
            |  for the actual license terms to be applied. In addition, refer to
            |
            a(href='#credit') Attribution (credit) display examples
            | . For license display, refer to the description of
            |
            a(href='#license') Examples of ODbL license usage
            | .

        section.section
          h3#credit.sectiontitle Attribution (credit) display examples
          ol.ordered-list
            li
              h4.heading How to cite the use of the TogoVar database
              .body Please cite the following article.
              .subsection
              | Mitsuhashi N, Toyo-Oka L, Katayama T, Kawashima M, Kawashima S, Miyazaki K, Takagi T. TogoVar: A comprehensive Japanese genetic variation database. Hum Genome Var. 2022 Dec 12;9(1):44.
              | doi:
              |
              a(target="_blank", href=" https://doi.org/10.1038/s41439-022-00222-9") 10.1038/s41439-022-00222-9
              | .
              |
              | PMID:
              |
              a(target="_blank", href="https://pubmed.ncbi.nlm.nih.gov/36509753/") 36509753
              | ;
              |
              | PMCID:
              |
              a(target="_blank", href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9744889/") PMC9744889
              | .
            li
              h4.heading How to cite data (content) that has been imported into the TogoVar database
              .body
                | You must cite these contents in the methods specified below, according to the content used. Formally,
                | refer to the terms of use for each content.
              .subsection
                h5.subheading
                  | ClinVar
                  | [Terms of use:
                  |
                  a(target='_blank', href='https://www.ncbi.nlm.nih.gov/clinvar/docs/maintenance_use/')
                    | https://www.ncbi.nlm.nih.gov/clinvar/docs/maintenance_use/
                  | ]
                .body
                  | Landrum MJ, Chitipiralla S, Brown GR, et al. ClinVar: improvements to accessing data. Nucleic Acids Res. 2020;48(D1):D835-D844. doi:10.1093/nar/gkz972
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkz972')
                    | https://doi.org/10.1093/nar/gkz972
              .subsection
                h5.subheading
                  | Colil
                  | [Terms of use:
                  |
                  a(target='_blank', href='http://colil.dbcls.jp/portal/index_en.html')
                    | http://colil.dbcls.jp/portal/index_en.html
                  | ]
                .body
                  | T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life
                  | sciences domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015).
                  |
                  a(target='_blank', href='https://doi.org/10.1186/s13326-015-0037-x')
                    | https://doi.org/10.1186/s13326-015-0037-x
              .subsection
                h5.subheading
                  | GEM Japan Whole Genome Aggregation (GEM-J WGA)
                  | [Terms of use:
                  |
                  a(target='_blank', href='/doc/datasets/gem_j_wga')
                    | https://togovar.org/doc/datasets/gem_j_wga
                  | ]
                .body
                  a(href='/doc/datasets/gem_j_wga') "GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel"
                  | . Japan:
                  a.hyper-text.-external(target='_blank', href='https://www.amed.go.jp/en/aboutus/collaboration/ga4gh_gem_japan.html')
                    | GEnome Medical alliance Japan Project (GEM-J)
                  | . Available from:
                  |
                  a.hyper-text.-external(target='_blank', href='/doc/datasets/gem_j_wga')
                    | https://togovar.org/doc/datasets/gem_j_wga
                  | .
              .subsection
                h5.subheading
                  | gnomAD [Terms of use:
                  |
                  a(target='_blank', href='https://gnomad.broadinstitute.org/about')
                    | https://gnomad.broadinstitute.org/about
                  | ]
                .body
                  | Karczewski, K.J., Francioli, L.C., Tiao, G. et al. The mutational constraint spectrum quantified
                  | from variation in 141,456 humans. Nature 581, 434–443 (2020).
                  |
                  a(target='_blank', href='https://doi.org/10.1038/s41586-020-2308-7')
                    | https://doi.org/10.1038/s41586-020-2308-7
              .subsection
                h5.subheading
                  | GWAS Catalog [Terms of use:
                  |
                  a(target='_blank', href='https://www.ebi.ac.uk/gwas/docs/about')
                    | https://www.ebi.ac.uk/gwas/docs/about
                  | ]
                .body
                  | Sollis E, Mosaku A, Abid A, et al. The NHGRI-EBI GWAS Catalog: knowledgebase and deposition resource.
                  | Nucleic Acids Res. 2023;51(D1):D977-D985.
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkac1010')
                    | https://doi.org/10.1093/nar/gkac1010
              .subsection
                h5.subheading
                  | HGNC [Terms of use:
                  |
                  a(target='_blank', href='https://www.genenames.org/about/license/')
                    | https://www.genenames.org/about/license/
                  | ]
                .body
                  | Seal RL, Braschi B, Gray K, et al. Genenames.org: the HGNC resources in 2023. Nucleic Acids Res. 2023;51(D1):D1003-D1009.
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkac888')
                    | https://doi.org/10.1093/nar/gkac888
              .subsection
                h5.subheading
                  | HGVD Release Version 2.30 (2017/08/02) [Terms of use:
                  |
                  a(target='_blank', href='http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html')
                    | http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html
                  | ]
                .body
                  | K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in
                  | the Japanese population" J Hum Genet 61:547-553, 2016.
                  |
                  a(target='_blank', href='https://doi.org/10.1038/jhg.2016.12')
                    | https://doi.org/10.1038/jhg.2016.12
              .subsection
                h5.subheading
                  | JGA-SNP dataset [Terms of use:
                  |
                  a(href='https://togovar.org/doc/datasets/jga_snp')
                    | https://togovar.org/doc/datasets/jga_snp
                  | ]
                .body
                  | Variant set aggregated from NGS data in the NBDC Human Database/JGA [Internet]. Chiba:
                  |
                  | Database Center for Life Science (DBCLS), Joint Support-Center for Data Science Research,
                  | 
                  | Research Organization of Information and System (Japan); [2018] - .
                  | JGA-SNP dataset; [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='https://togovar.org/doc/datasets/jga_snp')
                    | https://togovar.org/doc/datasets/jga_snp
              .subsection
                h5.subheading
                  | JGA-WES dataset [Terms of use:
                  |
                  a(href='/doc/datasets/jga_wes') https://togovar.org/doc/datasets/jga_wes
                  | ]
                .body
                  | Variant set aggregated from NGS data in the NBDC Human Database/JGA [Internet]. Chiba:
                  |
                  | Database Center for Life Science (DBCLS), Joint Support-Center for Data Science Research,
                  | 
                  | Research Organization of Information and System (Japan); [2018] - .
                  | JGA-WES dataset; [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/doc/datasets/jga_wes') https://togovar.org/doc/datasets/jga_wes
              .subsection
                h5.subheading
                  | JGA-WGS dataset [Terms of use:
                  |
                  a(href='/doc/datasets/jga_wgs') https://togovar.org/doc/datasets/jga_wgs
                  | ]
                .body
                  | Variant set aggregated from NGS data in the NBDC Human Database/JGA [Internet]. Chiba:
                  |
                  | Database Center for Life Science (DBCLS), Joint Support-Center for Data Science Research,
                  | 
                  | Research Organization of Information and System (Japan); [2018] - .
                  | JGA-WGS dataset; [cited YYYY Mmm DD]. Available from:
                  |
                  a(href='/doc/datasets/jga_wgs') https://togovar.org/doc/datasets/jga_wgs
              .subsection
                h5.subheading
                  | LitVar [Terms of use:
                  |
                  a(target='_blank', href='https://www.ncbi.nlm.nih.gov/home/about/policies/')
                    | https://www.ncbi.nlm.nih.gov/home/about/policies/
                  | ]
                .body
                  | Allot A, Peng Y, Wei CH, Lee K, Phan L, Lu Z. LitVar: a semantic search engine for linking genomic variant data in PubMed and PMC.
                  | Nucleic Acids Res. 2018;46(W1):W530-W536.
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gky355')
                    | https://doi.org/10.1093/nar/gky355
              .subsection
                h5.subheading
                  | MGeND [Terms of use:
                  |
                  a(target='_blank', href='https://mgend.ncgm.go.jp/about#data-link')
                    | https://mgend.ncgm.go.jp/about#data-link
                  | ]
                .body
                  | Mayumi Kamada, Masahiko Nakatsui, Ryosuke Kojima, Sachio Nohara, Eiichiro Uchino, Shigeki Tanishima, Masaya Sugiyama, Kenjiro Kosaki, Katsushi Tokunaga, Masashi Mizokami, Yasushi Okuno (2019) “MGeND: an integrated database for Japanese clinical and genomic information”,
                  | Human Genome Variation, 6, 53 (2019). 
                  |
                  a(target='_blank', href='https://doi.org/10.1038/s41439-019-0084-4')
                    | https://doi.org/10.1038/s41439-019-0084-4
              .subsection
                h5.subheading
                  | PubTator Central [Terms of use:
                  |
                  a(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/README.txt')
                    | https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/README.txt
                  | ]
                .body
                  | Wei CH, Allot A, Leaman R, Lu Z. PubTator central: automated concept annotation for biomedical full text articles.
                  | Nucleic Acids Res. 2019 Jul 2;47(W1):W587-W593.
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkz389')
                    | https://doi.org/10.1093/nar/gkz389
              .subsection
                h5.subheading
                  | ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN Allele Frequency Panel (#{ GLOBALS.TOMMO_VERSION }KJPN)
                  | [Terms of use:
                  |
                  a(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use')
                    | https://jmorp.megabank.tohoku.ac.jp/help/conditions-of-use
                  | ]
                .body
                  | Tadaka et al., "jMorp updates in 2020: large enhancement of multi-omics data resources on the general
                  | Japanese population", Nucleic Acids Research. 2021 Jan 8;49(D1):D536-D544.
                  |
                  a(target='_blank', href='https://doi.org/10.1093/nar/gkaa1034')
                    | https://doi.org/10.1093/nar/gkaa1034
        section.section
          h3#license.sectiontitle Examples of ODbL license usage
          ul.unordered-list
            li
              a(target='_blank', href='https://www.openstreetmap.org/copyright/en') Open Street Map
            li
              a(target='_blank', href='https://opencorporates.com/legal/licence') Open Corporates
