extend ../layouts/application

append variables
  - locals.currentPage = "disease";

block head
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/report-/))
    script(type="text/javascript", src=js)
  script.
    window.addEventListener('DOMContentLoaded', () => {
      window.scrollTo(0, 0);

      const hash = window.location.hash;
      if (hash) {
        setTimeout(() => {
          const target = document.querySelector(hash);
          if (target) {
            target.scrollIntoView({ behavior: 'smooth' });
          }
        }, 500);
      }
    });

  // Stanza theme
  link(href="https://togostanza.github.io/togostanza-themes/contrib/togovar.css?20220803", rel="stylesheet")

block content
  header#DetailHeader
    .title-wrapper
      #disease-header.stanza

  main#ReportMain.LayoutReport
    section.stanza-view
      h3.title
      #disease-summary.stanza

    section.stanza-view#clinical-significance-mgend
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-mgend")
        h3.title
          | Clinical significance
          span.mgend MGeND
      #disease-mgend.stanza

    section.stanza-view#clinical-significance-clinvar
      .titlelink-wrapper
        a.titlelink(href="#clinical-significance-clinvar")
        h3.title
          | Clinical significance
          span.clinvar ClinVar
      #disease-clinvar.stanza

    section.stanza-view#genome-wide-association-study
      .titlelink-wrapper
        a.titlelink(href="#genome-wide-association-study")
        h3.title
          | Genome-wide association study
      #disease-gwas.stanza
