@use '../foundation/_variables.scss' as *;

.title {
  padding: 5px $PADDING_SIDE 0;
  margin: 4px 0 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: $COLOR_KEY_DARK1;
  &::first-letter {
    text-transform: capitalize;
  }
}

.list {
  max-height: 300px;
  padding-left: 0;
  margin: 10px 0;
  overflow-y: scroll;
  list-style: none;

  > .item {
    height: 24px;
    padding: 0 $PADDING_SIDE;
    line-height: 24px;
    cursor: pointer;
    transition: background-color $GUI_DURATION;
    > em {
      font-style: normal;
      background-color: var(--color-suggest);
    }

    &:first-child {
      padding-top: 4px;
    }

    &:hover {
      background-color: rgba($COLOR_SELECTED, 0.2);
    }

    &.-disabled {
      cursor: auto;
      &:hover {
        background-color: inherit;
      }
    }
    > .sub {
      padding-left: 0.5em;
      font-size: 12px;
      color: rgba($COLOR_BLACK, 0.5);
    }

    &.-selected {
      background-color: rgba($COLOR_SELECTED, 1);
    }

    &.-empty {
      padding: 0.5rem;
      color: rgba($COLOR_BLACK, 0.5);
      text-align: center;
    }
  }
}
