$PADDING: 6px

.advanced-search-group-view
  padding: 4px 4px 1px 18px
  margin-bottom: 4px
  border: solid 1px $COLOR_KEY_DARK3
  background-color: white
  position: relative
  box-shadow: $SHADOW_DEPTH1
  > .logical-operator-switch
    position: absolute
    top: 1px
    left: 19px
    transform: rotate(90deg)
    transform-origin: 0% 0%
  > .container
  .advanced-search-group-view
    margin: 4px -5px 4px 0
