$PADDING_SIDE: $HEIGHT_ADVANCED_SEARCH_CONDITION * .5

.advanced-search-condition-editor-view
  border-top: solid 1px $COLOR_SEPARATOR
  color: $COLOR_BLACK
  > .sections
    border-bottom: solid 1px $COLOR_SEPARATOR
    > section
      > header
        padding: 0 $PADDING_SIDE
        background-color: #cdcdcc
        font-weight: bold
      > .checkboxes
        margin: 0
        padding: 4px $PADDING_SIDE
        font-size: 14px
        line-height:  30px
        > li
          display: inline-block
          line-height: 18px
          margin-right: 12px
          &:last-child
            margin-right: 0
          > label
            margin-bottom: 0
            font-weight: bold
            > .clinical-significance
              display: inline-block
  > .buttons
    padding: 3px 0 4px
    text-align: center
    > .button-view
      display: inline-block