.advanced-search-condition-editor-view
  --padding-side: calc(var(--height-advanced-search-condition) * .5)
  border-top: solid 1px $COLOR_SEPARATOR
  color: $COLOR_BLACK
  > .sections
    border-bottom: solid 1px $COLOR_SEPARATOR
    > section
      > header
        padding: 0 var(--padding-side)
        background-color: #cdcdcc
        font-weight: bold
      > .checkboxes-editor-view
  > .buttons
    padding: 3px 0 4px
    text-align: center
    > .button-view
      display: inline-block
