.checkboxes-editor-view
  > .checkboxes
    margin: 0
    padding: 4px $PADDING_SIDE
    font-size: 14px
    line-height: 24px
    > li
      display: inline-block
      line-height: 18px
      margin-right: 12px
      &:last-child
        margin-right: 0
      > label
        margin-bottom: 0
        font-weight: bold
        > .clinical-significance
          display: inline-block
