// Theme for Floating UI information popovers
.floating-info
    position: absolute
    top: 0
    left: 0
    z-index: 10100
    max-width: 15rem
    margin: 0
    background-color: $COLOR_BLACK
    color: white
    border: 1px solid white
    border-radius: 7px
    padding: 0.4rem 0.6rem
    white-space: normal
    opacity: 1
    transition: opacity 400ms ease

    &[data-state='hidden']
        opacity: 0
        pointer-events: none

    .content
        margin: 0
        .url
            text-decoration: underline
            color: white
            font-weight: bolder
            padding-left: 0.2rem

    .floating-info-arrow
        position: absolute
        width: 5px
        height: 2px
        color: $COLOR_BLACK
        &:before
            content: ""
            position: absolute
            border-color: transparent
            border-style: solid

    &[data-placement^=top]
        .floating-info-arrow
            bottom: 0
            &:before
                bottom: -9px
                border-left: 9px solid transparent
                border-right: 9px solid transparent
                border-top: 9px solid $COLOR_BLACK
                transform-origin: center top

    &[data-placement^=bottom]
        .floating-info-arrow
            top: 0
            &:before
                top: -9px
                border-left: 9px solid transparent
                border-right: 9px solid transparent
                border-bottom: 9px solid $COLOR_BLACK
                transform-origin: center bottom

    &[data-placement^=left]
        .floating-info-arrow
            right: 0
            &:before
                right: -9px
                border-bottom: 9px solid transparent
                border-top: 9px solid transparent
                border-left: 9px solid $COLOR_BLACK
                transform-origin: center left

    &[data-placement^=right]
        .floating-info-arrow
            left: 0
            &:before
                left: -9px
                border-bottom: 9px solid transparent
                border-top: 9px solid transparent
                border-right: 9px solid $COLOR_BLACK
                transform-origin: center right
