.frequency-detail {
  width: 100%;

  // tr の border-bottom を有効にするために必要（separate モデルでは tr の border は無視される）
  border-collapse: collapse;

  > thead {
    > tr {
      > th {
        @extend .panel-view-heading;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        line-height: 18px;

        &:first-child {
          font-weight: bold;
        }

        .dataset-icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.2em;

          > .properties {
            width: inherit;
          }
        }

        &.alt, &.total, &.frequency {
          text-align: right;
        }

        &.alt {
          font-weight: bold;
          color: $COLOR_ALT;

          &:after {
            content: "/";
            font-size: 10px;
            color: $COLOR_BLACK;
            margin-left: 0.5em;
          }
        }

        &.frequency {
          font-weight: bold;
        }
      }
    }
  }
}
