.question-answer {
  padding-top: $HEIGHT_GLOBAL_MENU + 8px;
  margin-top: -$HEIGHT_GLOBAL_MENU - 8px;
  margin-bottom: 1em;

  > .question,
  > .answer {
    position: relative;
    padding-left: 27px;
    font-size: 14px;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
      border-radius: 100%;
    }
  }

  > .question {
    padding: 4px 0 0 27px;
    line-height: 18px;

    &::before {
      top: 3px;
      color: white;
      content: 'Q';
      background-color: $COLOR_KEY_DARK1;
    }
  }

  > .answer {
    &::before {
      top: 2px;
      color: $COLOR_KEY_DARK1;
      content: 'A';
      border: solid 1px $COLOR_KEY_DARK1;
    }

    > div,
    > table,
    > p,
    > ul,
    > ol {
      margin-bottom: 1em;
    }
  }
}
