$PADDING_METER: 8px
.range-selector-view
  label
    margin: 0
  > .input
    text-align: center
    > input
      display: inline-block
      width: 5em
      margin-right: 3px
      text-align: right
      line-height: 18px
      padding: 0 0 0 8px
      border-radius: 9px
      border: solid 1px $COLOR_GRAY
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset
      outline: none
    > label
      margin-left: 8px
      margin-bottom: 0
  > .meter
    padding: 0 $PADDING_METER
    position: relative
    > .barcontainer
      width: 100%
      height: 8px
      background-color: $COLOR_LIGHT_GRAY
      position: relative
      > .bar
        position: absolute
        top: 0
        background-color: $COLOR_KEY_DARK1
        height: 8px
        width: 100%
    > .ruler
      position: relative
      > .scale
        position: absolute
        font-size: 10px
        line-height: 10px
        text-align: center
        width: 20px
        left: calc(0% - 10px)
        top: 6px
        &:nth-child(2)
          left: calc(10% - 10px)
        &:nth-child(3)
          left: calc(20% - 10px)
        &:nth-child(4)
          left: calc(30% - 10px)
        &:nth-child(5)
          left: calc(40% - 10px)
        &:nth-child(6)
          left: calc(50% - 10px)
        &:nth-child(7)
          left: calc(60% - 10px)
        &:nth-child(8)
          left: calc(70% - 10px)
        &:nth-child(9)
          left: calc(80% - 10px)
        &:nth-child(10)
          left: calc(90% - 10px)
        &:nth-child(11)
          left: calc(100% - 10px)
        &:before
          content: ""
          border-left: dotted 1px $COLOR_SEPARATOR
          height: 13px
          top: -16px
          left: 10px
          display: block
          position: absolute
    > .slider
      width: 100%
      height: 8px
      position: absolute
      top: 0
      left: 0
      > *
        position: absolute
        width: 8px
        height: 16px
        top: -4px
        cursor: col-resize
        &::before, &::after
          content: ""
          display: block
          position: absolute
          width: 3px
          height: 16px
        &::after
          border-top: solid 1px rgba(black, .5)
          border-bottom: solid 1px rgba(black, .5)
      > .from
        transform: translateX(1px)
        &::before
          border-right: solid 1px rgba(black, .5)
          right: 0
        &::after
          right: 0
      > .to
        left: calc(100% - 8px)
        &::before
          border-left: solid 1px rgba(black, .5)
          left: 0
  > .match
    text-align: center
    > label
      + label
        margin-left: 1em
  &.-vertical
    > .input
      margin-bottom: 8px
      margin-top: 2px
    > .meter
      top: 2px
      > .ruler
        padding-bottom: 14px
    > .match
      padding-top: 8px
  &.-horizontal
    display: flex
    align-items: center
    > *
      + *
        margin-left: 8px
    > .input
      margin: 0 -2px
    > .meter
      width: 240px
  &.-inverting
    > .meter
      > .barcontainer
        background-color: $COLOR_KEY_DARK1
        > .bar
          background-color: $COLOR_LIGHT_GRAY
