@use '../../foundation' as *;

.right-headline {
  > tbody {
    > tr {
      > th,
      > td {
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 14px;
        vertical-align: top;
      }

      > th {
        padding-right: 0.5em;
        text-align: right;

        @include panel-view-heading;

        &::after {
          content: ':';
        }
      }

      &:first-child {
        > th,
        > td {
          padding-top: 6px;
        }
      }

      &:last-child {
        > th,
        > td {
          padding-bottom: 6px;
        }
      }

      > td {
        > ul {
          padding-block-start: 0;
          padding-inline-start: 0;
          margin-bottom: 0;

          > li {
            display: block;
            word-break: break-all;
          }
        }
      }
    }

    + tbody {
      border-top: solid 1px $COLOR_SEPARATOR_SUB;
    }
  }
}
