$SIZE: 24px

.text-field-editor-view
  .search-field-view
    > .fieldcontainer
      > .field
        padding: 8px 11px
        margin-bottom: 0
        > input[type=text]
          width: 100%
          line-height: $SIZE
          height: $SIZE
        > button
          display: none
    > .suggest-view
      top: 44px
      left: 25px
      