.variant-effect-prediction-badge {
  display: inline-block;
  padding: 0 8px;
  color: white;
  border-radius: 9px;

  &[data-function='T'],
  &[data-function='B'],
  &[data-function='P0'] {
    background-color: var(--color-sign-safe);
  }

  &[data-function='LB'] {
    background-color: var(--color-sign-normal);
  }

  &[data-function='POSSD'],
  &[data-function='LP'],
  &[data-function='P10'] {
    background-color: var(--color-sign-warning);
  }

  &[data-function='D'],
  &[data-function='PROBD'],
  &[data-function='P20'] {
    background-color: var(--color-sign-dangerous);
  }

  &[data-function='U'] {
    color: var(--color-black);
    background-color: var(--color-light-gray);
  }

  &[data-function='A'] {
    background-color: var(--color-sign-unknown);
  }
}
