@use '../../foundation/_variables.scss' as *;

//Clinical significance
[data-condition-type='significance'] {
  &::before {
    margin-right: 4px;
    margin-left: -2px;
    font-size: 10px;
    position: relative;
    top: -1px;
  }

  &[data-value='P'],
  &[data-value='LP'] {
    border-color: var(--color-sign-dangerous);
    background-color: var(--color-sign-dangerous-light);
    &::before {
      color: var(--color-sign-dangerous);
    }
  }
  &[data-value='P']::before {
    content: 'P';
  }
  &[data-value='LP']::before {
    content: 'LP';
  }

  &[data-value='PLP'],
  &[data-value='LPLP'] {
    border-color: var(--color-sign-lowdangerous);
    background-color: var(--color-sign-lowdangerous-light);
    &::before {
      content: 'P';
      color: var(--color-sign-lowdangerous);
    }
  }
  &[data-value='PLP']::before {
    content: 'P';
  }
  &[data-value='LPLP']::before {
    content: 'LP';
  }

  &[data-value='ERA'],
  &[data-value='LRA'],
  &[data-value='URA'] {
    border-color: var(--color-sign-warning);
    background-color: var(--color-sign-warning-light);
    &::before {
      content: 'RA';
      color: var(--color-sign-warning);
    }
  }

  &[data-value='US'] {
    border-color: var(--color-sign-unknown);
    background-color: var(--color-sign-unknown-light);
    &::before {
      content: 'US';
      color: var(--color-sign-unknown);
    }
  }

  &[data-value='LB'] {
    border-color: var(--color-sign-normal);
    background-color: var(--color-sign-normal-light);
    &::before {
      content: 'LB';
      color: var(--color-sign-normal);
    }
  }

  &[data-value='B'] {
    border-color: var(--color-sign-safe);
    background-color: var(--color-sign-safe-light);
    &::before {
      content: 'B';
      color: var(--color-sign-safe);
    }
  }

  &[data-value='CI'] {
    border-color: var(--color-sign-modifier);
    background-color: var(--color-sign-modifier-light);
    &::before {
      content: 'CI';
      color: var(--color-sign-modifier);
    }
  }

  &[data-value='DR'],
  &[data-value='CS'],
  &[data-value='A'],
  &[data-value='RF'],
  &[data-value='PR'],
  &[data-value='AF'] {
    border-color: var(--color-sign-other);
    background-color: var(--color-sign-other-light);
    &::before {
      color: var(--color-sign-other);
    }
  }
  &[data-value='DR']::before {
    content: 'DR';
  }
  &[data-value='CS']::before {
    content: 'CS';
  }
  &[data-value='A']::before {
    content: 'A';
  }
  &[data-value='RF']::before {
    content: 'RF';
  }
  &[data-value='PR']::before {
    content: 'PR';
  }
  &[data-value='AF']::before {
    content: 'AF';
  }


  &[data-value='O'], &[data-value='NP'], &[data-value='AN']{
    border-color: var(--color-gray);
    background-color: white;
    &::before {
      color: var(--color-gray);
    }
  }
  &[data-value='O']::before {
    content: 'O';
  }
  &[data-value='NP']::before {
    content: 'NP';
  }
  &[data-value='AN']::before {
    content: 'AN';
  }
}

// variant ID
button.delete {
  display: none;
  border-radius: 50%;
  border: none;
  color: var(--color-gray);
  cursor: pointer;
  position: relative;
  font-family: fontello, sans-serif;
  background-color: transparent;
  padding: 0;
  margin-left: 0.2em;
  margin-right: -0.5em;

  &::before {
    content: var(--char-delete);
    font-size: 0.8em;
  }
}
