@use '../../foundation/_variables.scss' as *;

:host {
  position: relative;
  display: block;
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 14px;
  display: flex;
  z-index: $Z_INDEX_SUGGEST_VIEW;
  color: $COLOR_BLACK;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  max-width: 50%;
  min-width: fit-content;
  > .suggestions-column {
    display: block;
    position: relative;

    &:last-child::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
      height: 100%;
      background-color: $COLOR_GRAY;
    }
  }
}
