@use '../../foundation/_variables.scss' as *;

:host ul[role='tablist'] {
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  display: flex;
  gap: 0.1rem;
  background: #e2e2e2;
  li {
    list-style: none;
    a {
      padding: 3px 8px;
      display: block;
      text-decoration: none;
      color: #444;
      border-radius: 7px 7px 0 0;
      margin-top: 5px;
      outline: none;
      &[aria-selected='true'] {
        background-color: #fff;
      }
    }
  }
}

:host .tab-panel {
  padding: 10px;
}
