footer {
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  height: auto;
}

footer address {
  font-size: 12px;
  line-height: 20px;
}

footer > .container {
  padding: 0;
  color: #000;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: #45b8cc;
}

#rt-logo {
  height: 60px;
  display: block;
  text-indent: -9999px;
  background-image: url(rt-logo.png);
  background-size: 160px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

#copyright {
  font-size: 12px;
}
