.sidebar {
  position: sticky;
  top: 6rem;
  height: calc(100vh - 6rem);
  min-width: 27rem;
  padding: 1rem 1rem 2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  z-index: 800;

  .card-header {
    padding: 0.75rem;
  }

  .card-body {
    padding: 0.75rem;
    line-height: 2.3rem;
  }

  .form-check {
    padding-left: 2rem;

    .form-check-input {
      position: absolute;
      margin-top: 0.5rem;
      margin-left: -2rem;
    }

    .form-check-label[data-icon] {
      padding-left: 20px;
      &:before {
        margin-left: -23px;
      }
    }

    .form-check-label[data-icon^="significance_"] {
      padding-left: 23px;
      &:before {
        margin-left: -26px;
      }
    }

  }
}
