.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  height: auto;
  z-index: 1000;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
