.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  height: auto;
  z-index: 1000;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.filter_icon {
  padding-left: 22px;
  line-height: 16px;
}

.variant_type_deletion {
  background: url('icon/variant_type/deletion.png') no-repeat -5px center;
  background-size: 30px;
}

.variant_type_indel {
  background: url('icon/variant_type/indel.png') no-repeat -5px center;
  background-size: 30px;
}

.variant_type_insertion {
  background: url('icon/variant_type/insertion.png') no-repeat -5px center;
  background-size: 30px;
}

.variant_type_sequence_alteration {
  background: url('icon/variant_type/sequence_alteration.png') no-repeat -5px center;
  background-size: 30px;
}

.variant_type_snv {
  background: url('icon/variant_type/snv.png') no-repeat -5px center;
  background-size: 30px;
}

.variant_type_substitution {
  background: url('icon/variant_type/substitution.png') no-repeat -5px center;
  background-size: 30px;
}

.source_clinvar {
  background: url('icon/source/clinvar.png') no-repeat -5px center;
  background-size: 30px;
}

.source_exac {
  background: url('icon/source/exac.png') no-repeat -5px center;
  background-size: 30px;
}

.source_hgvd {
  background: url('icon/source/hgvd.png') no-repeat -5px center;
  background-size: 30px;
}

.source_togovar {
  background: url('icon/source/togovar.png') no-repeat -5px center;
  background-size: 30px;
}

.source_tommo {
  background: url('icon/source/tommo_3.5kjpn.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_affects {
  background: url('icon/significance/affects.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_association {
  background: url('icon/significance/association.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_benign {
  background: url('icon/significance/benign.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_conflicting_data_from_submitters {
  background: url('icon/significance/conflicting_data_from_submitters.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_conflicting_interpretations_of_pathogenicity {
  background: url('icon/significance/conflicting_interpretations_of_pathogenicity.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_drug_response {
  background: url('icon/significance/drug_response.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_likely_benign {
  background: url('icon/significance/likely_benign.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_likely_pathogenic {
  background: url('icon/significance/likely_pathogenic.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_not_provided {
  background: url('icon/significance/not_provided.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_other {
  background: url('icon/significance/other.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_pathogenic {
  background: url('icon/significance/pathogenic.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_protective {
  background: url('icon/significance/protective.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_risk_factor {
  background: url('icon/significance/risk_factor.png') no-repeat -5px center;
  background-size: 30px;
}

.significance_uncertain_significance {
  background: url('icon/significance/uncertain_significance.png') no-repeat -5px center;
  background-size: 30px;
}


