<header id="GlobalHeader">
  <h1 class="heading">
    <a class="link" href="./index.html">
      <img alt="TOGO VAR" class="logotype" src="images/logotype.svg">
    </a>
    <span class="summary">A comprehensive Japanese genetic variation database</span>
  </h1>
  <navigation class="menus">
    <ul class="menu navigation">
      <li class="item menu-button -current">
        <a class="link" href="./index.html">Home</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./doc/datasets.html">Datasets</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./downloads.html">Downloads</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./doc/terms.html">Terms</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./doc/contact.html">Contact</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./doc/about.html">About</a>
      </li>
      <li class="item menu-button">
        <a class="link" href="./doc/help.html">Help</a>
      </li>
    </ul>
    <ul class="menu config">
      <li class="menu-button">Configuration</li>
    </ul>
    <ul class="menu languageswitcher">
      <li class="language menu-button -current" data-language="ja" title="日本語">ja</li>
      <li class="language menu-button" data-language="en" title="English">en</li>
    </ul>
  </navigation>
</header>
