<div class="drawer-view" id="Karyotype">
  <header class="header">
    <div class="mark"></div>
    <h2 class="heading">Karyotype</h2>
  </header>
  <div class="configuration">
    <div class="form-parts">
      <div class="label">Band:</div>
      <div class="togglebuttons" id="KariotypeSwitchBandVisibility">
        <div class="button -current" data-value="show">Show</div>
        <div class="button" data-value="hide">Hide</div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="chromosomes"></div>
  </div>
</div>
