extend layouts/application

append variables
  - locals.currentPage = "home";

block head
  link(href="/togovar.jsonld" rel="alternate" type="application/ld+json")
  each css in htmlWebpackPlugin.files.css.filter(x => x.match(/^\/css\/main-/))
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/main-/))
    script(type="text/javascript", src=js, defer)

block content
  include includes/_search_results_main
  include includes/_karyotype
  include includes/_activity_indicator
  include includes/_configuration
