@import "~swagger-ui/dist/swagger-ui"

body
  padding-top: 50px !important
  font-size: unset !important

  header#GlobalHeader
    h1.heading
      top: -12px

      span.summary
        top: -3px
        position: relative

  select
    height: unset !important
    line-height: unset !important
