@import 'colors';
@import 'icons';

@import '~datatables.net-bs4/css/dataTables.bootstrap4';
@import 'layouts/sidebar';

main {
  margin-left: -26rem;
  width: 100%;
  padding: 1rem 1rem 2rem;

  .main_inner {
    margin-left: 26rem;
    overflow-x: auto; /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
  }
}

@media (min-width: 1500px) {
  main {
    margin-left: -40rem;

    .main_inner {
      margin-left: 40rem;
    }
  }
}

.search-container {
  position: relative;
  margin: 0.5rem;
  padding: 3rem 5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: #fff;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

  #search_text {
    font-size: 1.6rem;
    height: auto !important;
  }

  .row > div {
    margin-left: auto;
    margin-right: auto;
  }
}

.result-container {
  position: relative;
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0);

  #search-alert {
    margin: 0.5rem;
  }
}

.ui-state-active {
  border: 1px solid $color_base_blue_dark !important;
  background: $color_base_blue !important;
}

.ui-autocomplete {
  li {
    position: relative;
  }

  li:first-child {
    padding-top: 2rem;

    &:before {
      position: absolute;
      content: 'Please select one from the list below to search gene or disease.';
      padding-left: 0.5rem;
      width: 100%;
      margin-top: -2rem;
      background-color: #F4F3F2;
    }
  }
}

.dataTables_wrapper {
  background-color: #fff;
  padding: 2rem 4rem;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  border-radius: 4px;

  table.dataTable.stripe tbody tr.odd {
    background-color: #f9f9f9;
  }

  .table {
    margin: 0;

    thead th,
    thead td {
      border-top: none;
      border-bottom: 2px solid #111;
    }

    tbody td {
      padding: 0.4rem;
      border-top: 1px solid #dddddd;
      a {
        text-decoration: none;
      }

      [data-icon^='variant_type_'],
      [data-icon^='significance_']{
        min-width: 3rem;
        &:before {
          position: relative;
          top: 4px;
        }
      }

      [data-icon^='sift'],
      [data-icon^='polyphen'] {
        position: relative;
        padding-left: 2.5rem;

        &:before {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto auto auto 0;
        }
      }

      [data-source^='jga'] {
        background: $color_source_jga_ngs;
      }

      [data-source='tommo'] {
        background: $color_source_tommo;
      }

      [data-source='hgvd'] {
        background: $color_source_hgvd;
      }

      [data-source='exac'] {
        background: $color_source_exac;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .frequency_wrapper {
    margin: 0;
    padding: 5px 0;
    height: 46px;
  }

  .dataTables_processing {
    background: url('~images/loading.gif') no-repeat 50% 66% white;
    color: #999;
    filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.2));
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    height: 80px;
    width: 300px;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .dataTables_scroll {
    .dataTables_scrollBody {
      min-height: 400px;
    }
  }

  .dataTables_info {
    padding: 3px 0 3px 5px;
    font-size: 14px;
  }

  .dataTables_paginate {
    float: none;
    text-align: center !important;
    padding: 30px 0 10px;
  }

  .dataTables_length {
    float: right !important;
    padding: 7px 13px 0;
  }

  @mixin ie7-inline-block() {
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
  }

  .pagination {
    display: block;
    margin: 2rem 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    ul {
      display: inline-block;
      position: relative;
      @include ie7-inline-block();
      margin-left: 0;
      margin-bottom: 0;
      padding: 0;
      border-radius: 4px;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));

      & > .active {
        & > a,
        & > span {
          color: #fff;
          cursor: default;
          background-color: $color_base_blue_dark;
        }
      }

      & > .disabled {
        & > span,
        & > a,
        & > a:hover,
        & > a:focus {
          color: #fff;
          background-color: #ccc;
          cursor: default;
        }
      }

      & > li {
        display: inline;

        & > a,
        & > span {
          display: inline-block;
          float: none;
          line-height: 1.4rem;
          padding: 4px 9px;
          background-color: $color_base_blue;
          color: #fff;
          border: none;
          text-decoration: none;
        }

        & > a:hover,
        & > a:focus {
          background-color: $color_base_blue_dark;
        }

        &.next {
          & > a,
          & > span {
            margin-left: .6em;
            border-radius: 11px;
          }
        }

        &.prev {
          & > a,
          & > span {
            margin-right: .6em;
            border-radius: 11px;
          }
        }
      }

      & > li:nth-last-of-type(3) {
        & > a,
        & > span {
          border-top-right-radius: 11px;
          border-bottom-right-radius: 11px;
          padding-right: 18px;
        }
      }

      & > li:nth-of-type(3) {
        & > a,
        & > span {
          border-top-left-radius: 11px;
          border-bottom-left-radius: 11px;
          padding-left: 18px;
        }
      }
    }
  }

  .pagination-slider {
    position: relative;
    height: 56px;
    clear: both;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    & > div {
      position: absolute;
    }
  }

  .pagination-slider-bar {
    width: 100%;
    background-color: #ddd;
    height: 4px;
    top: 34px;
  }

  .pagination-slider-current-bar {
    height: 4px;
    top: 34px;
    background-color: $color_base_blue;
  }

  .pagination-slider-dotted-line-left,
  .pagination-slider-dotted-line-right {
    border-top: dashed 1px $color_base_blue;
  }

  .pagination-slider-indicator {
    & > .inner {
      position: relative;
      cursor: pointer;
      padding: 0 13px;
      left: -50%;
      line-height: 2.6rem;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      border-radius: 13px;
      color: #fff;
      background-color: $color_base_blue;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1.3rem;
        height: 0.6rem;
        margin: 2.5rem auto 0;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 26 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0 13 12 13-12z' fill='%2343b9cc'/%3E%3C/svg%3E");
        background-size: 1.3rem 0.6rem;
      }
    }
  }
}

.tooltip {
  font-size: 1.4rem;
  line-height: 2.3rem;
  filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.2));

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    border: 2px solid $color_base_blue_dark;
    max-width: 100% !important;
    padding: 1rem;
    color: #000;
    background-color: #FFF;
    border-radius: 0.5rem;
  }

  &.bs-tooltip-auto[x-placement^=top],
  &.bs-tooltip-top,
  &.bs-tooltip-bottom {
    .arrow::before {
      border-top-color: $color_base_blue_dark;
      border-bottom-color: $color_base_blue_dark;
    }
  }

  div[data-icon] {
    position: relative;
    margin-left: 2.5rem;

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 0 auto -2.5rem;
    }
  }

  table.tooltip_table_row {
    margin-bottom: 0;

    thead {
      tr {
        th {
          padding-top: 2rem;

          span {
            &[data-icon]:before {
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: -2rem auto 0;
            }

            &[data-icon='jga_ngs'],
            &[data-icon='jga_snp'] {
              position: relative;
              color: $color_source_jga_ngs;
            }
            &[data-icon='tommo'] {
              position: relative;
              color: $color_source_tommo;
            }
            &[data-icon='hgvd'] {
              position: relative;
              color: $color_source_hgvd;
            }
            &[data-icon='exac'] {
              position: relative;
              color: $color_source_exac;
            }
          }
        }
      }
    }
  }
}
