defaults: &defaults

development:
  <<: *defaults
  host: localhost:9200
  user: elastic
  password: changeme

test:
  <<: *defaults

production:
  <<: *defaults
  host: togovar_es:9200
  user: elastic
  password: changeme
