defaults: &defaults
  host: localhost
  isql: isql
  port: 1111
  user: dba
  password:
  base_url: <%= ENV.fetch('RDF_BASE_URI') { 'http://togovar.biosciencedbc.jp' } %>
  load_dir: <%= "#{ENV.fetch('LOAD_DIR') { '/' }}load" %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  host: virtuoso
