- provide(:title, 'About')
%main
  .container
    %h1.title About TogoVar
    %p TogoVarは、日本人ゲノムのバリアントを中心に、それに関連する遺伝子および疾患情報を収集し整理統合したサイトです。
    %ol
      %li 日本人のバリアント情報を研究プロジェクト横断的に統合します
      TogoVarではJGAの個人ゲノムデータを集約して得られた日本人集団のバリアント情報を提供します。TogoVarやJGAの情報を利用して疾患に関連する日本人特有の希少なバリアントの発見などが期待されます。
      %li バリアントの解釈に必要な情報をワンストップで提供します
      TogoVarでは日本人のバリアント情報と海外の様々なデータベースで公開されている情報を統合し、日本人のゲノムバリアントを解釈するためのリファレンスを提供します。
    %h2 開発者/Developers
    %p
      TogoVarは、
      = link_to '国立研究開発法人科学技術振興機構 バイオサイエンスデータベースセンター (NBDC)', 'https://biosciencedbc.jp/'
      と
      = link_to '大学共同利用機関法人 情報・システム研究機構 データサイエンス共同利用基盤施設 ライフサイエンス統合データベースセンター (DBCLS)', 'http://dbcls.rois.ac.jp/'
      との共同研究で開発されています。
