- provide(:title, 'Datasets > Analysis')
%main
  .container
    %h1.title JGAデータセット作成方法
    %h2 JGA-NGSデータ
    %p
      下記の解析ツール群を一括実行可能な解析パイプラインソフト(
      %a{href: 'http://amelieff.jp/'}> アメリエフ社
      製 BioReT (Ver.3.3.1.1))を利用しました。
    %table{border: '1'}
      %thead
        %tr
          %td プログラム名
          %td バージョン
      %tbody
        %tr
          %td qcleaner
          %td 4.1.0
        %tr
          %td SAM tools
          %td 1.6
        %tr
          %td FastQC
          %td 0.11.5
        %tr
          %td calcCoverage
          %td 1.7
        %tr
          %td BWA
          %td 0.7.16a
        %tr
          %td igvtools
          %td 2.3.98
        %tr
          %td Picard
          %td 2.13.2
        %tr
          %td GATK
          %td 3.8.0-ge9d806836
        %tr
          %td SnpEff
          %td v4.3_core
        %tr
          %td bedtools
          %td 2.13.3
