- provide(:title, 'Contact')
- provide(:active, doc_contact_path)

= content_for :header do
  = stylesheet_link_tag 'static/style', media: :all

%main
  .container
    %h1.title Contact us
    %p
      You can contact us by email to report problems, questions, or suggestions on our service.
    %p{class: 'ml-5', style: 'font-size: 125%;'}
      togovar [at] biosciencedbc [dot] jp
    %p
      We, NBDC promote open science based on
      = succeed '.' do
        %a{href: 'https://www.force11.org/fairprinciples/'} the FAIR data principles
    %h1.title お問い合わせ
    %p
      我々のサービスに対しての問題や質問またはご提案がございましたら、e-mailにてお知らせ下さい。
    %p{class: 'ml-5', style: 'font-size: 125%;'}
      togovar [at] biosciencedbc [dot] jp
    %p
      また、NBDCはFAIR原則に基づいたオープンサイエンスを推進しております。データを再利用する、または、ご提供いただける研究者の方々からのご連絡もお待ちしております。
