- provide(:title, 'Dataset')
%main
  .container
    %h1.title TogoVar収録データセット一覧

    %h2 ヒトゲノムリファレンス配列
    %ul
      %li
        %a{href: 'https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh37.p13'} GRCh37.p13 (2013/06/28)

    %h2 Japanese Genotype-phenotype Archive (JGA)の個人ゲノムデータ由来のバリアントデータセット
    %table{border: '1'}
      %colgroup
        %col{span: '1', style: 'text-align:right;'}/
      %thead{align: 'center'}
        %tr
          %th データセット名
          %th バージョン/最終更新日
          %th サンプルサイズ
          %th バリアント部位数
          %th 作成者
      %tbody
        %tr
          %td= link_to 'JGA-NGS', doc_datasets_jga_ngs_path
          %td 20180601
          %td{align: 'right'} 125
          %td{align: 'right'} 13,018,986
          %td NBDC
        %tr
          %td= link_to 'JGA-SNP', doc_datasets_jga_snp_path
          %td 20180601
          %td{align: 'right'} 183,884
          %td{align: 'right'} 1,272,101
          %td NBDC

    %h2 第三者が作成したバリアントデータセット
    %table{border: '1'}
      %colgroup
        %col{span: '1', style: 'text-align:right;'}/
      %thead{align: 'center'}
        %tr
          %th データセット名
          %th バージョン/最終更新日
          %th サンプルサイズ
          %th バリアント部位数
          %th 作成者
      %tbody
        %tr
          %td
            %a{href: 'ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/'} ClinVar
          %td 2017/2/1
          %td{align: 'center'} —
          %td{align: 'right'} 198,707
          %td NCBI
        %tr
          %td
            %a{href: 'http://exac.broadinstitute.org/downloads'} Exome Aggregation Consortium (ExAC)
          %td Release 1 (02/27/2017)
          %td
          %td
          %td Broad Institute
        %tr
          %td
            %a{href: 'http://www.hgvd.genome.med.kyoto-u.ac.jp/download.html'} Human Genetic Variation Database (HGVD)
          %td Version 2.30 (08/02/2017)
          %td{align: 'right'} 1,208
          %td{align: 'right'} 501,556
          %td 京都大学
        %tr
          %td
            %a{href: 'https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/'} Integrative Japanese Genome Variation Database
          %td 3.5KJPN (09/28/2017)
          %td{align: 'right'} 3,554
          %td{align: 'right'} 49,934,538
          %td 東北メディカル・メガバンク機構

    %h2 バリアント以外のデータセット
    %table{border: '1'}
      %colgroup
        %col{span: '1', style: 'text-align:right;'}/
      %thead{align: 'center'}
        %tr
          %th データセット名
          %th バージョン/最終更新日
          %th 内容
          %th 作成者
      %tbody
        %tr
          %td
            %a{href: 'ftp://ftp.dbcls.jp/colil'} Colil
          %td 2017/02/08
          %td 生命科学分野の文献間の引用関係の情報
          %td DBCLS
        %tr
          %td
            %a{href: 'ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/'} PubTator
          %td{style: 'color:red;'}
          %td バリアント名が出現する文献の情報
          %td NCBI
        %tr
          %td
            %a{href: 'http://togogenome.org/'} TogoGenome
          %td hg19+UniProt_201804
          %td ゲノムに関連する多種多様な情報
          %td DBCLS
