- provide(:title, 'FAQ')
%main
  .container
    %h1.title FAQ

    %h2 TogoVar全般
    %p

    %h2 利用条件に関して
    %p

    %h2 TogoVar格納データに関して
    %p

    %h2 TogoVar検索システムに関して
    %p

    %h2 TogoVar全般
    %p

    %h2 TogoVar の有用性はなんでしょうか？
    %p
      A. ゲノムの解読はNGSにより低頻度の変異を取得することが可能となった。
      しかし、既存データベースは日本の集団における頻度データとして参照するにはサンプル数が少ない。
      よって、公開されている日本人のゲノム変異情報やNBDCに寄託されたヒトデータベースからの情報を集積し、
      より信頼性の高い頻度情報を提供することが目的である。
    %p
      また、ヒトゲノムの参照配列は常に一定ではなく更新される情報であるため、同じ変異であっても参照配列が異なるとゲノム上の位置が異なる。
      そこで、当データベースでは同じ変異にはユニークなIDを付与することで、研究者が行っている変異の位置情報を参照配列ごとの変換作業の省力化を可能とする。※要追記

    %h2 利用条件に関して
    %h4 Q. データベースの利用は無償でしょうか？
    %p
      A. すべて無償での利用が可能です。データベースの利用については、Termsのページを参照してください。
    %h4 Q. データベースの情報を利用して論文を書くには、どのようにすれば良いでしょうか？
    %p
      A.
      = link_to 'Terms', terms_path
      のクレジットの表示例を参考にしてください。
    %h4 Q. 商用利用は可能でしょうか？
    %p
      A. TogoVar本体は商用利用可能です。TogoVarが取り込んでいる第三者作成データに関してはそれそれの利用条件に従ってください。詳しくは
      = link_to 'Terms', terms_path
      をご覧ください。

    %h2 TogoVar格納データに関して
    %h4 Q. 個人レベルのphenotype情報の取得は可能でしょうか？
    %p
      A. 当データベースは個人情報を保持しておらず、また、個人ごとのphenotype情報は現在のところ提供はしておりません。
      詳細のphenotype情報が必要な場合は、二次データ提供リスト(HPリンク)に記載されている研究グループに直接お問い合わせ下さい。
    %h4 Q. 遺伝子発現やタンパク質の情報とは結び付かないのでしょうか？
    %p
      A. 当データベースはヒトゲノムの遺伝子変異について、日本人の公開情報を中心として統合したものです。
      当データベースはRDFの技術をベースとして利用している為、遺伝子発現やタンパク質の情報がRDFを利用しているデータベースである場合は、
      容易に拡張が可能と考えております。遺伝子発現やタンパク質の情報への拡張は順次実施する予定です。
    %h4 Q. 変異のdetectionの際に使用したソフトウェアおよび品質管理の方法を教えてください。
    %p
      A. SNP Chipから生成されたデータについては、Affymetrix platformからのデータはBirdseedによって変異検知を行い、
      Illumina platformからのデータについては、XXXXによって変異検知を行った。
      IBD, PCA, .xxxxxxxx (別ページに記載か？)

    %h2 TogoVarの検索システムに関して
    %h4 Q. インハウスでTogoVarを利用できますか？
    %p
      A. dockerイメージを公開する予定です。しばらくお待ちください。