- provide(:title, 'Dataset > JGA-SNP')
%main
  .container
    %h1.title JGA-SNPデータセット

    %h2 概要
    %p
      %a{:href => "https://humandbs.biosciencedbc.jp/en/"}> NBDCヒトデータベース(humandbs)
      \/
      %a{:href => "https://www.ddbj.nig.ac.jp/jga/index-e.html"}> Japanese Genotype-phenotype Archive (JGA)
      に
      登録されているSNPチップで検出したバリアントとを集約したデータです。
      ２次データ作成の許諾が得られたhumandbs/JGAデータの全てが集約対象です。
      なお、Alternative allele数が5未満のバリアントは含まれていません。

    %h2 利用条件

    %h3 データ利用者の権利
    %p
      %a{:href => "https://humandbs.biosciencedbc.jp/guidelines/data-sharing-guidelines"}> NBDCヒトデータ共有ガイドライン
      の5-2. データ利用者の権利の5-2-1. 非制限公開データに準拠します。
    %ol
      %li
        データ利用者は、『NBDCヒトデータベース』のデータを利用した研究成果をデータ利用者の責務を遵守する限り自由に発表できる。
      %li
        データ利用者は、『NBDCヒトデータベース』のデータを利用した研究結果をもとにした知的財産権をデータ利用者の責務を遵守する限り自由に取得できる。

    %h3 データ利用者の責務
    %p
      NBDCヒトデータ共有ガイドラインの5-3. データ利用者の責務の5-3-1. 非制限公開データに準拠します。
    %ol
      %li
        データ利用に際してのデータの品質・内容・科学的妥当性については、利用者の責任と判断のもとで活用すること。
      %li
        データ利用者は、下記の事項を遵守すること。
        %ul
          %li
            研究利用への限定
          %li
            個人同定の禁止
          %li
            再配布の禁止
      %li
        公衆利用（例：データを利用して論文等で発表する場合など）の際は以下の引用を付与してください。
        %p
          Variant set aggregated from SNP-chip data in
          %a{:href => "https://humandbs.biosciencedbc.jp/en/"} NBDC human database
          \/
          %a{:href => "https://www.ddbj.nig.ac.jp/jga/index-e.html"} JGA
          [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center; [2018] – . JGA-SNP Dataset; [cited YYYY Mmm DD]. Available from:
          = link_to 'https://togovar.biosciencedbc.jp/datasets/jga-snp', doc_datasets_jga_snp_path

    %h2 集約されたデータの由来
    %table{:border => "1"}
      %thead
        %tr
          %th JGAID
          %th ヒトDB
          %th 研究題目
          %th サンプルサイズ
          %th データ提供者
      %tbody
        %tr
          %td
            %a{:href => "https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000114/"} JGAD00000000123
          %td
            %a{:href => "https://humandbs.biosciencedbc.jp/hum0014-v8/"} hum0014
          %td
            オーダーメイド医療の実現プログラム
          %td{:align => "right"}
            182,505
          %td
            久保 充明
        %tr
          %td
            %a{:href => "https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000018/"} JGAD00000000018
          %td
            %a{:href => "https://humandbs.biosciencedbc.jp/hum0028-v1/"} hum0028
          %td
            オーダーメイド医療の実現プログラム
          %td{:align => "right"}
            908
          %td
            久保 充明
        %tr
          %td
            %a{:href => "https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000120/"} JGAD00000000130/131
          %td
            %a{:href => "https://humandbs.biosciencedbc.jp/hum0082-v2/"} hum0082
          %td
            日本人健常者におけるゲノム全域のSNP解析
          %td{:align => "right"}
            419
          %td
            徳永 勝士
        %tr
          %td{:align => "center", :colspan => "3"}
            %strong 合計
          %td{:align => "right", :style => "font-color:red;"}
            183,884
