- provide(:title, 'Policy')
%main
  .container
    %h1.title Site Policies

    %h2 About This Website
    %p
      This website is operated and managed by the National Bioscience Database Center ("NBDC") of the Japan Science and Technology Agency ("JST").

    %h2 About Site Policies
    %p
      Site policies, including link, copyright, prohibited uses, disclaimer, personal information, transfer of the services of this website, general clauses and continuous improvement, conform to
      = succeed '.' do
        %a{:href => "https://biosciencedbc.jp/en/sitepolicies"} NBDC Site Policies
      Policies written in
      %a{:href => "/terms"} the Terms page
      are prior to the NBDC Site Policies.

    %h1.title サイトポリシー

    %h2 本サイトについて
    %p
      本サイトは、ライフサイエンスデータベース統合推進事業を実施している、国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンター（以下、「NBDC」といいます。）が運営・管理しています。

    %h2 サイトポリシーについて
    %p
      本サイトのサイトポリシーは、
      %a{:href => "https://biosciencedbc.jp/sitepolicies/"}> NBDCのサイトポリシー
      に準拠致します。NBDCのサイトポリシーの詳細につきましては以下のリンクを参照ください。また、
      %span>= link_to '利用条件のページ', doc_terms_path
      に記載のある項目については、このサイトのポリシーが優先されます。
