- provide(:title, 'Terms')
%main
  .container
    %h1.title Terms of Use （利用条件）
    %p 当データベースを利用し論文に引用する際は、下記の論文を参照願います。(予定）
    %p 当データベースは、Open Database Licenseに準拠しており、当データベースを改変し第三者に配布する際は全てODbLのライセンスの元に提供して下さい。
    %p また、当データベースに取り込まれた各データについては、下記のデータの輩出元のライセンスに従ってください。
    %ul
      %li ExAC: http://exac.broadinstitute.org/about
      %li HGVD: http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html
      %li ToMMo 3.5k: https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/
    %h2 クレジットの表示例
    %p
    %h3 論文を含む対外発表をする場合
    %p TogoVarの利用に対する以下の引用をお願いいたします。
    %h4 TogoVarシステム全体を引用する場合
    %p TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center; 2018 – [cited YYYY Mmm DD]. Available from: https://togovar.org
    %h4 TogoVarの特定の変異(tgv10000)を引用する場合の例
    Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center; [2018] – . TogoVarID tgv10000; [cited YYYY Mmm DD]. Available from: https://togovar.org/tgv10000
    %p また、利用したコンテンツに応じて以下の引用をしてください。正式には各コンテンツの利用条件を参照ください。
    %h4 ExAC [利用条件：http://exac.broadinstitute.org/abouthttp://exac.broadinstitute.org/about]
    %p Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium, E. A. (2016). Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616), 285–291. http://doi.org/10.1038/nature19057
    %h4 HGVD Release Version 2.30 (08/02/2017) [利用条件：http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html]
    %p K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in the Japanese population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12
    %h4 TogoVar Dataset [利用条件: https://togovar.org/dataset]
    %p Variant set aggregated from NBDC human database/JGA [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center; [2018] – . TogoVar Dataset; [cited YYYY Mmm DD]. Available from: https://togovar.org/dataset
    %h4 ToMMo 3.5KJPN [利用条件: https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/]
    %p (Long version)
    Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J, Katsuoka F, Nariai N, Kojima K, Kawai Y, Yamaguchi-Kabata Y, Yokozawa J, Danjoh I, Saito S, Sato Y, Mimori T, Tsuda K, Saito R, Pan X, Nishikawa S, Ito S, Kuroki Y, Tanabe O, Fuse N, Kuriyama S, Kiyomoto H, Hozawa A, Minegishi N, Douglas Engel J, Kinoshita K, Kure S, Yaegashi N, ToMMo Japanese Reference Panel Project and Yamamoto M, Nat Commun, 21; 6:8018 (2015)
    %p (Short version)
    Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J, Katsuoka F, ToMMo Japanese Reference Panel Project and Yamamoto M, Nat Commun, 21; 6:8018 (2015)