extend ../../layouts/application

append variables
  - locals.currentPage = "about";
  - locals.language = "ja";
  - locals.title = "About | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title About TogoVar
      .contents
        section.section
          p.body TogoVar（日本人ゲノム多様性統合データベース）は、日本人ゲノム配列の個人による違い（バリアント）とそれに関係する疾患情報などを収集・整理したデータベースです。
          p.body
            | TogoVarは、研究プロジェクト横断的に集約した日本人におけるバリアントの頻度情報を提供します。利用可能な２つのデータセットである
            a(href="/doc/ja/datasets/jga_ngs") JGA-NGS
            | と
            a(href="/doc/ja/datasets/jga_snp") JGA-SNP
            | は
            a(target="_blank", href="https://humandbs.dbcls.jp/") NBDCヒトデータベース
            | /
            a(target="_blank", href="https://www.ddbj.nig.ac.jp/jga/index.html") Japanese Genotype-phenotype Archive (JGA)
            | に登録されている個人ごとのゲノムデータを集約して得られた頻度情報です。さらに、多種多様なデータベースに散在して収録されてきた
            a(href="/doc/ja/datasets") 遺伝子型や表現型に関連する情報
            | を整理統合し、バリアントを解釈するための情報をワンストップでわかりやすく提供します。
          p.body
            | TogoVarは、
            a(target="_blank", href="https://biosciencedbc.jp/") 国立研究開発法人科学技術振興機構が実施するライフサイエンスデータベース統合推進事業
            | の支援を受けて、
            a(target="_blank", href="http://dbcls.rois.ac.jp/") 大学共同利用機関法人 情報・システム研究機構 データサイエンス共同利用基盤施設 ライフサイエンス統合データベースセンター (DBCLS)
            | により開発・運用されています。
          p.body
            | 詳細は以下の論文、
            a(target="_blank", href="https://togotv.dbcls.jp/result.html?type=lecture&page=1&query=TogoVar") 動画(TogoTV)
            | および
            a(target="_blank", href="https://www.jst.go.jp/pr/announce/20180607/index.html") プレスリリース記事
            | をご覧ください。
          h3#credit.sectiontitle Reference
          p.body
            | Mitsuhashi N, Toyo-Oka L, Katayama T, Kawashima M, Kawashima S, Miyazaki K, Takagi T. TogoVar: A comprehensive Japanese genetic variation database. Hum Genome Var. 2022 Dec 12;9(1):44.
            | doi:
            |
            a(target="_blank", href=" https://doi.org/10.1038/s41439-022-00222-9") 10.1038/s41439-022-00222-9
            | .
            |
            | PMID:
            |
            a(target="_blank", href="https://pubmed.ncbi.nlm.nih.gov/36509753/") 36509753
            | ;
            |
            | PMCID:
            |
            a(target="_blank", href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9744889/") PMC9744889
            | .
