article.common-document
  header.header
    h2.title TogoVar収録データセット一覧 (GRCh38)
  .contents
    section.section
      h3.sectiontitle
        | NBDCヒトデータベース群
        sup ∗1
        | へ個人毎のデータ
        sup ∗2
        | の利用申請が可能なバリアント頻度データ
      p データ利用申請するには「含まれる制限公開データセット」のリンクをクリックしてください。
      table.table
        thead
          tr
            th 頻度データセット名
            th(style='white-space: nowrap;')._align-center 解析手法
            th._align-center Liftover GRCh37
            th(style='white-space: nowrap;')._align-center 対象集団
            th(style='white-space: nowrap;')._align-center 健常者
            th(style='white-space: nowrap;')._align-center 罹患者
            th(style='white-space: nowrap;')._align-center サンプル数
            th(style='white-space: nowrap;')._align-center アレル数
            th 含まれる制限公開データセット
        tbody
          tr
            td
              a(href="/doc/ja/datasets/gem_j_wga") GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel
            td._align-left WGS
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:35px;') 7,609
            td._align-center
              span(style='margin-left:5px;') 95,555,740
            td._align-center
              a(href="/doc/ja/datasets/gem_j_wga#jga_datasets") 6データセット
          tr
            td
              a(href="/doc/ja/datasets/jga_wes") JGA-WES
            td._align-left WES
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:45px;') 125
            td._align-center
              span(style='margin-left:13px;') 4,668,805
            td._align-center
              a(href="/doc/ja/datasets/jga_wes#jga_datasets") 7データセット
          tr
            td
              a(href="/doc/ja/datasets/jga_wgs") JGA-WGS
            td._align-left WGS
            td._align-center
            td 日本人
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:45px;') 78
            td._align-center
              span(style='margin-left:13px;') 20,822,413
            td._align-center
              a(href="/doc/ja/datasets/jga_wgs#jga_datasets") 4データセット
          tr
            td
              a(href="/doc/ja/datasets/jga_snp") JGA-SNP
            td._align-left SNP-Chip
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:25px;') 183,884
            td._align-center
              span(style='margin-left:13px;') 1,249,671
            td._align-center
              a(href="/doc/ja/datasets/jga_snp#jga_datasets") 3データセット
      p.notice
        | ∗1：
        a.hyper-text.-external(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index.html')
          | Japanese Genotype-phenotype Archive (JGA)
        |  /
        |
        a.hyper-text.-external(target='_blank', href='https://gr-sharingdbs.dbcls.jp/agd')
          | AMED Genome group sharing Database (AGD)
        br
        | ∗2：fastq/bam/celファイルやgenotype data一覧など
    section.section
      h3.sectiontitle その他のバリアント頻度データ
      table.table._column-span-all
        thead
          tr
            th データベース名
            th(style='white-space: nowrap;') 解析手法
            th._align-center Liftover GRCh37
            th(style='white-space: nowrap;')._align-center 対象集団
            th(style='white-space: nowrap;')._align-center 健常者
            th(style='white-space: nowrap;')._align-center 罹患者
            th(style='white-space: nowrap;')._align-center サンプル数
            th._align-center
              | アレル数
            th 作成者
            th
              | バージョン/最終更新日
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gnomad.broadinstitute.org/downloads#v4')
                | Genome Aggregation Database (gnomAD) exomes
            td._align-left WES
            td._align-center
            td._align-left 複数
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:0px;') 730,947
            td._align-center
              | 183,717,261
            td Broad Institute
            td v4.1
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gnomad.broadinstitute.org/downloads#v4')
                | Genome Aggregation Database (gnomAD) genomes
            td._align-left WGS
            td._align-center
            td._align-left 複数
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:3px;') 76,215
            td._align-center
              | 759,336,320
            td Broad Institute
            td v4.1
                    tr
            td
              a(href="/doc/ja/datasets/ncbn") NCBN
            td._align-left WGS
            td._align-center
            td 複数
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:-10px;') 日本人：9,290 1KGP：2,504
            td._align-center 215,729,032
            td ナショナルセンター バイオバンクネットワーク
            td 2024/6/28
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/downloads/tommo-54kjpn-20230626-af_snvindelall')
                | ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN-SNV/INDEL Allele Frequency Panel(#{ GLOBALS.TOMMO_VERSION }KJPN)
            td._align-left WGS
            td._align-center
            td._align-left 日本人
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:4px;') 54,302
            td._align-center
              | 252,777,334
            td 東北メディカル・メガバンク機構
            td v20230626
      p.notice
        | 注：#{ GLOBALS.TOMMO_VERSION }KJPNの内訳はSNVs(Autosome, chrX(PAR1+PAR2+XTR)およびchrMT)ならびにINDELs(AutosomeおよびchrX(PAR1+PAR2+XTR))です。
    section.section
      h3.sectiontitle バリアント頻度以外のデータ
      table.table
        thead
          tr
            th データベース名
            th バージョン/最終更新日
            th 内容
            th 作成者
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/clinvar/') ClinVar
            td 2024/10/03
            td バリアントの臨床的意義
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.dbcls.jp/colil') Colil
            td APIで取得
            td 生命科学分野の文献間の引用関係の情報
            td DBCLS
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh38.p13')
                | GRCh38.p13
            td 2019/03/01
            td ヒトゲノムリファレンス配列
            td GRC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ebi.ac.uk/gwas/docs/file-downloads')
                | GWAS Catalog
            td 2024/10/15
            td ゲノムワイド関連解析(GWAS)情報
            td NHGRI-EBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt')
                | HGNC symbol report
            td 2024/08/27
            td 遺伝子シンボルや関連リソースの情報
            td HGNC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/research/litvar2/api')
                | LitVar
            td APIで取得
            td バリアント名が出現する文献情報
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/medgen') MedGen
            td 2024/10/15
            td 遺伝医学に関連する症状や表現型に関する情報を集約したポータルデータベース
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://mgend.ncgm.go.jp/')
                | MGeND
            td 2024/03/08
            td 日本人集団から収集されたバリアントの臨床的意義
            td NCGM
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pubmed/')
                | PubMed
            td 2024/10/14
            td 文献情報
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/')
                | PubTator Central
            td 2024/01/04
            td バリアント名が出現する文献情報
            td NCBI
      p.notice
        | 注：ClinVarはGRCh38上の位置が決定しているバリアントのみを含む
        a.hyper-text.-external(target='_blank', href='ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/') VCFファイル
        | からデータを取得しています。
        br
        | 注：MGeNDの疾患名を独自の方法でMedGenにマッピングしていますので、MGeNDに記載されている疾患名と一致しない場合があります。
    section.section
      h3.sectiontitle データ加工に利用したツール
      table.table
        thead
          tr
            th ツール名
            th バージョン
            th 内容
            th 作成者
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://samtools.github.io/bcftools/') bcftools
            td._align-center —
            td 多アリルサイトを２アリルバリアントに分割し、リファレンス不一致バリアントを除外して、正規化
            td Genome Research Ltd.
          tr
            td
              a(href="/doc/ja/datasets/analysis") BioReT
            td._align-center —
            td JGAのWESデータから生殖細胞系のショートバリアント（SNPおよびインデル）を特定し、VCF形式でジョイントコールセットを生成
            td
              a.hyper-text.-external(target='_blank', href='https://amelieff.jp/') アメリエフ
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gatk.broadinstitute.org/hc/en-us/articles/360035535932-Germline-short-variant-discovery-SNPs-Indels') GATK Best Practice - Germline short variant discovery (SNPs and Indels)
            td Ver. 4
            td JGAのWGSデータから生殖細胞系のショートバリアント（SNPおよびインデル）を特定し、VCF形式でジョイントコールセットを生成
            td Broad Institute
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://github.com/informationsea/transanno') transanno
            td Ver. 0.45
            td バリアントのGRCh37座標をGRCh38へLiftOverするツール
            td OKAMURA, Yasunobu
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/index.html')
                | Variant Effect Predictor (VEP)
            td Ensembl rel. 112
            td
              | バリアントに
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache_content')
                | 遺伝子名、Consequence、有害性予測(AlphaMissense, SIFT, PolyPhen)等
              | をアノテーション
            td EMBL-EBI
