extend ../../layouts/application

append variables
  - locals.currentPage = "datasets";
  - locals.language = "ja";
  - locals.title = "Datasets | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    case TOGOVAR_FRONTEND_REFERENCE
      when 'GRCh37'
        include datasets_grch37
      when 'GRCh38'
        include datasets_grch38
      default
        // none
