article.common-document
  header.header
    h2.title TogoVar収録データセット一覧 (GRCh38)
  .contents
    section.section
      h3.sectiontitle
        | NBDCヒトデータベース群
        sup ∗1
        | へ個人毎のデータ
        sup ∗2
        | の利用申請が可能なバリアント頻度データ
      p データ利用申請するには「含まれる制限公開データセット」のリンクをクリックしてください。
      table.table
        thead
          tr
            th 頻度データセット名
            th(style='white-space: nowrap;') 解析手法
            th Liftover GRCh37
            th(style='white-space: nowrap;') 対象集団
            th(style='white-space: nowrap;') 健常者
            th(style='white-space: nowrap;') 罹患者
            th(style='white-space: nowrap;') サンプル数
            th(style='white-space: nowrap;') アレル数
            th 含まれる制限公開データセット
        tbody
          //tr
            td
              a(href="/doc/ja/datasets/bbj_riken") BBJ-RIKEN
            td._align-left SNP-Chip
            td Japanese
            td._align-center
            td._align-center
            td._align-center
            td._align-center
            td._align-center
          tr
            td
              a(href="/doc/ja/datasets/gem_j_wga") GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel
            td._align-left WGS
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:15px;') 7,609
            td._align-center
              | 94,961,154
            td._align-center
              a(href="/doc/ja/datasets/gem_j_wga#jga_datasets") 6データセット
          tr
            td
              a(href="/doc/ja/datasets/jga_ngs") JGA-NGS
            td._align-left WES
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:20px;') 125
            td._align-center
              span(style='margin-left:4px;') 4,624,124
            td._align-center
              a(href="/doc/ja/datasets/jga_ngs#jga_datasets") 7データセット
          tr
            td
              a(href="/doc/ja/datasets/jga_snp") JGA-SNP
            td._align-left SNP-Chip
            td._align-center ✔
            td 日本人
            td._align-center ✔
            td._align-center ✔
            td._align-center 183,884
            td._align-center
              span(style='margin-left:4px;') 1,244,838
            td._align-center
              a(href="/doc/ja/datasets/jga_snp#jga_datasets") 3データセット
      p.notice
        | ∗1：
        a.hyper-text.-external(target='_blank', href='https://www.ddbj.nig.ac.jp/jga/index.html')
          | Japanese Genotype-phenotype Archive (JGA)
        |  /
        |
        a.hyper-text.-external(target='_blank', href='https://gr-sharingdbs.biosciencedbc.jp/agd')
          | AMED Genome group sharing Database (AGD)
        br
        | ∗2：fastq/bam/celファイルやgenotype data一覧など
    section.section
      h3.sectiontitle その他のバリアント頻度データ
      table.table._column-span-all
        thead
          tr
            th データベース名
            th(style='white-space: nowrap;') 解析手法
            th Liftover GRCh37
            th(style='white-space: nowrap;') 対象集団
            th(style='white-space: nowrap;') 健常者
            th(style='white-space: nowrap;') 罹患者
            th(style='white-space: nowrap;') サンプル数
            th
              | アレル数
            th 作成者
            th
              | バージョン/
              br
              | 最終更新日
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://gnomad.broadinstitute.org/downloads#v3')
                | Genome Aggregation Database (gnomAD) genomes
            td._align-left WGS
            td._align-center
            td._align-left 複数
            td._align-center ✔
            td._align-center ✔
            td._align-center
              span(style='margin-left:3px;') 76,156
            td._align-center
              | 759,302,267
            td Broad Institute
            td v3.1.1
          tr
            td
              a.hyper-text.-external(target='_blank', href='http://www.hgvd.genome.med.kyoto-u.ac.jp/download.html')
                | Human Genetic Variation Database (HGVD)
            td._align-left WES
            td._align-center ✔
            td._align-left 日本人
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:10px;') 1,208
            td._align-center
              span(style='margin-left:20px;') 549,623
            td 京都大学
            td
              | Version 2.30
              br
              | (2017/08/02)
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://jmorp.megabank.tohoku.ac.jp/downloads/tommo-54kjpn-20230626-af_snvindelall')
                | ToMMo #{ GLOBALS.TOMMO_VERSION }KJPN-SNV/INDEL Allele Frequency Panel(#{ GLOBALS.TOMMO_VERSION }KJPN)
            td._align-left WGS
            td._align-center
            td._align-left 日本人
            td._align-center ✔
            td._align-center
            td._align-center
              span(style='margin-left:-3px;') 54,302
            td._align-center
              | 262,200,990
            td 東北メディカル・メガバンク機構
            td v20230626
      p.notice
        | 注：#{ GLOBALS.TOMMO_VERSION }KJPNの内訳はSNVs(Autosome, chrX(PAR1+PAR2+XTR)およびchrMT)ならびにINDELs(AutosomeおよびchrX(PAR1+PAR2+XTR))です。
    section.section
      h3.sectiontitle バリアント頻度以外のデータ
      table.table
        thead
          tr
            th データベース名
            th バージョン/最終更新日
            th 内容
            th 作成者
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/clinvar/') ClinVar
            td 2023/09/11
            td バリアントの臨床的意義
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.dbcls.jp/colil') Colil
            td APIで取得
            td 生命科学分野の文献間の引用関係の情報
            td DBCLS
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh38.p13')
                | GRCh38.p13
            td 2019/03/01
            td ヒトゲノムリファレンス配列
            td GRC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ebi.ac.uk/gwas/docs/file-downloads')
                | GWAS Catalog
            td 2023/09/05
            td ゲノムワイド関連解析(GWAS)情報
            td NHGRI-EBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt')
                | HGNC symbol report
            td 2023/09/05
            td 遺伝子シンボルや関連リソースの情報
            td HGNC
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/research/litvar2/api')
                | LitVar
            td APIで取得
            td バリアント名が出現する文献情報
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pubmed/')
                | PubMed
            td 2023/09/01
            td 文献情報
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/')
                | PubTator Central
            td 2023/09/03
            td バリアント名が出現する文献情報
            td NCBI
          tr
            td
              a.hyper-text.-external(target='_blank', href='http://togogenome.org/') TogoGenome
            td._align-center —
            td ゲノムに関する包括的な情報
            td DBCLS
      p.notice
        | 注：ClinVarはGRCh38上の位置が決定しているバリアントのみを含む
        a.hyper-text.-external(target='_blank', href='ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/') VCFファイル
        | からデータを取得しています。
    section.section
      h3.sectiontitle データ加工に利用したツール
      table.table
        thead
          tr
            th ツール名
            th バージョン
            th 内容
            th 作成者
        tbody
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://samtools.github.io/bcftools/') bcftools
            td._align-center —
            td multiallelicバリアントのbiallelicバリアントへの分割
            td Genome Research Ltd.
          tr
            td
              a(href="/doc/ja/datasets/analysis") BioReT
            td._align-center —
            td NGSデータからバリアントを特定するツール群を一括実行
            td
              a.hyper-text.-external(target='_blank', href='https://amelieff.jp/') アメリエフ
          tr
            td
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/index.html')
                | Variant Effect Predictor (VEP)
            td Ensembl rel. 110
            td
              | バリアントに
              a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache_content')
                | アノテーション（遺伝子名、Consequence等）
              | を付加
            td EMBL-EBI
