extend ../../layouts/application

append variables
  - locals.currentPage = "downloads";
  - locals.language = "ja";
  - locals.title = "Downloads | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title Downloads
      .contents
        section.section
          h3.sectiontitle
            | TogoVarの全バリアントデータ
          ul
            li
              | アレル頻度
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/frequency/vcf') VCF形式
                  |
                  | |
                  |
                  a(href='/downloads/release/current/grch38/frequency/tsv') タブ区切りテキスト
                  |
                  | (
                  a(href='/downloads/release/current/grch38/frequency/tsv/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/frequency/vcf') VCF形式
                  |
                  | |
                  |
                  a(href='/downloads/release/current/grch37/frequency/tsv') タブ区切りテキスト
                  |
                  | (
                  a(href='/downloads/release/current/grch37/frequency/tsv/README.txt') README
                  | )
            li
              | アノテーション
              ul
                li
                  | GRCh38：
                  a(href='/downloads/release/current/grch38/annotation') タブ区切りテキスト
                  |
                  | (
                  a(href='/downloads/release/current/grch38/annotation/README.txt') README
                  | )
                li
                  | GRCh37：
                  a(href='/downloads/release/current/grch37/annotation') タブ区切りテキスト
                  |
                  | (
                  a(href='/downloads/release/current/grch37/annotation/README.txt') README
                  | )
            br
            p
            | 最終更新日：2023/11/7
            br
            | アレル頻度は、
            |
            a(href='/doc/ja/datasets/') データセット
            | ごとに集計されました。
        section.section
          h3.sectiontitle
            | 寄託者から提供されたオリジナルファイル（一部のデータセット）
          ul
            li
              | GEM Japan Whole Genome Aggregation (GEM-J WGA) パネル
              ul
                li
                  | アレル頻度
                ul
                  li
                    | GRCh38 (liftover from GRCh37)：
                    a(href='/downloads/gem_j_wga/grch38') VCF形式
                  li
                    | GRCh37：
                    a(href='/downloads/gem_j_wga/grch37') VCF形式
            p
            | 最終更新日：2021/11/29
            br
            | データセットの詳細は、
            a(href='/doc/ja/datasets/gem_j_wga') GEM-J WGAのページ
            | をご覧ください。