extend ../../layouts/application

append variables
  - locals.currentPage = "history";
  - locals.language = "ja";
  - locals.title = "History | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")

block content
  main
    article.common-document
      header.header
        h2.title 更新履歴
      .contents
        section.section
          h3.sectiontitle 2025/6/2
          ul.unordered-list
            li
              strong Gene page：
              |
              |
              a.hyper-text.-external(href='https://molossinus.brc.riken.jp/mogplus/') MoG+ (Mouse genome database with high added value)
              | を新たに追加しました。
              ul.unordered-list
                li
                  | MoG+に登録されているマウスバリアントとTogoVarのヒトバリアントとの対応関係を、遺伝子ページ（例：
                  a.hyper-text.-internal(href='/gene/1101#mouse-variants-in-mogplus-database') BRCA2
                  | ）に掲載しました。
                li
                  | 対応関係は、
                  a.hyper-text.-external(href='https://hgdownload.soe.ucsc.edu/goldenPath/hg38/liftOver/') UCSC Chain File（hg38ToMm39.over.chain.gz）
                  | に基づいています。
                li
                  | ヒトのミスセンスバリアントや病原性バリアントに対応するマウスバリアントを持つ実験マウス系統の探索が可能になりました。
                li
                  | MoG+は、
                  a.hyper-text.-external(href='https://web.brc.riken.jp/ja/') 理化学研究所バイオリソース研究センター
                  | により開発・運用されています。

            li
              strong Gene page：
              |
              | Protein Browser を遺伝子ページに新たに追加しました。
              ul.unordered-list
                li
                  | 以下のデータが比較しやすいようにアミノ酸配列上に整列表示されています（例：
                  a.hyper-text.-internal(href='/gene/1101#protein-browser') BRCA2
                  | ）：
                  ul.unordered-list
                    li ミスセンスバリアントとその病原性（TogoVar）
                    li リン酸化部位（情報源：
                      a.hyper-text.-external(href='https://jpostdb.org/') jPOST: Japan ProteOme STandard Repository/Database
                      | ）
                    li 糖鎖結合部位（情報源：
                      a.hyper-text.-external(href='https://glycosmos.org/') 糖鎖科学ポータル GlyCosmos
                      | ）
                    li 疾患関連バリアント（情報源：UniProt）
              li
                strong Variant page：
                |
                | バリアントページのURL指定方法を拡張しました。
                ul.unordered-list
                  li 染色体番号、塩基位置、参照アレル、代替アレルによる指定
                    ul.unordered-list
                      li 例：
                        a.hyper-text.-internal(href='/variant/12-111803962-G-A') https://grch38.togovar.org/variant/12-111803962-G-A
                  li dbSNPのrs番号による指定
                    ul.unordered-list
                      li 例：
                        a.hyper-text.-internal(href='/variant/rs671') https://grch38.togovar.org/variant/rs671
          h3.sectiontitle 2024/12/3
          ul.unordered-list
            li
              strong Datasets:
              |
              |
              a.hyper-text.-external(href='https://mgend.ncgm.go.jp/') MGeND (Medical Genomics Japan Variant Database)
              |
              | からの臨床的意義を新たに追加しました。
              ul.unordered-list
                li MGeNDは日本医療研究開発機構（AMED）の
                  a.hyper-text.-external(href='https://www.amed.go.jp/program/list/14/05/006.html') 臨床ゲノム情報統合データベース整備事業
                  | によって収集されたゲノムバリアントおよびそれらの臨床的特性のデータベースです。
                  | このデータベースには、がん、希少・難治性疾患、感染症、認知症、難聴といった疾患のバリアント情報が含まれており、ClinVarの日本版に相当します。
                  | 
                li MGeNDの疾患名をClinVarで使用している
                  a.hyper-text.-external(href='https://www.ncbi.nlm.nih.gov/medgen') MedGen
                  | の語彙にできる限りマッピングしました。
            li
              strong Datasets:
              | 
              | JGA由来のデータセットを追加、一部名称を変更しました。
              ul.unordered-list
                li
                  a.hyper-text.-external(href='https://humandbs.dbcls.jp/') NBDCヒトデータベース
                  | /
                  a.hyper-text.-external(href='https://www.ddbj.nig.ac.jp/jga/index.html') Japanese Genotype-phenotype Archive(JGA)
                  | に寄託された全ゲノム配列を再解析し、アレル頻度やジェノタイプ数を集約し、JGA-WGSとして公開しました。参照ゲノムはGRCh38です。再解析の詳細については
                  | NBDCヒトデータベースの
                  a.hyper-text.-external(href='https://humandbs.dbcls.jp/data-processing') 「生殖系列の全ゲノムシークエンスデータの加工」
                  | をご覧ください。
                li JGAに寄託された全エクソーム配列の再解析により得られたアレル頻度データセットの名称をJGA-NGSから
                  a.hyper-text.-internal(href='/doc/ja/datasets/jga_wes') JGA-WES
                  | に変更しました。
            li
              strong Gene page:
              |
              | ミスセンスバリアントをタンパク質の立体構造上に可視化しました。
              ul.unordered-list
                li ミスセンスバリアントがタンパク質の立体構造に及ぼす影響の把握を支援します（例：
                  a.hypertext.-internal(href='/gene/1097#protein-structure') BRAF:p.V600E
                  | 、
                  a.hypertext.-internal(href='/gene/6407#protein-structure') KRAS:p.G12D
                  | )
                li
                  a.hyper-text.-external(href='https://pdbj.org/?lang=ja') Protein Data Bank Japan (PDBj)
                  |
                  | に登録されている構造または
                  a.hyper-text.-external(href='https://alphafold.ebi.ac.uk/') AlphaFold
                  | で予測した構造を選択できます。なお、表示される構造にはバリアントの影響は考慮されていません。
          h3.sectiontitle 2024/6/27
          ul.unordered-list
            li
              strong Datasets:
              |
              |
              a.hyper-text.-internal(href='datasets/jga_snp#diseases_jgad000123') 45疾患
              | のアレル頻度およびgenotype count（疾患別ならびに男女別）を、疾患ごとの情報として
              a.hyper-text.-internal(href='datasets/jga_snp') JGA-SNP
              |
              | に追加しました。
              ul.unordered-list
                li
                  a.hyper-text.-external(href='https://biobankjp.org/') バイオバンク・ジャパン
                  | と
                  a.hyper-text.-external(href='https://www.ims.riken.jp/') 理化学研究所
                  | がサンプルの収集と182,557人のSNPアレイによるジェノタイピングを実施しました。
                li 頻度は各バリアントレポートページの「Frequency」&gt; Dataset「JGA-SNP」&gt; Population「Total」を展開すると表示できます（
                  a.hyper-text.-internal(href='/variant/tgv66359566#frequency') tgv66359566の例
                  | )。Advanced searchの「Alternative allele frequency/count」では疾患および性別毎のアレル頻度を条件にバリアントを検索できます。
            li
              strong Datasets:
              |
              | 9,290人の日本人のアレル頻度およびgenotype countを
              a.hyper-text.-internal(href='datasets/ncbn') NCBNデータセット
              | として新たに追加しました（GRCh38のみ）。
              ul.unordered-list
                li
                  a.hyper-text.-external(href='https://ncbiobank.org/') ナショナルセンター・バイオバンクネットワーク(NCBN)
                  | がサンプルの収集と全ゲノム解析を実施しました。
                li 日本人集団の頻度は
                  a.hyper-text.-external(href='https://www.internationalgenome.org/') 国際1000ゲノムプロジェクト(1KGP)
                  | の2,504人の頻度と比較できます。日本人集団と1KGPのジョイントコーリングが実施されました。
                li 頻度は各バリアントレポートページの「frequency」&gt; Dataset「NCBN」 &gt; Population「Total」を展開すると表示できます (
                  a.hyper-text.-internal(href='/variant/tgv80918483#frequency') tgv80918483の例
                  | )。Advanced searchの「Alternative allele frequency/count」では集団別の頻度を条件にバリアントを検索できます。
          h3.sectiontitle 2024/2/28
          ul.unordered-list
            li
              strong Simple/Advanced search:
              |
              |
              a.hyper-text.-external(href='https://github.com/google-deepmind/alphamissense') AlphaMissense
              |
              | (
              a.hyper-text.-external(href='https://www.science.org/doi/10.1126/science.adg7492') Cheng et al.2023
              | )によるミスセンスバリアントの病原性予測結果を付与しました。
            li
              strong Datasets:
              |
              |
              a.hyper-text.-external(href='https://gnomad.broadinstitute.org/') Genome Aggregation Database (gnomAD)
              | をバージョン4.0に更新しました。
          h3.sectiontitle 2023/11/16
          ul.unordered-list
            li
              strong Datasets:
              |
              | ToMMo 14KJPNをToMMo 54KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/downloads/tommo-54kjpn-20230626-af_snvindelall') ToMMo 54KJPN Allele Frequency Panel
              | )に更新しました。
            li
              strong Advanced search:
              |
              | バリアントID（例：tgv47264307(TogoVar)、rs671(dbSNP)）で検索可能になりました。
            li
              strong Downloads:
              |
              | 全バリアントのアレル頻度がこれまでのタブ区切り形式に加え、
              |
              a.hyper-text.-external(href='https://samtools.github.io/hts-specs/VCFv4.4.pdf')
                | VCF形式
              | でダウンロードできるようになりました。
          h3.sectiontitle 2023/7/14
          ul.unordered-list
            li
              strong Simple/Advanced search:
              |
              | 検索結果をJSON、CSV、TSV形式でダウンロードできるようになりました。
            li
              strong Advanced search:
              |
              | Add conditionに疾患名(Disease)を追加しました。
              a.hyper-text.-external(href='https://www.ncbi.nlm.nih.gov/medgen/') MedGen
              | の疾患名で検索できます。検索対象には疾患オントロジー
              a.hyper-text.-external(href='https://monarchinitiative.org/') Mondo
              | 上の下位概念の疾患も含まれます。
          h3.sectiontitle 2022/11/1
          ul.unordered-list
            li
              strong URL:
              |
              | TogoVarのURLが
              a.hyper-text.-external(href='https://togovar.biosciencedbc.jp') https://togovar.biosciencedbc.jp
              | から
              a.hyper-text.-internal(href='https://togovar.org') https://togovar.org
              | に変わりました。
            li
              strong Simple/Advanced search:
              |
              | GRCh38の位置でもバリアントを検索できるようになりました。引き続きGRCh37の位置でも検索できます。
              ul.unordererd-list
                li
                  a.hyper-text.-internal(href='https://grch38.togovar.org') https://grch38.togovar.org
                  |
                  | (GRCh38)
                li
                  a.hyper-text.-internal(href='https://grch37.togovar.org') https://grch37.togovar.org
                  |
                  | (GRCh37)
            li
              strong Downloads:
              |
              | GRCh37に加え、GRCh38ベースのバリアントデータも一括ダウンロードできるようになりました。
              ul.unordererd-list
                li
                  a.hyper-text.-internal(href='https://grch38.togovar.org/downloads/release/current/grch38/') https://grch38.togovar.org/downloads/release/current/grch38/
                  |
                  | (GRCh38)
                li
                  a.hyper-text.-internal(href='https://grch37.togovar.org/downloads/release/current/grch37/') https://grch37.togovar.org/downloads/release/current/grch37/
                  |
                  | (GRCh37)
            li
              strong misc:
              |
              | TogoVarの提供者が
              a.hyper-text.-external(href='https://biosciencedbc.jp') 国立研究開発法人科学技術振興機構 NBDC事業推進部
              | から
              a.hyper-text.-external(href='https://dbcls.rois.ac.jp') 大学共同利用機関法人 情報・システム研究機構 データサイエンス共同利用基盤施設ライフサイエンス統合データベースセンター（DBCLS）
              | に変わりました。
          h3.sectiontitle 2022/8/5
          ul.unordered-list
            li
              strong Advanced search:
              | 
              a.hyper-text.-internal(href='/?mode=advanced') Advanced search
              | を公開しました。
            li
              strong Gene page/Disease page:
              | 1遺伝子（例：
              a.hyper-text.-internal(href='/gene/8618') PAX4
              |）および1疾患（例：
              a.hyper-text.-internal(href='/disease/C0023467') Acute myeloid leukemia 
              |）に関連するバリアント情報のページを公開しました。
            li
              strong Variant page/Gene page/Disease page:
              | 
              a.hyper-text.-external(href='https://www.ebi.ac.uk/gwas/') GWAS Catalog
              |に掲載されているゲノムワイド関連解析情報をバリアント、遺伝子、疾患のページに追加しました。
            li
              strong TogoVar API:
              | 
              a.hyper-text.-internal(href='/api') TogoVar API version 0.91
              | を公開しました。
          h3.sectiontitle 2021/12/16
          ul.unordered-list
            li
              strong Datasets:
              |  ToMMo 4.7KJPNをToMMo 8.3KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/202109/downloads#variant') ToMMo 8.3KJPN Allele Frequency Panel
              | )に更新しました。
            li
              strong Datasets:
              |  ExACをgnomAD v2.1.1 (
              a.hyper-text.-external(href='https://gnomad.broadinstitute.org/downloads') The Genome Aggregation Database
              | )に更新しました。
          h3.sectiontitle 2020/10/22
          ul.unordered-list
            li
              strong Keyword search:
              |
              a.hyper-text.-external(target='_blank', href='https://varnomen.hgvs.org/')  Human Genome Variation Society (HGVS) 表記
              | (例：
              a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:c.1510G&gt;A
              | 、
              a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:p.Glu504Lys
              | )で検索可能になりました。
          h3.sectiontitle 2020/7/27
          ul.unordered-list
            li
              strong Datasets:
              |  新たなデータセットとしてGEM-J WGA (
              a(href='/doc/ja/datasets/gem_j_wga') GEM-Japan Whole Genome Aggregation
              | )を追加し、ToMMo 3.5KJPNをToMMo 4.7KJPN (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/202001/downloads#variant') ToMMo 4.7KJPN Allele Frequency Panel
              | )に更新しました。また、ClinVarも更新しました。
            li
              strong Usability:
              |  Karyotypeによる検索ができるようになりました。
          h3.sectiontitle 2019/7/25
          ul.unordered-list
            li
              strong Keyword search:
              |  HGNC Gene Symbolの別名（例：PD-1、p53）で検索できるようになりました。
            li
              strong Filters:
              |  Alternative allele frequencyを検索条件にする場合に、検索対象としてユーザーが選択した「全てのDataset」または「いずれかのDataset」のどちらかを指定できるようになりました。
            li
              strong Filters:
              |  Consequence、SIFT、Polyphenの値でファセット検索可能になりました。
            li
              strong Filters:
              |  低品質のバリアントを非表示にできるようになりました。
            li
              strong Datasets:
              |  ToMMo 3.5KJPNをVer.2 (
              a.hyper-text.-external(href='https://jmorp.megabank.tohoku.ac.jp/201905/downloads/') ToMMo 3.5KJPNv2 Allele Frequency Panel
              | )に更新しました。ClinVar、Variant Effect Predictor (VEP)も更新しました。詳細は
              a(href='/doc/ja/datasets') Datasets
              | を参照ください。
            li
              strong Usability:
              |  Configurationメニューで表示項目の選択ができるようになりました。
            li
              strong Usability:
              |  ユーザーインターフェースを改善して使いやすくしました。
          h3.sectiontitle 2018/6/7
          ul.unordered-list
            li
              | TogoVarの公開を開始しました。詳細は
              a.hyper-text.-external(href='https://www.jst.go.jp/pr/announce/20180607/index.html') プレスリリース
              | を参照ください。
