%table#result_gene.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Name
  %tbody

%table#result_disease.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Location
      %th Phenotype
      %th Submissions
      %th Alleles
  %tbody

%table#result_variation.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Chrom
      %th Position
      %th Filter
      %th Annotation
      %th Allele Count
      %th Allele Number
      %th Allele Frequency
  %tbody
