.table_wrapper.mt-4
  %table#result.table.stripe.compact.nowrap
    %thead
      %tr
        -# Base Information
        %th
        %th ID
        %th Position
        %th Ref
        %th Alt

        -# Annotations
        %th Symbol
        %th Consequence

        -# Frequencies
        %th
          Frequency
          = fa_icon 'question-circle', id: 'freq_tooltip', class: 'gray-tooltip', 'data-toggle': 'tooltip', 'data-html': 'true', title: "#{render partial: 'layouts/freq_tooltip'}"

        -# Function
        %th SIFT
        %th Polyphen

        -# ClinVar
        %th
        %th ClinVar conditions
    %tbody

= content_for :javascript do
  :coffee
    frequency7 = (f, c) ->
      if c == 1
        return 'frequency_1_7'
      else if c == 0 || f == 0
        return 'frequency_0_7'
      else if f < 0.0001
        return 'frequency_2_7'
      else if f < 0.001
        return 'frequency_3_7'
      else if f < 0.01
        return 'frequency_4_7'
      else if f < 0.05
        return 'frequency_5_7'
      else if f < 0.5
        return 'frequency_6_7'
      else if f >= 0.5
        return 'frequency_7_7'
      else
        return 'frequency_none'

    sift_class = (v) ->
      if v < 0.05
        return 'sift_deleterious'
      else
        return 'sift_tolerated'

    polyphen_class = (v) ->
      if v > 0.908
        return 'polyphen_probably_damaging'
      else if v > 0.446 && v <= 0.908
        return 'polyphen_possibly_damaging'
      else if v <= 0.446
        return 'polyphen_benign'
      else
        return 'polyphen_unknown'

    update_total = (obj, dataset) ->
      for x in ['snv', 'insertion', 'deletion', 'indel', 'substitution']
        v = if obj[x] then obj[x] else 0
        $('#variant_type_cnt_' + x).text('(' + v + ')')

      for x in ['jga_ngs', 'jga_snp', 'tommo', 'hgvd', 'exac', 'clinvar']
        v = if dataset[x] then dataset[x] else 0
        $('#dataset_cnt_' + x).text('(' + v + ')')

    $ ->
      result_table = $('#result');
      result_table.DataTable
        ajax:
          url: 'list.json',
          type: 'POST',
          data: (d) ->
            d.term = $('#search_text').val()
            d.source = $("[name=source]:checked").map(() -> $(this).val()).get()
            d.freq_source = $("[name=frequency_data_source] option:selected").map(() -> $(this).val()).get()
            d.freq_relation = $("[name=frequency_relation] option:selected").map(() -> $(this).val()).get()
            d.freq_value = $("[name=frequency]").map(() -> $(this).val()).get()
            d.variant_type = $("[name=variant_type]:checked").map(() -> $(this).val()).get()

            return
          beforeSend: (xhr) ->
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        callback: (settings) ->
          total_variant_type = settings.json.total_variant_type
          total_dataset = settings.json.total_dataset
          update_total(total_variant_type, total_dataset)

        columns: [
          ## Base Information
          {
            data: 'variant_type'
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  data = '<span class="variant_type_' + data.replace(/\ /g, '_').toLowerCase() + '" />'
              return data
          }
          {
            data: 'tgv_id'
            render: (data, type, row, meta) ->
              if type == 'display'
                html = '<ul>'
                tgv_id = "<a target='_blank' href='variation?tgv_id=" + data + "'>tgv" + data + "</a>"
                html = html.concat('<li>', tgv_id, '</li>')
                if row && row.rs
                  html = html.concat('<li class="text-muted">', row.rs, '</li>')
                html = html.concat('</ul>')
                return html
              return data
          }
          {
            data: 'chromosome'
            render: (data, type, row, meta) ->
              if type == 'display'
                if !data
                  data = '?'
                if row && row.start
                  data = data.concat(':', row.start)

              return data
          }
          {
            data: 'reference'
            render: (data, type, row, meta) ->
              html = data
              if type == 'display'
                if data && data.length > 4
                  html = '<span title="' + data + '">' + data.substr(0, 4).concat('...') + '<br><span class="text-muted">(' + data.length + ')</span></span>'
              return html
          }
          {
            data: 'alternative'
            render: (data, type, row, meta) ->
              html = data
              if type == 'display'
                if data && data.length > 4
                  html = '<span title="' + data + '">' + data.substr(0, 4).concat('...') + '<br><span class="text-muted">(' + data.length + ')</span></span>'
              return html
          }
          ## End Base Information

          ## Molecular Annotation
          {
            data: 'symbol'
            defaultContent: []
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  data = '<ul>' + ('<li>' + symbol + '</li>' for symbol in data).join('') + '</ul>'
              return data
          }
          {
            data: 'transcripts.[].consequences'
            render: (data, type, row, meta) ->
              if type == 'display'
                consequences = [].concat.apply([], data).unique()
                data = '<ul>' + ('<li>' + label + '</li>' for label in consequences).join('') + '</ul>'
              return data
          }
          ## End Molecular Annotation

          ## ClinVar Annotation
          {
            data: 'clinvar.significances'
            defaultContent: ''
            className: 'dt-body-center'
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  data = ('<span class="significance_' + s.replace(/\ /g, '_').toLowerCase() + '" />' for s in data).join('')
                  return data
              return data
          }
          {
            data: 'clinvar.conditions'
            defaultContent: ''
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  return '<ul>' + ('<li>' + label + '</li>' for label in data).join('') + '</ul>'
              return data
          }
          ## End ClinVar Annotation

          ## Frequencies
          {
            data: null
            defaultContent: ''
            render: (data, type, row, meta) ->
              if type == 'display'
                html = ''
                if row.jga
                  f = frequency7(row.jga.frequency, row.jga.num_alt_alleles)
                  t = 'title="' + row.jga.frequency.toExponential(3) + '"'
                else
                  f = 'frequency_none'
                  t = 'title="No data"'
                html = html.concat('<span class="frequency7 tgv_frequency ' + f + '" ' + t + '></span>')
                if row.jga_snp
                  f = frequency7(row.jga.frequency, row.jga.num_alt_alleles)
                  t = 'title="' + row.jga.frequency.toExponential(3) + '"'
                else
                  f = 'frequency_none'
                  t = 'title="No data"'
                html = html.concat('<span class="frequency7 tgv_frequency ' + f + '" ' + t + '></span>')
                if row.tommo
                  f = frequency7(row.tommo.frequency, row.tommo.num_alt_alleles)
                  t = 'title="' + row.tommo.frequency.toExponential(3) + '"'
                else
                  f = 'frequency_none'
                  t = 'title="No data"'
                html = html.concat('<span class="frequency7 tommo_frequency ' + f + '" ' + t + '"></span>')
                if row.hgvd
                  f = frequency7(row.hgvd.frequency, row.hgvd.num_alt_alleles)
                  t = 'title="' + row.hgvd.frequency.toExponential(3) + '"'
                else
                  f = 'frequency_none'
                  t = 'title="No data"'
                html = html.concat('<span class="frequency7 hgvd_frequency ' + f + '" ' + t + '"></span>')
                if row.exac
                  f = frequency7(row.exac.frequency, row.exac.num_alt_alleles)
                  t = 'title="' + row.exac.frequency.toExponential(3) + '"'
                else
                  f = 'frequency_none'
                  t = 'title="No data"'
                html = html.concat('<span class="frequency7 exac_frequency ' + f + '" ' + t + '"></span>')
          }

          ## Function
          {
            data: 'transcripts.[].sift'
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  list = data.filter (x) -> x
                  return ('<div class="' + sift_class(x) + '">' + x + '</div>' for x in list).join('')
              else
                return data
          }
          {
            data: 'transcripts.[].polyphen'
            render: (data, type, row, meta) ->
              if type == 'display'
                if data
                  list = data.filter (x) -> x
                  return ('<div class="' + polyphen_class(x) + '">' + x + '</div>' for x in list).join('')
              else
                return data
          }
          ## End Function
        ]
      result_table.parent().find(".result-download-container").append("<a><i class='fa fa-file'></i> Download CSV</a>")
      $('#freq_tooltip').tooltip()
    return