%table#result_gene.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Name
  %tbody

%table#result_disease.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Location
      %th Phenotype
      %th Submissions
      %th Alleles
  %tbody
