%section.search-methods-container
  .row
    .col-lg-6
      .input-group
        %input#search_text.form-control{placeholder: 'Search for disease or gene symbol or rs...'}
        %span.input-group-btn
          %button#btn_search.btn.btn-primary{ type: 'button' } Search
          %button#btn_clear.btn.btn-secondary{ type: 'button' } Clear
  -#.form-inline.my-2
  -#  Reference Genome:
  -#  .form-check.form-check-inline.ml-2
  -#    %input#inlineRadio1.form-check-input{name: 'grch38', type: 'radio', value: 'grch38', checked: true}/
  -#    %label.form-check-label{for: 'grch38'} GRCh38
  -#  .form-check.form-check-inline.ml-2
  -#    %input#inlineRadio2.form-check-input{name: 'grch37', type: 'radio', value: 'grch37', disabled: true}/
  -#    %label.form-check-label{for: 'grch37'} hg19/GRCh37
  %small.form-text.text-muted<>
    Example - Disease:
    %a#ex_disease{href: 'javascript:void(0)', onClick: '$("#search_text").val("Breast-ovarian cancer, familial 2"); return false;'}<>
      Breast-ovarian cancer, familial 2
    , Gene:
    %a#ex_gene{href: 'javascript:void(0)', onClick: '$("#search_text").val("ALDH2"); return false;'}<>
      ALDH2
    , refSNP:
    %a#ex_rs{href: 'javascript:void(0)', onClick: '$("#search_text").val("rs114202595"); return false;'}<>
      rs114202595
    , TogoVar:
    %a#ex_tgv{href: 'javascript:void(0)', onClick: '$("#search_text").val("tgv421843"); return false;'}<>
      tgv421843
    , Position:
    %a#ex_position{href: 'javascript:void(0)', onClick: '$("#search_text").val("16:48258198"); return false;'}<>
      16:48258198
    , Region:
    %a#ex_region{href: 'javascript:void(0)', onClick: '$("#search_text").val("10:73270743-73376976"); return false;'}<>
      10:73270743-73376976
