%section.search-container
  .input-group
    %input#search_text.form-control{placeholder: 'Search for disease or gene symbol or rs...'}
    .input-group-append
      %button#btn_search.btn.btn-primary{ type: 'button' } Search
      %button#btn_clear.btn.btn-secondary{ type: 'button' } Clear
  %small.form-text.text-muted<>
    Example - Disease:
    %a#ex_disease{href: 'javascript:void(0)'}<>
      Breast-ovarian cancer, familial 2
    , Gene:
    %a#ex_gene{href: 'javascript:void(0)'}<>
      ALDH2
    , refSNP:
    %a#ex_rs{href: 'javascript:void(0)'}<>
      rs114202595
    , TogoVar:
    %a#ex_tgv{href: 'javascript:void(0)'}<>
      tgv421843
    , Position(GRCh.37/hg19):
    %a#ex_position{href: 'javascript:void(0)'}<>
      16:48258198
    , Region(GRCh.37/hg19):
    %a#ex_region{href: 'javascript:void(0)'}<>
      10:73270743-73376976
