%h3 Search
%section
  .row
    .col-lg-8
      .input-group
        .input-group-btn
          = select_tag 'search[type]',
                       options_for_select({'Gene': 'gene', 'Disease': 'disease', 'Variation': 'variation'}),
                       class: 'form-control'
        = text_field :search, :text, class: 'form-control', placeholder: 'BRCA1'
        %span.input-group-btn
          %button#btn_search.btn.btn-primary{ type: 'button' } Search
          %button#btn_clear.btn.btn-secondary{ type: 'button' } Clear

= content_for :javascript do
  = javascript_include_tag :root
