%section.search-methods-container
  .row
    .col-lg-6
      .input-group
        %input#search_text.form-control{placeholder: 'Search for disease or gene symbol or rs...'}
        %span.input-group-btn
          %button#btn_search.btn.btn-primary{ type: 'button' } Search
          %button#btn_clear.btn.btn-secondary{ type: 'button' } Clear
  -#.form-inline.my-2
  -#  Reference Genome:
  -#  .form-check.form-check-inline.ml-2
  -#    %input#inlineRadio1.form-check-input{name: 'grch38', type: 'radio', value: 'grch38', checked: true}/
  -#    %label.form-check-label{for: 'grch38'} GRCh38
  -#  .form-check.form-check-inline.ml-2
  -#    %input#inlineRadio2.form-check-input{name: 'grch37', type: 'radio', value: 'grch37', disabled: true}/
  -#    %label.form-check-label{for: 'grch37'} hg19/GRCh37
  %small.form-text.text-muted<>
    Example - Disease:
    %a#ex_disease{href: 'javascript:void(0)', onClick: '$("#search_text").val("Breast-ovarian cancer, familial 1"); return false;'}<>
      Breast-ovarian cancer, familial 1
    , Gene:
    %a#ex_gene{href: 'javascript:void(0)', onClick: '$("#search_text").val("BRCA2"); return false;'}<>
      BRCA2
    , refSNP:
    %a#ex_rs{href: 'javascript:void(0)', onClick: '$("#search_text").val("rs7988901"); return false;'}<>
      rs7988901
    , TogoVar:
    %a#ex_tgv{href: 'javascript:void(0)', onClick: '$("#search_text").val("tgv10000000"); return false;'}<>
      tgv10000000
    , Position:
    %a#ex_position{href: 'javascript:void(0)', onClick: '$("#search_text").val("13:32889080"); return false;'}<>
      13:32889080
    , Region:
    %a#ex_region{href: 'javascript:void(0)', onClick: '$("#search_text").val("13:32889785-32889787"); return false;'}<>
      13:32889785-32889787
