/*
 *= require_self
 */
@import "bootstrap";
@import "header";
@import "footer";

.spacer-10 {
  margin:0 !important;
  padding:0 !important;
  height:10px !important;
}

.spacer-20 {
  margin:0 !important;
  padding:0 !important;
  height:20px !important;
}

.spacer-30 {
  margin:0 !important;
  padding:0 !important;
  height:30px !important;
}

.spacer-40 {
  margin:0 !important;
  padding:0 !important;
  height:40px !important;
}

.spacer-50 {
  margin:0 !important;
  padding:0 !important;
  height:50px !important;
}
