$color_base_blue: #45b8cc;
$color_base_blue_dark: #33717f;

$color_btn_primary_hover_background: #33A5B7;
$color_btn_primary_hover_border: #2D9EB1;

$color_source_jga_ngs: #46b9cc;
$color_source_jga_snp: #46b9cc;
$color_source_tommo: #d37d99;
$color_source_hgvd: #2b6dbe;
$color_source_exac: #5a8c35;
$color_source_clinvar: #f8ac6b;
