@import 'bootstrap';
@import 'dataTables/jquery.dataTables';
@import 'dataTables/extras/dataTables.responsive';
@import 'colors';

.dataTables_wrapper {
  background-color: #fff;
  padding: 2rem 4rem;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  border-radius: 4px;

  .dataTables_processing {
    position: absolute;
    background: image-url('loading.gif') no-repeat 50% 66% white;
    color: #999;
    filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.2));
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    top: 140px;
    height: 80px;
    width: 300px;
    margin-left: -150px;
    z-index: 100;
  }

  .dataTables_scroll {
    .dataTables_scrollBody {
      min-height: 400px;
    }
  }

  .dataTables_info {
    padding: 3px 0 3px 5px;
    font-size: 14px;
  }

  .dataTables_paginate {
    float: none;
    text-align: center;
    padding: 30px 0 10px;
  }

  .dataTables_length {
    float: right !important;
    padding: 7px 13px 0;
  }

  @mixin ie7-inline-block() {
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
  }

  .pagination {
    display: block;
    margin: 2rem 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    ul {
      display: inline-block;
      position: relative;
      @include ie7-inline-block();
      margin-left: 0;
      margin-bottom: 0;
      padding: 0;
      border-radius: 4px;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));

      & > .active {
        & > a,
        & > span {
          color: #fff;
          cursor: default;
          background-color: $color_base_blue_dark;
        }
      }

      & > .disabled {
        & > span,
        & > a,
        & > a:hover,
        & > a:focus {
          color: #fff;
          background-color: #ccc;
          cursor: default;
        }
      }

      & > li {
        display: inline;

        & > a,
        & > span {
          display: inline-block;
          float: none;
          line-height: 1.4rem;
          padding: 4px 9px;
          background-color: $color_base_blue;
          color: #fff;
          border: none;
          text-decoration: none;
        }

        & > a:hover,
        & > a:focus {
          background-color: $color_base_blue_dark;
        }

        &.next {
          & > a,
          & > span {
            margin-left: .6em;
            border-radius: 11px;
          }
        }

        &.prev {
          & > a,
          & > span {
            margin-right: .6em;
            border-radius: 11px;
          }
        }
      }

      & > li:nth-last-of-type(3) {
        & > a,
        & > span {
          border-top-right-radius: 11px;
          border-bottom-right-radius: 11px;
          padding-right: 18px;
        }
      }

      & > li:nth-of-type(3) {
        & > a,
        & > span {
          border-top-left-radius: 11px;
          border-bottom-left-radius: 11px;
          padding-left: 18px;
        }
      }
    }
  }

  .pagination-slider {
    position: relative;
    height: 56px;
    clear: both;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    & > div {
      position: absolute;
    }
  }

  .pagination-slider-bar {
    width: 100%;
    background-color: #ddd;
    height: 4px;
    top: 34px;
  }

  .pagination-slider-current-bar {
    height: 4px;
    top: 34px;
    background-color: $color_base_blue;
  }

  .pagination-slider-dotted-line-left,
  .pagination-slider-dotted-line-right {
    border-top: dashed 1px $color_base_blue;
  }

  .pagination-slider-indicator {
    & > .inner {
      position: relative;
      cursor: pointer;
      padding: 0 13px;
      left: -50%;
      line-height: 2.6rem;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      border-radius: 13px;
      color: #fff;
      background-color: $color_base_blue;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1.3rem;
        height: 0.6rem;
        margin: 2.5rem auto 0;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 26 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0 13 12 13-12z' fill='%2343b9cc'/%3E%3C/svg%3E");
        background-size: 1.3rem 0.6rem;
      }
    }
  }
}
