@import '../../colors';

main {
  .stanza-wrap {
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-color: #fff;
    padding: 1rem;
  }

  & > .container-fluid {
    padding: 15px !important;

    & > section {
      // workaround for anchor jump with fixed header
      margin-top : -100px;
      padding-top : 100px;
    }
  }
}

#navbar-stanza {
  &.navbar {
    padding: 0;
    height: 4.6rem;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  }

  .navbar-inner {
    width: 100%;
    overflow: hidden;
    height: 4.6rem;

    .navbar-scroll {
      position: relative;
      z-index: 950;
      background-color: rgba(67, 185, 204, 0.9);
      height: 4rem;

      .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
        height: 10rem;
        min-width: 100%;

        .nav-item {
          height: 4rem;

          a {
            position: relative;
            padding: 1rem 1.5rem;
            color: rgba(255, 255, 255, 0.7);
            font-size: 1.6rem;
            font-weight: bold;
            text-decoration: none;

            &.active,
            &:hover,
            &:focus {
              color: #fff;
              background-color: transparent;
              box-shadow: none;
            }

            &.active {
              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1.3rem;
                height: 0.6rem;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 4rem auto 0;
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 26 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0 13 12 13-12z' fill='%2343b9cc' fill-opacity='.9'/%3E%3C/svg%3E");
                background-size: 1.3rem 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

#report-header {
  margin-bottom: 3rem;
  border-bottom: solid 3px #555;

  p.report-type {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 0.1rem 0.8rem;
    letter-spacing: 0.15em;
  }

  h1 {
    padding: 0;
    margin: 0;

    span + span {
      margin-left: 2rem;
    }

    span:before {
      color: $color_base_blue;
      font-size: 1.4rem;
      font-weight: lighter;
    }

    span#report-title-id:before {
      content: "ID: ";
    }

    span#report-title-label:before {
      content: "Label: ";
    }
  }
}

#nanostanzas {
  margin-bottom: 3rem;

  .nanostanza-container {
    height: 160px;
    background: image-url('loading.gif') no-repeat 50% 50% #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 2px 2px 0;
    float: none;
    overflow: hidden;
    overflow-x: auto;
    max-width: 100%;

    iframe {
      border: none;
      margin: 0;
      height: 160px;
      transition: transform 200ms ease-out 0s, opacity 200ms ease-out 0s;

      &.unload {
        opacity: 0;
        transform: scale(0.5);
      }
    }

    &[data-nanostanza-span="1"] iframe {
      width: 160px !important;
    }

    &[data-nanostanza-span="2"] iframe {
      width: 326px !important;
    }

    &[data-nanostanza-span="3"] iframe {
      width: 492px !important;
    }

    &[data-nanostanza-span="4"] iframe {
      width: 658px !important;
    }
  }
}
