/*
 *= require jquery-ui/all
 *= require_self
 */
@import 'colors';

main {
  margin-left: -26rem;
  width: 100%;
  padding: 1rem 1rem 2rem;

  .main_inner {
    margin-left: 26rem;
    overflow-x: auto; /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
  }
}

@media (min-width: 1500px) {
  main {
    margin-left: -40rem;

    .main_inner {
      margin-left: 40rem;
    }
  }
}

.search-container {
  position: relative;
  margin: 0.5rem;
  padding: 3rem 5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: #fff;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

  #search_text {
    font-size: 1.6rem;
  }

  .row > div {
    margin-left: auto;
    margin-right: auto;
  }
}

.result-container {
  position: relative;
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0);

  #search-alert {
    margin: 0.5rem;
  }
}

.ui-state-active {
  border: 1px solid $color_base_blue_dark !important;
  background: $color_base_blue !important;
}

.ui-autocomplete {
  li {
    position: relative;
  }

  li:first-child {
    padding-top: 2rem;

    &:before {
      position: absolute;
      content: 'Please select one from the list below to search gene or disease.';
      padding-left: 0.5rem;
      width: 100%;
      margin-top: -2rem;
      background-color: #f4f3f2;
    }
  }
}

.tooltip {
  font-size: 1rem !important;

  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: #f4f3f2;
    border-radius: .25rem;
  }

  .tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #f4f3f2;
  }

  .tooltip_polyphen,
  .tooltip_frequency,
  .tooltip_sift {
    div {
      margin: 1rem;
    }
  }
}
