/*
 *= require jquery-ui/all
 *= require_self
 */
@import 'colors';

main {
  margin-left: -26rem;
  width: 100%;
  padding: 1rem 1rem 2rem;

  .main_inner {
    margin-left: 26rem;
    overflow-x: auto; /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
  }
}

@media (min-width: 1500px) {
  main {
    margin-left: -40rem;

    .main_inner {
      margin-left: 40rem;
    }
  }
}

.search-container {
  position: relative;
  margin: 0.5rem;
  padding: 3rem 5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: #fff;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

  #search_text {
    font-size: 1.6rem;
  }

  .row > div {
    margin-left: auto;
    margin-right: auto;
  }
}

.result-container {
  position: relative;
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0);

  #search-alert {
    margin: 0.5rem;
  }
}

.ui-state-active {
  border: 1px solid $color_base_blue_dark !important;
  background: $color_base_blue !important;
}

.ui-autocomplete {
  li {
    position: relative;
  }

  li:first-child {
    padding-top: 2rem;

    &:before {
      position: absolute;
      content: 'Please select one from the list below to search gene or disease.';
      padding-left: 0.5rem;
      width: 100%;
      margin-top: -2rem;
      background-color: #F4F3F2;
    }
  }
}

.dataTables_wrapper {
  .table {
    margin: 0;

    thead th,
    thead td {
      border-top: none;
      border-bottom: 2px solid #111;
    }

    tbody td {
      border-top: 1px solid #dddddd;
      a {
        text-decoration: none;
      }

      [data-icon^='variant_type'] {
        min-width: 3rem;
        &:before {
          position: relative;
          margin: 0.5rem;
        }
      }

      [data-icon^='sift'],
      [data-icon^='polyphen'] {
        position: relative;
        padding-left: 2.5rem;

        &:before {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto auto auto 0;
        }
      }

      [data-source^='jga'] {
        background: $color_source_jga_ngs;
      }

      [data-source='tommo'] {
        background: $color_source_tommo;
      }

      [data-source='hgvd'] {
        background: $color_source_hgvd;
      }

      [data-source='exac'] {
        background: $color_source_exac;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .frequency_wrapper {
    margin: 0;
    padding: 5px 0;
    height: 46px;
  }
}

.tooltip {
  font-size: 1.4rem;
  line-height: 2.3rem;
  filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.2));

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    border: 2px solid $color_base_blue_dark;
    max-width: 100% !important;
    padding: 1rem;
    color: #000;
    background-color: #FFF;
    border-radius: 0.5rem;
  }

  &.bs-tooltip-auto[x-placement^=top],
  &.bs-tooltip-top,
  &.bs-tooltip-bottom {
    .arrow::before {
      border-top-color: $color_base_blue_dark;
      border-bottom-color: $color_base_blue_dark;
    }
  }

  div[data-icon] {
    position: relative;
    margin-left: 2.5rem;

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 0 auto -2.5rem;
    }
  }

  table.tooltip_table_row {
    margin-bottom: 0;

    thead {
      tr {
        th {
          padding-top: 2rem;

          span {
            &[data-icon]:before {
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: -2rem auto 0;
            }

            &[data-icon='jga_ngs'],
            &[data-icon='jga_snp'] {
              position: relative;
              color: $color_source_jga_ngs;
            }
            &[data-icon='tommo'] {
              position: relative;
              color: $color_source_tommo;
            }
            &[data-icon='hgvd'] {
              position: relative;
              color: $color_source_hgvd;
            }
            &[data-icon='exac'] {
              position: relative;
              color: $color_source_exac;
            }
          }
        }
      }
    }
  }
}
