%footer.footer
  .container-fluid
    .row
      .col-sm-3.col-md-2.hidden-xs-down
      .col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
        %a#rt-logo{href: 'https://biosciencedbc.jp', :target => "_blank"} Company Name
        %address
          Address:
          %br>/
          National Bioscience Database Center (NBDC)
          %br>/
          Japan Science and Technology Agency（JST）
          %br/
          5-3, Science Plaza 7F, Yonbancho, Chiyoda-ku, Tokyo 102-8666 Japan
          %br/
          Tel : +81-3-5214-8491
          %br/
          Fax : +81-3-5214-8470
        %span#copyright
          Copyright© 2018 Japan Science and Technology Agency. All Rights Reserved.
          Licensed under
          = link_to doc_terms_path do
            the Open Database License
          \/
          = link_to doc_policy_path do
            Site policy