%footer.footer
  .container-fluid
    %a#nbdc_logo{href: 'https://biosciencedbc.jp', :target => "_blank"} NBDC logo
    %address
      National Bioscience Database Center (NBDC)
      %br>/
      Japan Science and Technology Agency（JST）
      %br/
      5-3, Science Plaza 7F, Yonbancho, Chiyoda-ku, Tokyo 102-8666 Japan
      %br/
      Tel : +81-3-5214-8491
      %br/
      Fax : +81-3-5214-8470
    %p#copyright
      Copyright &copy; 2018 Japan Science and Technology Agency. All Rights Reserved.
      Licensed under
      = link_to doc_terms_path do
        the Open Database License
      \/
      = link_to doc_policy_path do
        Site policy
