.card-body.p-2
  %select{:name => "frequency_data_source"}
    %option{:value => "togovar"} JGA NGS
    %option{:value => "jga_snp"} JGA SNP
    %option{:value => "tommo"} 3.5KJPN
    %option{:value => "hgvd"} HGVD
    %option{:value => "exac"} ExAC
  %select{:name => "frequency_relation"}
    %option{:value => "lte"} &le;
    %option{:value => "gte"} &ge;
    %option{:value => "lt"} &lt;
    %option{:value => "gt"} &gt;
  %input{size: 7, name: 'frequency', placeholder: 'ex: 0.1'}
  %a.remove_freq_filter{href: 'javascript:void(0)'}
    %i.fa.fa-minus-circle
