.freq_tooltip_wrapper{align: 'left'}
  .freq_tooltip
    <b>Legend</b>
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_none
    %span Not Available
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_0_7
    %span Monomorphic(REF)
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_1_7
    %span Singleton
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_2_7
    %span &lt; 0.0001
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_3_7
    %span &lt; 0.001
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_4_7
    %span &lt; 0.01
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_5_7
    %span &lt; 0.05
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_6_7
    %span &lt; 0.5
  .freq_tooltip
    %span.frequency7.tgv_frequency.frequency_7_7
    %span &ge; 0.5
