- @page = OpenStruct.new(locale: @locale)
.form-inline
  = fa_icon('globe lg', class: 'px-2')
  %label.sr-only{for: 'page_locale'} Language
  = select :page, :locale, I18n.available_locales.map { |x| [I18n.t(x), x] }, {}, class: 'form-control', onchange: "setLocale(this);"

= content_for :javascript do
  :coffee
    @setLocale = (obj) ->
      idx = obj.selectedIndex
      locale = obj.options[idx].value
      window.location.href = "?locale=" + locale
      return
