%nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
  .nav.nav-pills.flex-column
    .card.m-2
      .card-header.p-2
        Variant Type
      .card-body.p-2
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'variant_type_1', value: '1'}/
          %label.form-check-label{for: 'variant_type_1'}
            SNV
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'variant_type_2', value: '1'}/
          %label.form-check-label{for: 'variant_type_2'}
            insertion
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'variant_type_3', value: '1'}/
          %label.form-check-label{for: 'variant_type_3'}
            deletion
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'variant_type_4', value: '1'}/
          %label.form-check-label{for: 'variant_type_4'}
            duplication
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'variant_type_5', value: '1'}/
          %label.form-check-label{for: 'variant_type_5'}
            indel

    .card.m-2
      .card-header.p-2
        Data Set
      .card-body.p-2
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'data_set_1', value: '1'}/
          %label.form-check-label{for: 'data_set_1'}
            JGA
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'data_set_2', value: '1'}/
          %label.form-check-label{for: 'data_set_2'}
            ToMMo 3.5KJPN
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'data_set_3', value: '1'}/
          %label.form-check-label{for: 'data_set_3'}
            HGVD
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'data_set_4', value: '1'}/
          %label.form-check-label{for: 'data_set_4'}
            ExAC
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'data_set_5', value: '1'}/
          %label.form-check-label{for: 'data_set_5'}
            ClinVar

    .card.m-2
      .card-header.p-2
        Clinical Significance
      .card-body.p-2
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_1', value: '1'}/
          %label.form-check-label{for: 'significance_1'}
            Conflicting interpretations
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_2', value: '1'}/
          %label.form-check-label{for: 'significance_2'}
            Benign
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_3', value: '1'}/
          %label.form-check-label{for: 'significance_3'}
            Likely benign
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_4', value: '1'}/
          %label.form-check-label{for: 'significance_4'}
            Uncertain significance
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_5', value: '1'}/
          %label.form-check-label{for: 'significance_5'}
            Likely pathogenic
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_6', value: '1'}/
          %label.form-check-label{for: 'significance_6'}
            Pathogenic
        .form-check
          %input.form-check-input{type: 'checkbox', id: 'significance_7', value: '1'}/
          %label.form-check-label{for: 'significance_7'}
            Risk factor
