.tooltip_polyphen_wrapper{align: 'left'}
  .tooltip_polyphen
    <b>Legend</b>
  .tooltip_polyphen
    %span.polyphen_probably_damaging
    %span Probably Damaging
  .tooltip_polyphen
    %span.polyphen_possibly_damaging
    %span Possibly Damaging
  .tooltip_polyphen
    %span.polyphen_benign
    %span Benign
  .tooltip_polyphen
    %span.polyphen_unknown
    %span Unknown
