%div.tooltip_polyphen.text-left
  %div
    %span.polyphen_probably_damaging
    %span Probably Damaging &gt; 0.908
  %div
    %span.polyphen_possibly_damaging
    %span Possibly Damaging &gt 0.446
  %div
    %span.polyphen_benign
    %span Benign &le; 0.446
  %div
    %span.polyphen_unknown
    %span Unknown
