%div.tooltip_frequency.text-left
  %div
    %span.frequency7.tgv_frequency.frequency_none
    %span Not Available
  %div
    %span.frequency7.tgv_frequency.frequency_0_7
    %span Monomorphic(REF)
  %div
    %span.frequency7.tgv_frequency.frequency_1_7
    %span Singleton
  %div
    %span.frequency7.tgv_frequency.frequency_2_7
    %span &lt; 0.0001
  %div
    %span.frequency7.tgv_frequency.frequency_3_7
    %span &lt; 0.001
  %div
    %span.frequency7.tgv_frequency.frequency_4_7
    %span &lt; 0.01
  %div
    %span.frequency7.tgv_frequency.frequency_5_7
    %span &lt; 0.05
  %div
    %span.frequency7.tgv_frequency.frequency_6_7
    %span &lt; 0.5
  %div
    %span.frequency7.tgv_frequency.frequency_7_7
    %span &ge; 0.5
