%div.tooltip_row
  %table.table.table-sm
    %thead
      %tr
        %th
        %th{ scope: 'col' } JGA-NGS
        %th{ scope: 'col' } JGA-SNP
        %th{ scope: 'col' } 3.5KJPN
        %th{ scope: 'col' } HGVD
        %th{ scope: 'col' } ExAC
    %tbody
      %tr
        %th{ scope: 'row' } Alt
        %th
        %th
        %th
        %th
        %th
      %tr
        %th{ scope: 'row' } Ref
        %th
        %th
        %th
        %th
        %th
      %tr
        %th{ scope: 'row' } F
        %th e
        %th d
        %th c
        %th b
        %th a
